.printArea {
    display: none;
}

@media print {
    .printArea {
        display: block;
    }

    .noprintArea {
        display: none;
    }
}

.small {
    letter-spacing: 0.5px !important;
}

hr {
    background-color: rgba(248, 248, 248, 0.667);
}

.bold {
    font-weight: 500;
}

.change-color {
    color: #FF7B0F !important;
}

.card-2 {
    box-shadow: 1px 1px 3px 0px rgb(112, 115, 139);
}

.fa-circle.active {
    font-size: 8px;
    color: #FF7B0F;
}

.fa-circle {
    font-size: 8px;
    color: #aaa;
}

.rounded {
    border-radius: 2.25rem !important;
}

.progress-bar {
    background-color: #FF7B0F !important;
}

.progress {
    height: 5px !important;
    margin-bottom: 0;
}

.Glasses {
    position: relative;
    top: -12px !important;
}

.card-footer {
    background-color: #FF7B0F;
    color: #fff;
}

.display-3 {
    font-weight: 500 !important;
}

.card-footer small {
    letter-spacing: 7px !important;
    font-size: 12px;
}

.border-line {
    border-right: 1px solid rgb(226, 206, 226)
}

.track {
    position: relative;
    background-color: #ddd;
    height: 7px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    margin-top: 50px
}

    .track .step {
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        width: 25%;
        margin-top: -18px;
        text-align: center;
        position: relative
    }

        .track .step.active:before {
            background: #FF5722
        }

        .track .step::before {
            height: 7px;
            position: absolute;
            content: "";
            width: 100%;
            left: 0;
            top: 18px
        }

        .track .step.active .icon {
            background: #ee5435;
            color: #fff
        }

    .track .icon {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-radius: 100%;
        background: #ddd
    }

    .track .step.active .text {
        font-weight: 400;
        color: #000
    }

    .track .text {
        display: block;
        margin-top: 7px
    }
