@model List<prjiSpanFinal.ViewModels.Item.CBiddingDetailWithMemberViewModel>


<div>
    <div class="d-flex fs-4 text-black">
        <div class="me-3">瀏覽摘要</div>
        <div class="opacity-50">詳細記錄</div>
    </div>

    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-2">

        </div>
        <div class="col-2">

        </div>
        <div class="col-1">

        </div>
        <div class="col-3">

        </div>
    </div>
</div>
