<div class="section noprintArea">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row text-center justify-content-between">
            
                <div class="col-md-2 col-xs-6">
                    <div class="lofooter-m">
                        <h3 class="footer-title">關於我們</h3>
                        <p>蝦到爆是一個讓您<br/>安心、快樂、自由<br />享受購物的網路平台</p>
                    </div>
                </div>
                <div class="col-md-3 col-xs-6">
                    <div class="lofooter-m">
                        <h3 class="footer-title ">聯繫我們</h3>
                        <ul class="lofooter-links text-start">
                            <li><a href="#"><i class="fa fa-map-marker"></i>台北市大安區復興南路一段390號2樓</a></li>
                            <li><a href="#"><i class="fa fa-phone"></i>(+886)2-6631-6588</a></li>
                            <li><a href="#"><i class="fa fa-envelope"></i>Shopdaobao@gmail.com</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="lofooter-m ">
                        <h3 class="footer-title ">關注我們</h3>
                        <ul class="lofooter-links text-start">
                            <li><a href="#"><i class="fa-brands fa-facebook"></i>Facebook粉絲團</a></li>
                            <li><a href="#"><i class="fa-brands fa-instagram"></i>Instagram官方帳號</a></li>
                            <li><a href="#"><i class="fa-brands fa-line"></i>Line官方帳號</a></li>
                            <li><a href="#"><i class="fa-brands fa-google"></i>官方網站</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-xs-6">
                    <div class="lofooter-m">
                        <h3 class="footer-title">客服中心</h3>
                        <ul class="lofooter-links ms-4 text-start">
                            <li><a href="#">幫助中心</a></li>
                            <li><a href="#">購買商品</a></li>
                            <li><a href="#">帳號問題</a></li>
                            <li><a href="#">付款方式</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
    <!-- /container -->
</div>