/*DeliveryShowCar main page*/

.itemImgDiv {
    width: 100px;
    aspect-ratio: 1/1;
}

.itemImgDiv img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
}

.countMinus, .countPlus {
    width: 20px;
    aspect-ratio: 1/1;
    border: 1px solid #7B7B7B;
}

.countMinus {
    border-radius: 5px 0 0 5px;
}

.countPlus {
    border-radius: 0 5px 5px 0;
}

.itemCount {
    border: 1px solid #7B7B7B;
    text-align: center;
    width: 100px;
}

.ship img {
    width: 20px;
    height: 20px;
}

.showCalTotalPriceVC {
    position: sticky;
    top: 80px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    /*margin: 0;*/
}

/*CalTotalPrice ViewComponent*/

.modal {
    position: fixed;
    top: 80px;
}
