@model prjiSpanFinal.ViewModels.Header.CHeader1ViewModel
@{ 
    iSpanProjectContext dbContext = new iSpanProjectContext();
    var q = dbContext.MemberAccounts.FirstOrDefault(a => a.MemberAcc == Model.MemberAcc);
}
<div class="sidemenu noprintArea">
    <div style="width: 180px;">
        <a href="@Url.Content("~/Seller/Center")" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#"></use></svg>
            <span class="賣家中心" >賣家中心</span>
        </a>
        <ul class="list-unstyled ps-0">
            <li class="mb-4">
                <div>
                    <img src="data:image;base64,@System.Convert.ToBase64String(Model.Mempic)" width="70" height="70" style="border-radius: 50%; float:left; padding-right:3px;" /><br /><span style="font-weight:bold">@Model.MemberAcc</span><br /><a asp-action="Edit" asp-controller="Member">編輯我的資料</a>
                </div>
            </li>
            <li class="mb-1" style="clear: left; ">
                <div class="border-bottom my-3"></div>
                <i class="fa-solid fa-xl fa-box"></i><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed " data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                    商品管理
                </button>
                <div class="sellerleftsiderbar collapse show" id="home-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-action="NewIndex" class="link-dark d-inline-flex text-decoration-none rounded my-1">我的商品</a></li>
                        <li><a asp-action="Create" class="link-dark d-inline-flex text-decoration-none rounded my-1">新增商品</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <i class="fa-solid fa-xl fa-list"></i><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    訂單管理
                </button>
                <div class="sellerleftsiderbar collapse show" id="dashboard-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-action="Order" class="link-dark d-inline-flex text-decoration-none rounded my-1">我的銷售</a></li>
                        <li><a asp-action="Order" class="link-dark d-inline-flex text-decoration-none rounded my-1">退貨/退款</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <i class="fa-solid fa-xl fa-truck"></i><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                    物流付款
                </button>
                <div class="sellerleftsiderbar collapse show" id="orders-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-action="Order" class="link-dark d-inline-flex text-decoration-none rounded my-1">待出貨</a></li>
                        <li><a asp-action="Shipper" class="link-dark d-inline-flex text-decoration-none rounded my-1">物流/付款設定</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <i class="fa-solid fa-xl fa-gears"></i><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#court-collapse" aria-expanded="false">
                    賣場設定
                </button>
                <div class="sellerleftsiderbar collapse show" id="court-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-action="設定分類" asp-controller="SalesCourt" class="link-dark d-inline-flex text-decoration-none rounded my-1">設定分類</a></li>
                        <li><a asp-action="修改關於我?id=@q.MemberId"  asp-controller="SalesCourt" class="link-dark d-inline-flex text-decoration-none rounded my-1">編輯關於我</a></li>
                        <li><a asp-action="修改關於我" asp-controller="SalesCourt" class="link-dark d-inline-flex text-decoration-none rounded my-1">編輯賣場資訊</a></li>
                    </ul>
                </div>
            </li>
            <li class="border-top my-3"></li>
            <li class="mb-1">
                <i class="fa-solid fa-xl fa-tag"></i><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                    行銷活動
                </button>
                <div class="sellerleftsiderbar collapse show" id="account-collapse">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li><a asp-action="Event" class="link-dark d-inline-flex text-decoration-none rounded my-1">我的活動</a></li>
                        <li><a asp-action="AD" class="link-dark d-inline-flex text-decoration-none rounded my-1">蝦爆廣告</a></li>
                        <li><a asp-action="Coupon" class="link-dark d-inline-flex text-decoration-none rounded my-1">優惠劵</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>