@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "AD";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>
        .內文優惠劵 {
            font-weight: 700;
            font-size: 30px;
            height: 80px;            
        }

        .高度{
            height:80px;            
        }

        .背色 {
            background-color: lightyellow
        }
        .置中 {
            display: flex;
            align-items: center; 
        }
    </style>
}


<div class="row ">
    <div class="col-2"><vc:seller-ui></vc:seller-ui></div>
    <div class="col-10 ">
        <div class="mt-3">@await Component.InvokeAsync("seller跑條", new { page = 1 })</div>
        <h2 class="mt-4 mb-2">蝦到爆廣告</h2>
        
        <div>
            <div class="">
                <table class="">
                    <tr class="row 高度 背色"><td><h4 class="m-3 pt-2">商品名稱：(新增的商品)</h4></td></tr>
                    <tr class="row bg-light py-3 border-bottom">
                        <td class="col-1 置中"><input type="checkbox" /></td>
                        <td class="col-2 置中"><h5>優先曝光</h5></td>
                        <td class="col-6 pt-3">
                            <input class="form-check-input mx-3" type="radio" />420  元 /  10天
                            <input class="form-check-input mx-3" type="radio" />690  元 /  20天
                            <input class="form-check-input mx-3" type="radio" />860  元 /  30天
                            <p>於分類頁、搜尋結果頁的商品列表中，此項商品將顯示於上方的優先曝光專區。購買後30分鐘內生效。</p>
                        </td>
                        <td class="col-3">
                            <input id="startDate" class="form-control orderdatepicker w-75" type="date"> ~
                            <input id="endDate" class="form-control orderdatepicker w-75" type="date">
                        </td>
                    </tr>
                    <tr class="row py-3 border-bottom 背色">
                        <td class="col-1 置中"><input type="checkbox" /></td>
                        <td class="col-2 置中"><h5>重點標題</h5></td>
                        <td class="col-6 pt-3">
                            <input class="form-check-input mx-3" type="radio" />50  元 /  10天
                            <input class="form-check-input mx-3" type="radio" />70  元 /  20天
                            <input class="form-check-input mx-3" type="radio" />100  元 /  30天
                            <p>於分類頁、搜尋結果頁及您的賣場中，此項商品名稱將以粗體方式突顯效果。購買後5分鐘內生效。</p>
                        </td>
                        <td class="col-3">
                            <input id="startDate" class="form-control orderdatepicker w-75" type="date"> ~
                            <input id="endDate" class="form-control orderdatepicker w-75" type="date">
                        </td>
                    </tr>
                    <tr class="row bg-light py-3 border-bottom">
                        <td class="col-1 置中"><input type="checkbox" /></td>
                        <td class="col-2 置中"><h5>亮眼底色</h5></td>
                        <td class="col-6 pt-3">
                            <input class="form-check-input mx-3" type="radio" />150  元 /  10天
                            <input class="form-check-input mx-3" type="radio" />250  元 /  20天
                            <input class="form-check-input mx-3" type="radio" />350  元 /  30天
                            <p>於分類頁、搜尋結果頁及您的賣場中，此項商品名稱將以顯著底色突顯效果。購買後5分鐘內生效。</p>
                        </td>
                        <td class="col-3">
                            <input id="startDate" class="form-control orderdatepicker w-75" type="date"> ~
                            <input id="endDate" class="form-control orderdatepicker w-75" type="date">
                        </td>
                    </tr>
                    <tr class="text-center row 高度 背色 pt-4"><td class=""><h3>此次廣告消費0元</h3></td></tr>
                </table>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7">
                        <input type="submit" value="下一步" class="btn btn-warning m-4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
}
