@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "AD";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>
    </style>
}
<vc:seller-ui></vc:seller-ui>
<div class="row">
    <div class="col-1"></div>
    <div class="col-11 ">
        <div class="border rounded-2">
            <h2 class="d-flex justify-content-center">蝦到爆廣告</h2>
            <button class="btn btn-warning float-end w-25 建立按鈕" data-bs-toggle="modal" data-bs-target="#exampleModal">新增廣告</button>
        </div>
        <div>
        </div>
    </div>
</div>
        @section Scripts
{
        }
