@addTagHelper *, prjiSpanFinal
@model prjiSpanFinal.ViewModels.seller.CSellerADViewModel
@{
    ViewData["Title"] = "AD";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <link href="~/css/SellerUI/SellerAD.css" rel="stylesheet" />
    <style>
        .內文優惠劵 {
            font-weight: 700;
            font-size: 30px;
            height: 80px;
        }

        .高度 {
            height: 80px;
        }

        .背色 {
            background-color: lightyellow
        }

        .置中 {
            display: flex;
            align-items: center;
        }
    </style>
}

<div class="modal fade" id="addADItem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">選擇商品</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label>商品名稱:</label>
                <div class="d-flex flex-wrap justify-content-center align-items-center" id="modal-Item-Box">
                    
                </div>
            </div>
            <div class="modal-footer">
                <button id="save" type="button" class="btn btn-warning">新增</button>
                <button id="close" type="button" class="btn btn-light" data-bs-dismiss="modal">取消</button>
            </div>
        </div>
    </div>
</div>



<div class="row ">
    <div class="col-2"><vc:seller-ui></vc:seller-ui></div>
    <div class="col-10 ">
        <h2 class="mt-4 mb-2">蝦到爆廣告</h2>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addADItem">
            加入選取產品
        </button>
        <div>
            <div class="">
                <table class="">
                    <tr class="row 高度 背色"><td><h4 class="m-3 pt-2">商品名稱：(新增的商品)</h4></td></tr>
                    <tr class="row bg-light py-3 border-bottom">
                        <td class="col-1 置中"><input type="checkbox" /></td>
                        <td class="col-2 置中"><h5></h5></td>
                        <td class="col-6 pt-3">
                            <input class="form-check-input mx-3" type="radio" />420  元 /  10天
                            <input class="form-check-input mx-3" type="radio" />690  元 /  20天
                            <input class="form-check-input mx-3" type="radio" />860  元 /  30天
                            <p>於分類頁、搜尋結果頁的商品列表中，此項商品將顯示於上方的優先曝光專區。購買後30分鐘內生效。</p>
                        </td>
                        <td class="col-3">
                            <input id="startDate" class="form-control orderdatepicker w-75" type="date"> ~
                            <input id="endDate" class="form-control orderdatepicker w-75" type="date">
                        </td>
                    </tr>
                    <tr class="text-center row 高度 背色 pt-4"><td class=""><h3>此次廣告消費0元</h3></td></tr>
                </table>
                <div class="row">
                    <div class="col-5"></div>
                    <div class="col-7">
                        <input type="submit" value="下一步" class="btn btn-warning m-4" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        // Modal運作時當前勾選
        let ModelnowChecked;
        // 按下確認存取商品ID
        let itemID;
        // 按下確認存取 勾選
        let temp;
        // Modal
        let Model = $("#addADItem");
        // CheckBox
        let ModelCheckBox;
        let ModelItemArea = $("#modal-Item-Box");
        let nowpage = 1;

        Model.on("show.bs.modal", function (evt) {
            nowpage = 1;
            getItem();
            ModelCheckBox = $(".Item-check");
            if (ModelCheckBox.val() == itemID) {
                console.log($(this));
            }
        })
        Model.on("hidden.bs.modal", function (evt) {
            ModelCheckBox.prop("checked", false);
        });

        ModelItemArea.on("click", function (evt) {
            if ($(event.target).is(":checked")) {
                ModelnowChecked = $(event.target);
                ModelCheckBox.prop("checked", false);
                ModelnowChecked.prop("checked", true);
            }
            else {
                ModelnowChecked.prop("checked", false);
            }
        })

        $("#save").click(function (evt) {
            if (ModelCheckBox.is(":checked")) {
                temp = ModelnowChecked;
                itemID = ModelnowChecked.val();
                Model.modal('hide');
            }
        })

        function getItem() {
            $.post("getItem", { nowpage: nowpage }, function (data) {
                setItem(data);
            })
        }

        function setItem(data) {
            ModelItemArea.html("");
            res = "";
            if (data.length > 0) {
                for (let i = 0; i < data.length;i++)
                        {
                    let productLink = `@Url.Content("~/Item/Index")` + "?id=" + data[i].product.productId;
                    res+=`  <div class="modal-Prod">
                                <div class="modal-Prod-Body">`
                                    if (data[i].pic != null)
                                    {
                                        res += `<img src="data:image;base64,${data[i].pic}" class="modal-Prod-Pic" alt="" />`
                                    }
                                    else
                                    {
                                        res +=`<img src="#" class="modal-Prod-Pic" alt="此商品沒有圖片" />`
                                    }
                    res +=`<div class="modal-Prod-ItemTilte">
                                        <a class="linknoline" href="${productLink}">
                                            ${data[i].product.productId} -
                                            ${data[i].product.productName}
                                        </a>
                                    </div>`
                    if (data[i].price.length == 1)
                                        {
                        res +=`<div class="Item-Price">$` + `${Math.round(data[i].price[0])}</div>`
                    }
                    else if (data[i].price.length == 2)
                    {
                        res += `<div class="Item-Price">$` + `${Math.round(data[i].price[0])} - $` + `${Math.round(data[i].price[1])}</div>`
                    }
                    res +=`<div class="Item-Checkbox">`
                    if (data[i].product.productStatusId != 0)
                    {
                        res += `<input type="checkbox" class="Item-check" disabled value="${data[i].product.productId}" />`
                    }
                    else
                    {
                        res += `<input type="checkbox" class="Item-check" value="${data[i].product.productId}" />`
                    }
                    res += `</div>
                                </div>
                            </div>`
                }
            } else {
                res =`<div>無可訂閱廣告的商品！</div>`
            }
            ModelItemArea.html(res);
        }
    </script>
    
}
