
@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Center";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>
        .h3{
            margin-left: 10px;
        }
        h3{
            color:gray;
        }
        h2{
            color:darkorange;
        }
    
    
    
    
    </style>
}
<vc:seller-ui></vc:seller-ui>
<div class="border overflow-auto">
    <h2 class="d-flex justify-content-center">賣家首頁</h2>
    <div class="d-flex justify-content-start">
        <h3>銷售數據</h3>
    </div>
    <div class="d-flex justify-content-center">
    <iframe title="power bi" width="900" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMTVkYmUxZWYtYTM1Zi00ZmZjLWJmMTUtN2M1YjQ1YWVlNTJjIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>




</div>









@section Scripts
{
    <script src="~/js/sidebars.js"></script>



}
