
@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Center";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>
        .h3 {
            margin-left: 10px;
        }

        h3 {
            color: gray;
        }

        td {
            width: 200px;
            height: 70px;
            text-align: center;
            align-items: center;
            margin: 3px;
            font-size: 18px;

        }
        .顯示 {
            font-size: 21px;
            color: #EE7700;
        }
    </style>
}
<div class="row">
    <div class="col-2"><vc:seller-ui></vc:seller-ui></div>
    <div class="col-9 overflow-auto">
        <h2 class="d-flex justify-content-center">賣家首頁</h2>
        <div class="d-flex justify-content-start mt-2">
            <h3>待處理事項</h3>
        </div>
        <div class="border rounded-2 my-2 row shadow-sm mb-3 bg-body rounded">

            <table class="d-flex justify-content-center my-4">
                <tr>
                    <td class="border-end"><button type="button" class="btn btn-light" id="btn1"><span class="顯示">2</span><br /> 待付款訂單</button></td>
                    <td class="border-end"><button type="button" class="btn btn-light" id="btn2"><span class="顯示">3</span><br />待出貨訂單</button></td>
                    <td class="border-end"><button type="button" class="btn btn-light" id="btn3"><span class="顯示">1</span><br />已出貨訂單</button></td>
                    <td><button type="button" class="btn btn-light"><span class="顯示" id="btn4">0</span><br />待取消訂單</button></td>
                </tr>
                <tr>
                    <td class="border-end"><button type="button" class="btn btn-light" id="btn5"><span class="顯示">0</span><br />待退貨退款</button></td>
                    <td class="border-end "><button type="button" class="btn btn-light" id="btn6"><span class="顯示">0</span><br />已禁賣商品</button></td>
                    <td class="border-end"><button type="button" class="btn btn-light" id="btn7"><span class="顯示">7</span><br />已售完商品</button></td>
                    <td><button type="button" class="btn btn-light"><span class="顯示" id="btn8">1</span><br />待確認活動</button></td>
                </tr>
            </table>
        </div>

        <p class="border-bottom my-4"></p>

        <div class="d-flex justify-content-start mt-1">
            <h3>數據分析</h3>
        </div>
        <div class="border rounded-2 my-2 row shadow-sm mb-3 bg-body rounded">

            <div class="d-flex justify-content-start">
                <iframe title="power bi" width="1300" height="900" src="https://app.powerbi.com/view?r=eyJrIjoiMTVkYmUxZWYtYTM1Zi00ZmZjLWJmMTUtN2M1YjQ1YWVlNTJjIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
<script>
    for (let i = 1; i < 9; i++) {
        $(`#btn${i}`).click(function () {
            location.href = "/Seller/Order"
        })
    }
</script>
}
