@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Create";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>
        .描述欄位 {
            width: 680px;
            height: 200px;
            resize: none;
        }

        label {
            font-size: 20px;
            font-weight: 600;
            padding-block: 3px;
        }

        .名稱寬 {
            width: 50px;
        }

        .btntype {
            height: 40px;
            width: 700px;
            border: dashed;
            border-radius: 7px;
            border-color: skyblue;
            background-color: white;
        }

        .delete, .add {
            height: 50px;
            border-radius: 25px;
            width: 50px;
            font-size: 10px;
        }

        物流 {
            width: 880px;
        }
    </style>
}
<vc:seller-ui></vc:seller-ui>
<div class="row border overflow-auto">
    <div class="col-1"></div>
    <div class="col-11 ">
        <h2 class="d-flex justify-content-start mb-2">新增商品</h2>
        <div class="row">
            <div class="排版">
                <h4 class=" mb-4">商品資訊</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group d-flex justify-content-around ">
                    <label class="名稱寬">名稱</label>
                    <input class="form-control " />
                    <span class="text-danger"></span>
                </div>
                <div class="d-flex justify-content-around ">
                    <label class="名稱寬 mt-2">類別</label>
                    <select class="form-select w-50 mt-3" aria-label="Default select example ">
                        <option value="1">女生衣著</option>
                        <option value="2">書籍及雜誌期刊</option>
                        <option value="3">男生衣著</option>
                        <option value="4">居家生活</option>
                        <option value="5">運動/健身</option>
                        <option value="6">美食、伴手禮</option>
                    </select>
                    <select class="form-select w-50 mt-3" aria-label="Default select example ">
                        <option selected>T恤</option>
                        <option value="1">長褲</option>
                        <option value="2">內睡衣</option>
                        <option value="3">外套</option>
                        <option value="4">其他</option>
                        <option value="5">針織/毛衣</option>
                        <option value="6">多件式套裝</option>
                    </select>
                </div>

                <div class="d-flex justify-content-around ">
                    <label class="名稱寬 mt-2">規格</label>
                    <button class="btntype mt-3 ">新增規格</button>        @*    button  在這   *@
                    <span class="text-danger"></span>
                </div>
                <div class="addStyle">
                </div>
                <div class="">
                    <label class="名稱寬 mt-2">照片</label>
                    <div class="d-flex justify-content-around ">
                        <input type="file" class="form-control mt-3" />
                        <input type="file" class="form-control mt-3" />
                    </div>
                    <div class="d-flex justify-content-around ">
                        <input type="file" class="form-control mt-3" />
                        <input type="file" class="form-control mt-3" />
                    </div>
                    <div class="d-flex justify-content-around ">
                        <input type="file" class="form-control mt-3" />
                        <input type="file" class="form-control mt-3" />
                    </div>
                </div>
                <div class="d-flex justify-content-start ">
                    <label class="名稱寬 mt-2 ">描述</label>
                    <textarea class="form-control  描述欄位 mt-3" aria-label="With textarea"></textarea>
                </div>
                <div class="form-group d-flex justify-content-start ">
                    <label class="名稱寬 mt-2">物流</label>
                    <select class="form-select w-50 mt-3" aria-label="Default select example ">
                        <option value="1">全家便利商店</option>
                        <option value="2">7-ELEVEN</option>
                        <option value="3">黑貓宅急便</option>
                        <option value="4">大榮貨運</option>
                        <option value="5">自取</option>
                    </select>
                </div><br />
                <div class="row ">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <input type="submit" value="新增" class="btn btn-warning" onclick="return confirm('新增成功')" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/sidebars.js"></script>
    <script>
        let 規格按鈕 = document.querySelector(".btntype");
        let 新增樣式 = document.querySelector(".addStyle");
        let 刪除樣式 = document.querySelector("delete");

        規格按鈕.addEventListener("click", () => {
            新增樣式.innerHTML +=
                `<div class="d-flex justify-content-around ">
                            <label class="名稱寬 mt-4">規格</label>
                            <input class="form-control m-3 w-25" />
                            <label class="名稱寬 mt-4">數量</label>
                            <input class="form-control m-3 w-25" />
                            <label class="名稱寬 mt-4">售價</label>
                            <input class="form-control m-3 w-25" />
                            <button class="btn btn-danger delete m-3 deletebtn">X</button>
                        </div>`;
        })

        $(".addStyle").on("click", ".deletebtn", function () {
            $(this).closest("div").remove();
        });
    </script>
}