
@{
    ViewData["Title"] = "Create";
}
<link type="text/css" rel="stylesheet" href="~/css/sidebars.css" />
<link href="~/css/features.css" rel="stylesheet" />
<head>
    <style>
        .排版 {
            margin-left: 250px;
            padding-block: 2px;
            width: 500px
        }

        .左側欄 {
            text-align-last: center;
            font-size: 20px
        }

        .賣家中心 {
            font-size: 25px;
            font-weight: 900
        }
    </style>
</head>
<body>
    <div class="menu" style="float:left">
        <div style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
                <span class="賣家中心">賣家中心</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <img src="~/img/商品管理.png" /><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed " data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                        商品管理
                    </button>
                    <div class="左側欄 " id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">我的商品</a></li>
                            <li><a asp-action="Create" class="link-dark d-inline-flex text-decoration-none rounded">新增商品</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">商品違規</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <img src="~/img/訂單管理.png" /><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                        訂單管理
                    </button>
                    <div class="左側欄" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">我的銷售</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">不成立</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">退貨/ 退款</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <img src="~/img/物流中心.png" /> <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                        物流中心
                    </button>
                    <div class="左側欄" id="orders-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">待出貨 </a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">批次出貨</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">物流設定</a></li>
                        </ul>
                    </div>
                </li>
                <li class="border-top my-3"></li>
                <li class="mb-1">
                    <img src="~/img/行銷活動.png" /><button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#account-collapse" aria-expanded="false">
                        我的行銷活動
                    </button>
                    <div class="左側欄" id="account-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">我的行銷活動...</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">蝦皮廣告</a></li>
                            <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">優惠劵</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <script src="~/js/sidebars.js"></script>
    </div>

    <div class="text-center  ">
        <h4>新增商品</h4>
        <div class="row">
            <div class="排版 ">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label class="control-label">商品名稱</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">成本</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">數量</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">售價</label>
                        <input class="form-control" />
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">照片</label>
                        <input type="file" class="form-control" />
                        <span class="text-danger"></span>
                    </div><br />
                    <div class="btn btn-outline-warning">
                        <input type="button" value="新增" class="form-control" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>