@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "OrderDetail";
}
@section Styles
{
    <link href="~/css/Order/detail.css" rel="stylesheet" />
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
}
<vc:seller-ui></vc:seller-ui>
<h2 class="d-flex justify-content-center">訂單明細</h2>
<vc:order-detail></vc:order-detail>

@section Scripts
{
}
