@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Order";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <link href="~/css/DataTable/datatable.css" rel="stylesheet" />
    <style>
        .modal-dialog {
            top: 7rem !important;
        }
    </style>
}

<vc:seller-ui></vc:seller-ui>
<h2 class="d-flex justify-content-center">我的銷售</h2>
<div id="orderdetaildiv">
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-11">
            <div class="ordersearchbar">
                <input type="text" class="form-control rounded" placeholder="搜尋訂單" aria-label="Search" aria-describedby="search-addon" style="display: inline; width: 400px;" id="orderkeyword" />
                <span>
                    <input id="startDate" class="form-control orderdatepicker" type="date" /> ~ <input id="endDate" class="form-control orderdatepicker" type="date" /> <input id="btnDate" class="btn btn-primary" value="搜尋" type="button" />
                </span>
            </div>
            <div class="ordersearchbar">
                <button type="button" id="receiveall" data-bs-toggle="modal" href="#staticBackdrop5" class="btn btn-success">一鍵出貨</button>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active ordernavtabs" aria-current="page" href="#">總覽</a>
                    <input type="hidden" class="ordershipperstatus" value="0" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">訂單成立</a>
                    <input type="hidden" class="ordershipperstatus" value="2" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已付款</a>
                    <input type="hidden" class="ordershipperstatus" value="3" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已出貨</a>
                    <input type="hidden" class="ordershipperstatus" value="4" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已到貨</a>
                    <input type="hidden" class="ordershipperstatus" value="5" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">退貨處理中</a>
                    <input type="hidden" class="ordershipperstatus" value="8" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">待評價</a>
                    <input type="hidden" class="ordershipperstatus" value="6" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已完成</a>
                    <input type="hidden" class="ordershipperstatus" value="7" />
                </li>
            </ul>
            <table id="ordertable" class="table table-hover dataTable">
                <thead>
                    <tr>
                        <td width="80px">訂單資料</td>
                        <td class="th-sm sorting sorting_desc" id="ordertime" width="86px">結帳時間</td>
                        <td>商品詳情</td>
                        <td class="th-sm sorting" id="ordersales" width="80px">訂單金額</td>
                        <td width="80px">訂單狀態</td>
                        <td width="72px">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    操作
                                </label>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody id="orderlistbody">
                </tbody>
            </table>
            <div class="row ">
                <div class="d-flex justify-content-center">
                    <select style="width:150px" class="form-select form-select-lg mb-3" id="pagecountselect" aria-label=".form-select-lg example">
                        <option value="1">每頁1個</option>
                        <option value="5" selected>每頁5個</option>
                        <option value="10">每頁10個</option>
                        <option value="20">每頁20個</option>
                    </select>
                </div>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" id="orderpageup">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" id="orderpagedown">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="d-flex justify-content-center">
                    <span id="totalpagesdisplay"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">評價買家</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>請選擇評價星數: </div>
                <div>
                    @{
                        for (int i = 1; i <= 5; i++)
                        {
                                                    <i class="star itemQualityStar fa-regular fa-star me-1"></i>
                        }
                    }
                </div>
                <div id="commentResult" class="text-black-50"></div>
                <input type="hidden" id="orderhiddenstar" name="itemStar" value="" />
                <div>請輸入補充資訊: </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="ordercommentsubmit" data-bs-target="#staticBackdrop2" data-bs-toggle="modal">送出</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel2">您的評價已送出</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>感謝您的評價。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel3">確定要出貨嗎</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>請確定寄出商品後再做出貨確認。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="orderrecsubmit" data-bs-target="#staticBackdrop4" data-bs-toggle="modal">送出</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop4" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel4">您已出貨商品</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>出貨完成後系統會自動發確認信給買家。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel5">確定要全部出貨嗎</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>請確定寄出商品後再做出貨確認。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="orderrecallsubmit" data-bs-target="#staticBackdrop6" data-bs-toggle="modal">送出</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop6" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="staticBackdropLabel6">您已出貨全部<span id="reccount"></span>件商品</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>出貨完成後系統會自動發確認信給買家。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel7" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel7">申請</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 id="returnreason">原因:</h3>
                <div id="returnreasonname"></div>
                <h4>補充資訊:</h4>
                <div id="returnreasontext"></div>
                <h4>補充圖片:</h4>
                <div id="returnreasonpics"></div>
            </div>
            <div class="modal-footer" id="returnfooter">
                <button type="button" class="btn btn-primary" id="orderreturnsubmit" data-bs-target="#staticBackdrop8" data-bs-toggle="modal">同意</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop8" tabindex="-1" aria-labelledby="staticBackdropLabel8" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="staticBackdropLabel8">您已同意本次申訴</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>請確認申訴內容已經處理完成，如果沒有妥善處理可能被重複申訴，若情況嚴重則可能被禁權。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop9" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel9" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel9">申訴申請</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>請選擇申訴種類: </div>
                <select class="form-select form-select-lg mb-3" id="arguetypeselect" aria-label=".form-select-lg example">
                    <option value="5" selected>棄標投訴</option>
                </select>
                <div>請選擇申訴理由: </div>
                <select class="form-select form-select-lg mb-3" id="argueselect" aria-label=".form-select-lg example">
                    <option selected value="7">買家態度太差</option>
                    <option value="8">逾時未取貨</option>
                    <option value="10">逾時未付款</option>
                    <option value="9">其他</option>
                </select>
                <div>請輸入補充資訊: </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea2" rows="3"></textarea>
                </div>
                <div id="previewCommentPhoto" class="d-flex"></div>
                <label class="addPhoto btn btn-outline-warning btn-sm" for="commentPhoto">
                    <i class="fa-solid fa-camera-retro me-2">新增照片</i>
                </label>
                <input type="file" name="" value="" id="commentPhoto" style="opacity:0" accept="image/*" multiple />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="orderarguesubmit" data-bs-target="#staticBackdrop10" data-bs-toggle="modal">送出</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop10" tabindex="-1" aria-labelledby="staticBackdropLabel10" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel10">您的申訴申請已送出</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>您可以與買家聯繫詢問申訴相關問題，或是從網頁上方幫助中心與客服聯絡以獲得更多資訊。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="~/js/DataTable/datatable.js"></script>
    <script>
        jQuery.postJSON = function (url, data, callback) {
            jQuery.post(url, data, callback, "json");
        };
        endDate.max = new Date().toISOString().split("T")[0];
        let sortmethod = 0;
        let tabid = 0;
        let nowpages = 1;
        let eachpage = 5;
        let searchflag = false;
        function reloaditem(sm = sortmethod, id = tabid, pages = nowpages, eachpages = eachpage) {
            let keyword;
            let startdate;
            let enddate
            if (searchflag) {
                keyword = $("#orderkeyword").val();
                startdate = $("#startDate").val();
                enddate = $("#endDate").val();
            }
            else {
                $("#orderkeyword").val("");
                keyword = "";
                startdate = "1990-01-01";
                enddate = "2050-01-01";
            }
            $.getJSON(`/Seller/SortOrder`, { sort: sm, tab: id, pages: pages, eachpage: eachpages, keyword: keyword, startdate: startdate, enddate: enddate }, function (data) {
                $("#orderlistbody").html("");
                for (let i = 0; i < data.length; i++) {
                    $("#orderlistbody").append(OrderListItem(data[i]));
                }
                if (data.length > 0) {
                    PageNumFill(data[0].orderCount);
                }
                else {
                    PageNumFill(0);
                }
            });
        }
        reloaditem(0, 0);

        $(".star").click(function () {
            $(this).removeClass("fa-regular fa-solid text-warning").addClass("fa-solid text-warning").prevAll().removeClass("fa-regular fa-solid text-warning").addClass("fa-solid text-warning").end()
                .nextAll().removeClass("fa-regular fa-solid text-warning").addClass("fa-regular");
            let resultDiv = $(this).parent().siblings("#commentResult");
            let starCount = $(this).prevAll().length + 1;
            if (starCount == 1) {
                resultDiv.html("很差");
            } else if (starCount == 2) {
                resultDiv.html("差");
            } else if (starCount == 3) {
                resultDiv.html("普通");
            } else if (starCount == 4) {
                resultDiv.html("不錯");
            } else {
                resultDiv.html("超棒");
            }
            $(this).closest("div").siblings("input").val(starCount);
        });

        function PageNumFill(c) {
            let pagecount = Math.ceil(Math.max(1,c) / eachpage);
            $("#totalpagesdisplay").html(`共${pagecount}頁，${c}筆資料`);
            let startpage = Math.max(1, Math.min(pagecount-4,parseInt(nowpages) - 2));
            let endpage = Math.min(pagecount, Math.max(5,parseInt(nowpages) + 2));
            $("#orderpagedown").siblings(".orderpagenumclicklist").remove();
            for (let i = startpage; i <= endpage; i++) {
                if (i == nowpages) {
                    $("#orderpagedown").before(`<li class="page-item active orderpagenumclicklist"><a class="page-link orderpagenumclick" href="#">${i}</a></li>`);
                }
                else {
                    $("#orderpagedown").before(`<li class="page-item orderpagenumclicklist"><a class="page-link orderpagenumclick" href="#">${i}</a></li>`);
                }
            }
        }

        function OrderListItem(data) {
            item = `<tr>

                                    <td><input type="hidden" class="orderorderid" value="${data.orderId}" />
                                        <input type="hidden" class="ordershipperstatus" value="${data.shipperStatusId}" />
                                                                <input type="hidden" class="orderorderdate" value="${Date.parse(data.orderDatetime)}" />${data.orderId}<br /><a class="namenounderline" href="/SalesCourt/評價?id=${data.buyerId}">${data.buyerAcc}</a><br /><a href="#" class="orderopenmsg"><i class="fa fa-comment" style="color:orange"></i></a></td>
                                            <td>${datetimetostring((new Date(data.orderDatetime)))}</td>
                                    <td>`;
            let total = data.paymentFee;
            for (let i = 0; i < data.quantity.length; i++) {
                item = item + `<img src="data:image;base64,${data.pic[i]}" width="60" height="60" />${data.productName[i]} ${data.style[i]} * ${data.quantity[i]} $${data.unitprice[i]}<br />`;
                total = total + data.unitprice[i] * data.quantity[i];
            }
            if (data.isFreeDelivery == false) {
                total = total + data.shipperFee;
            }
            item = item + `</td><td class="ordertotalprice">$${total}</td>`;

            if(data.shipperStatusId == 6 && data.sellerisComment)
            {
                item = item + `<td>等待<br />買家評價</td>`;
            }
            else{
                item = item + `<td>${data.orderStatusName}</td>`;
            }

            item = item + `<td style="text-align:center">
                                        <a href="/Seller/OrderDetail?id=${data.orderId}" role="button" class="btn btn-primary orderbuttonde my-1">詳情</a><br />`;
            if (data.shipperStatusId == 6 && !data.sellerisComment && data.sellerCommentId == 0) {
                item = item + ` <a role="button" data-bs-toggle="modal" href="#staticBackdrop1" class="btn btn-secondary orderbuttonco my-1">評價</a><br />`;
            }
            if (data.shipperStatusId == 3) {
                item = item + ` <a role="button" data-bs-toggle="modal" href="#staticBackdrop3" class="btn btn-secondary orderbuttonfi my-1">出貨</a><br />`;
            }
            if (data.shipperStatusId == 2 || data.shipperStatusId == 3 || data.shipperStatusId == 4 || data.shipperStatusId == 5 || data.shipperStatusId == 6 || data.shipperStatusId == 8) {
                item = item + ` <a class="btn btn-warning orderbuttonre my-1" data-bs-toggle="modal" href="#staticBackdrop9" role="button">申訴</a><br />`;
            }
            if (data.shipperStatusId == 8) {
                item = item + ` <a role="button" data-bs-toggle="modal" href="#staticBackdrop7" class="btn btn-info orderbuttonret my-1">處理</a>`;
            }

            item = item + `<div>
                                            <input class="form-check-input checkboxorder" type="checkbox" value="" aria-label="...">
                                        </div>
                                        <input type="hidden" class="orderbuyerid" value="${data.buyerId}" />
                                    </td>
                                </tr>`;
            return item;
        }
        $("#ordertime").click(function () {
            nowpages = 1;
            if ($("#ordertime").hasClass("sorting_desc")) {
                sortmethod = 0;
                reloaditem(sortmethod, tabid);
            }
            else {
                sortmethod = 1;
                reloaditem(sortmethod, tabid);
            }
        })
        $("#ordersales").click(function () {
            nowpages = 1;
            if ($("#ordersales").hasClass("sorting_desc")) {
                sortmethod = 2;
                reloaditem(sortmethod, tabid);
            }
            else {
                sortmethod = 3;
                reloaditem(sortmethod, tabid);
            }
        })
        $(".ordernavtabs").click(function (event) {
            tabid = $(event.currentTarget).siblings("input").val();
            $(event.currentTarget).addClass("active");
            $(event.currentTarget).parent().siblings().children("a").removeClass("active");
            nowpages = 1;
            reloaditem(sortmethod, tabid);
        })
        $("#btnDate").click(function () {
            if (searchflag) {
                searchflag = false;
                $("#btnDate").removeClass("btn-secondary").addClass("btn-primary");
                $("#btnDate").val("搜尋");
                $("#orderkeyword").removeAttr("readonly");
            }
            else {
                searchflag = true;
                $("#btnDate").removeClass("btn-primary").addClass("btn-secondary");
                $("#btnDate").val("解除搜尋");
                $("#orderkeyword").attr("readonly", "readonly");
            }
            nowpages = 1;
            reloaditem();
        });
        $("#flexCheckDefault").change(function () {
            if ($(this).prop("checked")) {
                $(".checkboxorder").prop("checked", true);
            }
            else {
                $(".checkboxorder").prop("checked", false);
            }
        });
        let commentorderid;
        let commentitem;
        $(document).on("click", ".orderbuttonco", function () {
            commentorderid = $(this).parent().siblings().children().val();
            $(".star").removeClass("fa-regular fa-solid text-warning").addClass("fa-regular fa-solid text-warning");
            $("#commentResult").html("超棒");
            $("#exampleFormControlTextarea1").val("");
            $("#orderhiddenstar").val(5);
            $("#staticBackdropLabel2").html("您的評價已送出");
            commentitem = $(this);
        })

        $("#ordercommentsubmit").click(function () {
            $.getJSON(`/Seller/WriteComment`, { id: commentorderid, star: $("#orderhiddenstar").val(), keyword: $("#exampleFormControlTextarea1").val() }, function (data) {
            }).then(function () {
                $("#staticBackdropLabel2").html("您的評價已送出");
                reloaditem(sortmethod, tabid);
            }).catch(function () {
                $("#staticBackdropLabel2").html("您的評價沒有送出");
            });
        })

        let recorderid;
        let recitem;
        let recbuyerid;
        $(document).on("click", ".orderbuttonfi", function () {
            recbuyerid = $(this).siblings(".orderbuyerid").eq(0).val();
            recorderid = $(this).parent().siblings().children().val();
            recitem = $(this);
        })

        //$("#orderarguesubmit").click(function () {
        //    $.getJSON(`/Seller/WriteShipping`, { id: argueorderid, type: 1, reason: $("#argueselect option:selected").val(), keyword: $("#exampleFormControlTextarea1").val() }, function (data) {
        //        reloaditem(sortmethod, tabid);
        //    });
        //})

        $("#orderrecsubmit").click(function () {
            happy_sendnoti(2, recbuyerid, "賣家已經出貨囉，", "/Member/Order?sort=0&tab=4", "可以在購買清單中查看訂單狀況。")
            $.getJSON(`/Seller/WriteShipping`, { id: recorderid }, function (data) {
                reloaditem(sortmethod, tabid);
            });
        })

        $("#orderrecallsubmit").click(function () {
            let count1 = 0;
            let orderids = $.map($(".checkboxorder:checked").parent().parent().prev().prev().prev().prev().prev().find(".orderorderid"), function (item, index) {
                return item.value;
            });
            let statses = $.map($(".checkboxorder:checked").parent().parent().prev().prev().prev().prev().prev().find(".ordershipperstatus"), function (item, index) {
                return item.value;
            });
            for (let i = 0; i < statses.length; i++) {
                if (statses[i] == 3) {
                    count1++;
                    $.getJSON(`/Seller/WriteShipping`, { id: orderids[i] }, function (data) {
                        reloaditem(sortmethod, tabid);
                    });
                }
            }
            $("#flexCheckDefault").removeAttr("checked");
            $("#reccount").html(count1);
        })
        function datetimetostring(dtime) {
            let tempt = dtime.getFullYear().toString() + "-" + (dtime.getMonth() + 1).toString().padStart(2, '0') + "-" + dtime.getDate().toString().padStart(2, '0') + "<br />" + dtime.getHours().toString().padStart(2, '0') + ":" + dtime.getMinutes().toString().padStart(2, '0') + ":" + dtime.getSeconds().toString().padStart(2, '0');
            return tempt;
        }

        //$.ajaxSetup({
        //    async: false
        //});

        let returnorderid;
        let returnitem;
        let returntype;
        $(document).on("click", ".orderbuttonret", function () {
            returnorderid = $(this).parent().siblings().children().val();
            commentitem = $(this);

            $.getJSON(`/Seller/GetReturn`, { id: returnorderid }, function (data) {
                returntype = data.typeID;
                console.log(returntype)
                $("#staticBackdropLabel7").html(`${data.typeName}申請`);
                $("#returnreason").html(`${data.typeName}原因`);
                $("#returnreasonname").html(`${data.reasonName}`);
                $("#returnreasontext").html(`${data.reasonText}`);
                $("#returnreasonpics").html("");
                if (data.pics != undefined) {
                    for (let i = 0; i < data.pics.length; i++) {
                        $("#returnreasonpics").append(`<div class="deleteCommentPhoto"><img style="max-width:150px" src="data:image;base64,${data.pics[i]}" /></div>`);
                    }
                }
            });
            if (returntype != 5) {
                $("#returnfooter").html(`<button type="button" class="btn btn-primary" id="orderreturnsubmit" data-bs-target="#staticBackdrop8" data-bs-toggle="modal">同意</button>
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>`);
            }
            else {
                $("#returnfooter").html(`<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>`);
            }


        })

        $(document).on("click", "#orderreturnsubmit", function () {
            console.log(returntype);
            $.getJSON(`/Seller/AcceptReturn`, { id: returnorderid, type: returntype }, function (data) {
                reloaditem(sortmethod, tabid);
            });
        })

        $(document).on("click", ".orderopenmsg", function () {
            happy_popup($(this).siblings("a").html());
        });

        let argueorderid;
        let argueitem;
        let arguebuyerid;
        $(document).on("click", ".orderbuttonre", function () {
            arguebuyerid = $(this).siblings(".orderbuyerid").eq(0).val();
            argueorderid = $(this).parent().siblings().children().val();
            $("#argueselect").children().eq(0).prop("selected", "selected");
            $("#exampleFormControlTextarea1").val("");
            argueitem = $(this);
            $("#previewCommentPhoto").html("");
        })

        $("#orderarguesubmit").click(function () {
            let pics = $.map($("#previewCommentPhoto").find("img"), function (item, index) {
                return (item.src).split(',')[1];
            });
            happy_sendnoti(4, arguebuyerid, "你的訂單被賣家投訴了", "/Member/Order?sort=0&tab=8","");
            $.postJSON(`/Member/WriteArgue`, { id: argueorderid, type: $("#arguetypeselect option:selected").val(), reason: $("#argueselect option:selected").val(), keyword: $("#exampleFormControlTextarea2").val(), pics: pics }, function (data) {
                reloaditem(sortmethod, tabid);
            });
        })

        $("#commentPhoto").change(function () {
            const photos = document.getElementById("commentPhoto").files;
            if (photos) {
                $.each(photos, function (idx, photo) {
                    let reader = new FileReader();
                    reader.readAsDataURL(photo);
                    reader.onloadend = function () {
                        let src = reader.result;
                        $("#previewCommentPhoto").append(`<div class="deleteCommentPhoto"><i class="fa-solid fa-circle-xmark"></i><img style="max-width:100px" src="${src}" /></div>`);
                    }
                });
            }
        });
        $("#previewCommentPhoto").on("mouseenter", ".deleteCommentPhoto", function () {
            $(this).children("i").css("opacity", "0.3");
        });
        $("#previewCommentPhoto").on("mouseleave", ".deleteCommentPhoto", function () {
            $(this).children("i").css("opacity", "0");
        });
        $("#previewCommentPhoto").on("mouseenter", ".deleteCommentPhoto>i", function () {
            $(this).css("cursor", "pointer");
        });
        $("#previewCommentPhoto").on("mouseleave", ".deleteCommentPhoto>i", function () {
            $(this).css("cursor", "none");
        });
        $("#previewCommentPhoto").on("click", ".deleteCommentPhoto>i", function () {
            $(this).closest(".deleteCommentPhoto").remove();
        });

        $(document).on("click", ".orderpagenumclick", function () {
            nowpages = $(this).html();
            reloaditem(sortmethod, tabid, nowpages);
        })

        $("#orderpagedown").click(function () {
            let pagescount = $(".orderpagenumclicklist").length;
            nowpages = Math.min(parseInt(nowpages) + 1,pagescount);
            reloaditem(sortmethod, tabid, nowpages);
        })

        $("#orderpageup").click(function () {
            nowpages = Math.max(parseInt(nowpages) - 1, 1);
            reloaditem(sortmethod, tabid, nowpages);
        })

        $("#pagecountselect").change(function () {
            eachpage = $("#pagecountselect option:selected").val();
            nowpages = 1;
            reloaditem(sortmethod, tabid, nowpages, eachpage);
        });
    </script>
}