@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Order";
}
@section Styles
{
    <link href="~/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <link href="~/css/DataTable/datatable.css" rel="stylesheet" />
}

<vc:seller-ui></vc:seller-ui>
<h2 class="d-flex justify-content-center">我的銷售</h2>
<vc:order-list side="0"></vc:order-list>

@section Scripts
{
    <script src="~/js/SellerUI/sidebars.js"></script>
    <script src="~/js/DataTable/datatable.js"></script>
}