@addTagHelper *, prjiSpanFinal
@using Microsoft.AspNetCore.Http
@using System.Text.Json
@using System.Linq;
@using prjiSpanFinal.ViewModels
@model prjiSpanFinal.ViewModels.seller.CSellerPaymentToViewViewModel
@{
    ViewData["Title"] = "Shipper";
}
@section Styles
{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>

        p {
            font-size: 16px;
        }

        label {
            font-size: 20px;
            font-weight: bold;
        }

        .按鈕大小 {
            font-size: 20px;
        }

        .灰體字 {
            color: gray;
        }

        .線條 {
            border: 2px;
        }

        .底線 {
            border-bottom: 2px;
            margin: 2px;
            border-color: gray;
        }

        .靠右 {
            float: right;
        }

        .col {
            margin: 3px;
        }

        .置中 {
            vertical-align: middle;
        }
    </style>
}

@{
    int id = 0;
    if (Context.Session.Keys.Contains(CDictionary.SK_LOGINED_USER))
    {
        string json = Context.Session.GetString(CDictionary.SK_LOGINED_USER);
        MemberAccount loginMember = JsonSerializer.Deserialize<MemberAccount>(json);
        id = loginMember.MemberId;
    }

    iSpanProjectContext dbcontext = new iSpanProjectContext();

    var PaymentIdList= dbcontext.PaymentToSellers.Where(n => n.MemberId == id).Select(n => n.PaymentId).ToList();
    List<bool> HavePayData = new List<bool>() { false, false, false, false, false, false, false, false,false };
    foreach(var i in PaymentIdList)
    {
        HavePayData[i-1] = true;
    }

    var ShipmentIdList = dbcontext.ShipperToSellers.Where(n => n.MemberId == id).Select(n => n.ShipperId).ToList();
    List<bool> HaveShipData = new List<bool>() { false, false, false, false, false};
    foreach (var i in ShipmentIdList)
    {
        HaveShipData[i - 1] = true;
    }
}

<div class="row overflow-auto">
    <div class="col-2"><vc:seller-ui></vc:seller-ui></div>
    <div class="col-1"></div>
    <div class="col-8">
        <h2 class="d-flex justify-content-center">物流/付款設定</h2>
        <div class="m-2">
            <div><h4>  付款設定</h4></div>
            <p>目前蝦到爆提供下列付款方式：</p>
        </div>

        <div class="layout 線條陰影">
            <div class="">
                @{
                    string[] 照片路徑 = { "~/img/payment1.png", "~/img/payment2.png", "~/img/payment3.png", "~/img/payment4.png" };
                    for (int i = 0; i < 4; i++)
                    {
                        <div class="row py-2 m-3 border rounded-2">
                            <div class="col-2"></div>
                            <div class="col-4">
                                <input type="hidden" name="PaymentId"/>
                                <label class="d-flex justify-content-start"><img src="@Url.Content(照片路徑[i])" width="40" height="40" class="mx-2" />@Model.PaymentName[i]</label>
                            </div>
                            <div class="col-4">
                                <div class="form-check form-switch 靠右">
                                    @{ if (HavePayData[i])
                                        {
                                            <input class="paymentID form-check-input 按鈕大小" type="checkbox" checked="checked">
                                        }
                                        else
                                        {
                                            <input class="paymentID form-check-input 按鈕大小" type="checkbox">
                                        }
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-2"></div>
                    }
                }
            </div>







            <p class="border-bottom my-4"></p>

            <div class="m-2">
                <div><h4>  支援物流</h4></div>
                <p>蝦到爆購物提供物流整合服務，買家將會收到最新的商品貨態通知。</p>
            </div>
            <div class="線條陰影">
                <div class="shiperLayout">
                    @{
                        string[] 物流照片路徑 = { "~/img/payment5.png", "~/img/payment6.png", "~/img/payment7.png", "~/img/payment8.png","~/img/payment11.png",};
                        for (int i = 0; i < 5; i++)
                        {
                            <div class=" row py-2 m-3 border rounded-2">
                                <div class="col-4">
                                    <label class="d-flex justify-content-start"><img src="@Url.Content(物流照片路徑[i])" width="40" height="40" class="mx-2" />@Model.ShipperName[i]</label>
                                </div>
                                <div class="col-2">
                                    <div class="form-check form-switch 靠右">
                                        @{
                                            if (HaveShipData[i])
                                            {
                                                <input class="shiperID form-check-input 按鈕大小" type="checkbox" checked="checked">
                                            }
                                            else
                                            {
                                                <input class="shiperID form-check-input 按鈕大小" type="checkbox">
                                            }
                                        }
                                    </div>
                                </div>
                                <div class="col-3">
                                    <label class="灰體字 ">貨到付款</label>
                                </div>
                                <div class="col-3">
                                    <div class="form-check form-switch 靠右">
                                        @{
                                                if (HavePayData[i + 4])
                                                {
                                                    <input class="paymentID form-check-input 按鈕大小" type="checkbox" checked="checked">
                                                }
                                                else
                                                {
                                                    <input class="paymentID form-check-input 按鈕大小" type="checkbox">
                                                }
                                        }
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="d-flex justify-content-around m-2">
                    <button id="save" type="button" class="btn btn-warning mb-3">確定</button>
                    <button id="close" type="button" class="btn btn-secondary mb-3">取消</button>
                </div>

            </div>

        </div>
    </div>
    <div class="col-1"></div>
</div>
@section Scripts
{
    <script>
        jQuery.postJSON = function (url, data, callback) {
            jQuery.post(url, data, callback, "json");
        };

        $("#save").click(function () {
            $.postJSON("/Seller/Shipperrequest", {
                payment: $.map($(".paymentID"), function (a) { return a.checked; }),
                shipper: $.map($(".shiperID"), function (a) { return a.checked; })
            }, function () { });

            Swal.fire(
                '成功!',
                '您已修改成功!',
                'success'
            ).then(function () { location.href = "/Seller/Center"; });

            //setTimeout(function () {
            //    location.href = "/Seller/Center"
            //}, 2000);
        })



    </script>
}
