@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model int
<style>
    .bar{
        width:20%;
        height:2px;
        background-color:gray;
    }
    .finish{
        color:orange
    }
    .barfinish{
        background-color:orange;
    }
    .active{
        color:red;
    }
</style>

<div class="w-75 m-auto">
    <div class="progressBar d-flex justify-content-around align-items-center">
        <div class="bar d-none"></div>
        <div class="text-center">
            <i class="fa-sharp fa-solid fa-cart-shopping"></i>
            <div>新增商品</div>
        </div>        
        <div class="bar"></div>
        <div class="text-center">
            <i class="fa-solid fa-file-lines"></i>
            <div>廣告設定</div>
        </div>
        <div class="bar"></div>
        <div class="text-center">
            <i class="fa-sharp fa-solid fa-circle-check"></i>
            <div>完成新增</div>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script>
    const checkoutPage = @Model;
    $(function () {
        $(".text-center").slice(0, checkoutPage).addClass("finish");
        $(".bar").slice(0, checkoutPage + 1).addClass("barfinish");
        $(".text-center").eq(checkoutPage).addClass("active");
        
    });
</script>

