/* 泛用功能區 */
    /*切割區塊*/
.split {
    height: 50px;
    width: 100%;
}
    /* <a> 去底線*/
.linknoline {
    text-decoration: none;
}
    /*聊聊*/
.chatroom {
    width: 5.5rem;
    height: 2.5rem;
    padding: 0;
    margin: 0;
    margin-right: 10px;
    cursor: pointer;
    border: 0;
    border-radius: 10% 10% 0 0;
    background: WHITE;
    box-shadow: 0 0 10px #FF9224;
}
    .chatroom > .fa {
        color: #FF9224;
    }
    /*回到最上面*/
.goTop {
    position: fixed;
    right: 10rem;
    bottom: 5rem;
    display:none;
 }
.goTopBtn {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}
.goTopBtn > .fa-arrow-alt-circle-up {
    color:black;
}
/* /泛用功能區 */

/* Header1 */
    /*bg*/
.layoutheader1bg {
    background-color: #FF7B0F;
}
    /*navlink*/
.header1nav {
    position: fixed;
    top: 0;
    height: auto;
    width: 100%;
    z-index: 9999;
}
    .header1nav > div > div > .nav {
        align-items: center;
        font-weight: bold;
    }
        .header1nav > div > div > .nav a {
            padding: 0;
        }
            .header1nav > div > div > .nav a:hover {
                opacity: 80%;
            }
        .header1nav > div > div > .nav > li > .navhead {
            font-size: 25px;
        }
        .header1nav > div > div > .nav > li > .navbody {
            font-size: 20px;
        }
    /*nav 功能區*/
.header-cart {
    float: right;
    padding-right: 30px;
    padding-top: 10PX;
    width: 150px
}

    .header-cart > div {
        display: inline-block;
        margin-left: 15px;
        margin-right: 20px;
        flex:1;
    }

        .header-cart > div > a {
            display: block;
            position: relative;
            max-height:30px;
            text-align: center;
            color: #FFF;
        }

            .header-cart > div > a > i {
                display: block;
                font-size: 20px;
            }

            .header-cart > div > a > .qty {
                position: absolute;
                right: -10px;
                top: -13px;
                width: 15px;
                height: 15px;
                line-height: 15px;
                text-align: center;
                border-radius: 50%;
                font-size: 10px;
                color: #FFF;
                background-color: #D10024;
            }

            .header-cart > div > a > .qty-cart {
                right: -15px;
            }

    .header-cart .menu-toggle {
        display: none;
    }

    .header-cart > div > a > .fa:hover {
        opacity: 80%;
    }
    .header-cart > div > a > .fa:active {
        opacity: 100%;
    }
.header-cart > div > a > span{
    white-space:nowrap;
}
    .header-cart > div > a > span > i{
        font-size:20px;
        padding-right:5px;
    }
    .header-cart > div > a > span:hover {
        opacity: 80%;
    }
.notification {
    position: relative;
}
.notification-trigger {
    position:relative;
}
.notification-body {
    position: absolute;
    right: 10px;
    top: 25px;
    background-color: #FFE4CA;
    border: 1px solid #FF8000;
    border-radius: 10px;
    overflow: hidden;
}
.notification-item {
    color: #4F4F4F;
    width:300px
}
.notification-item-title 
{padding: 10px;
    text-align: center;
    background-color:white;
}
.notification-item-list {
    padding: 5px 20px;
    border-top: 1px solid #BEBEBE;
}
.notification-item-listitem{

}
/*nav註冊區*/
.navlog {
    margin-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}

    .navlog > .log {
        padding: 0px 10px 0px 10px;
        color: white;
    }

    .navlog > .res {
        padding: 0px 10px 0px 10px;
        color: white;
    }

    .navlog > a {
        font-weight: bold;
    }

        .navlog > a:hover {
            opacity: 80%;
            color: red;
        }
/* /Header1 */

/* Header2 */
.layoutheader2 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFA724;
}
    /*蝦到爆logo大小*/
.lologo{
    overflow:hidden;
}
    .lologo > .header-logo{
        width:100%;
    }
    .lologo > .header-logo > .logo {
        display: flex;
        justify-content: center;
    }

            .lologo > .header-logo > .logo > .logopic {
                min-width: 70%;
                text-align: center;
            }
    /*搜尋列相關*/
.searchbar {
    position: relative;
    flex: 1 1 auto;
    width: 100%;
    margin-left: -1px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.loschbar{
    /*padding-left:70px;*/
}
.loschbar > .input-group {
    border: 3px solid white;
    border-radius: 10px
}
    .loschbar > .input-group > .input-text {
        padding-top: 3px;
        padding-bottom: 3px;
        font-size: 20px;
    }
.loschbar > .input-group > .input-text:focus {
    box-shadow: 0px 0px 0px;
    border-color: #f8c146;
    outline: 0px;
}
    .loschbar > .input-group > .form-control {
        
        border: 0px;
    }
.searchkeyspace {
    margin-top: 5px;
    max-height: 24px;
    overflow: hidden;
    width:100%;
}
.searchkeywordbox {
    width: 80px;
    margin-left: 8px;
}
.searchkeyword {
    display:block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #FFF8D7;
    font-size: 1rem;
    font-weight: bold;
}
    .searchkeyword:hover {
        color: #FF2D2D;
        opacity:80%;
    }
    /*搜尋右側功能*/
.searchcart {
    padding-right: 30px;
    padding-left: 30px;
}
:root {
    --SCwidth: 90px;
    --SCAwidth: 70px;
}
.searchcart-Cart {
    display: flex;
    justify-content: center;
    flex: 1;
    width: var(--SCwidth);
}

    .searchcart-Cart > a {
        display: block;
        color: white;
        width: var(--SCAwidth);
    }
        .searchcart-Cart > a:hover {
            opacity: 80%;
            color: red;
        }
        .searchcart-Cart-icon {
            position: relative;
            display: flex;
            justify-content:center;
            font-size: 1.5em;
            color: white;
        }
            .searchcart-Cart-icon > .qty {
                position: absolute;
                left: calc(var(--SCAwidth)*0.55);
                bottom: 18px;
                width: 20px;
                height: 20px;
                line-height: 20px;
                text-align: center;
                border-radius: 50%;
                font-size: 10px;
                color: #FFF;
                background-color: #FF2D2D;
            }
            
/* /Header2 */
/* BODY */
body {
    background-color: #FFF7EB;
}
.layout1renderdiv {
    padding: 20px 30px 20px 30px;
    background-color: white;
    border-radius: 20px;
}
.Setionset {
    padding-top: 10px!important;
}
/* /BODY */
/* Footer共用 */
.footerbg {
    background: #FF7B0F;
    color: white;
}

.footerbg2 {
    background: black;
    padding-top: 5px;
    padding-bottom: 5px;
}

.lofooter {
    margin: 30px 0px;
    
}
.lofooter-m{
    margin:0 5px;
}
    .lofooter-m > h3 {
        color: white;
    }
.lofooter-links li + li {
    margin-top: 15px;
}

.lofooter-links li a {
    color: white;
    text-decoration:none;
}
.lofooter-links li i {
    margin-right: 15px;
    color: #D10024;
    width: 14px;
    text-align: center;
}
.lofooter-links li a:hover {
    color: #D10024;
}
/* /Footer共用 */
