* {
    margin: 0;
    padding: 0;
}

.CategoryBody {
    width: 1250px;
}

.CategoryHeader {
    width: 1250px;
    padding: 10px;
}

.CategoryHeaderTitle {
    text-align: left;
    width: 100%;
    background-color: #efefef;
}

.CategoryHeaderTitleText {
    text-align: center;
    margin-left: 10px;
    font-size: 20px;
    
}

    .CategoryHeaderTitleText span {
        margin-left: 3px;
        font-size: 10px;
    }

.CategoryHeaderBody {
    background-color: #f5f5dc;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    line-height: 1.69;
    text-align: left;
}

.CategoryHeaderItem {
    flex: 0 0 calc(20% - 32px);
    margin: 0 8px;
    padding: 4px 8px;
}

    .CategoryHeaderItem:hover {
        background-color: gray;
        color: red;
    }

.split {
    height: 50px;
    width: 100%;
}

.itembody {
    width: 1250px;
    padding: 0;
}

.itemcol {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.sellsitem {
    width: 200px;
    height: 320px;
    top: 10px;
    margin: 4px;
    display: inline;
    padding: 0;
    border: 1px solid gray;
    border-radius: 5px;
    transition: all .5s

}

    .sellsitem:hover {
        transform:scale(1.05);
        top: 0px;
    }

.cardImg {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.cardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1.5em;
    color: black;
}

.cardPrice {
    color: red;
    font-size: 1em;
    font-weight: bold;
}

.cardInfo {
    font-size: 1em;
    flex-wrap: nowrap;
}

.starImg {
    width: 10%;
    aspect-ratio: 1/1;
}
.buybtn {
    font-size: 10px;
    padding: 3px;
    text-align: center;
    width: 100px;
    color: black;
}

    .buybtn:hover {
        color: red;
    }
