.container {
}

.HomepageIndex {
    position: relative;
    /*min-width: 1200px;*/
    width: 100%;
    /*min-height: 100%;*/
    margin: 0 auto;
    padding: 0 0 0px;
    box-sizing: border-box;
}
/* 左側 */
.listview {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid #000;
    margin: 0;
    padding: 0 30px 0 0;
    min-width: 0;
    /*overflow:hidden;*/
}

.listtype {
    height: 588px;
    /*overflow: hidden;*/
    overflow-y: auto;
    border-left: 1px solid #F75000;
    border-radius: 5px;
    /*background-color: #FF5809;*/
}

    .listtype::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ffc0cb;
    }

    .listtype::-webkit-scrollbar {
        width: 6px;
        background-color: black;
    }

    .listtype::-webkit-scrollbar-thumb {
        background-color: #bb6573;
    }
    .listtype > .listview-lg {
        font-size: 20px;
        border:0;
        border-radius:0;
    }

        .listtype > .listview-lg > .list-group-item {
            font-weight: bold;
            background-color: #FF5809;
            color: white;
        }

            .listtype > .listview-lg > .list-group-item:hover {
                background-color: #FFE4CA;
                color: #F75000;
            }

            .listtype > .listview-lg > .list-group-item > a > span {
                color: white;
            }

            .listtype > .listview-lg > .list-group-item:hover > a > span {
                background-color: #FFE4CA;
                color: #F75000;
            }

.firstLevel {
    width: 100%;
    height: 30px;
    text-align: right;
    border: 0;
    border-radius: 0;
}

    .firstLevel > span {
        font-size: 15px;
    }


.secondLevel {
    left: -100%;
    padding-left: 10px;
    /*-webkit-border-radius: 6px 0 6px 6px;*/
    /*-moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;*/
    background-color: #AE57A4;
}

.listtypeTitleLink {
    /*padding-left: 10px;*/
}

.listtypeSmalltype {
    padding: 4px 2px 4px 20px;
    width: 100%;
    border: 0;
    height: 25px;
    font-size: 16px;
    background-color: #DAB1D5;
    color: white;
}

    .listtypeSmalltype:hover {
        background-color: #FFEEDD;
        color:red;
        opacity: 80%;
    }
/*AD*/
.Homepage-AD {
    height: 300px;
}

    .Homepage-AD > a {
        border-radius: 10px;
        overflow: hidden;
    }

        .Homepage-AD > a:hover {
            opacity: 80%;
        }
/*/AD*/
.cateheader {
    max-height: 100%;
}

.cateheader-1 {
    max-height: 420px;
    height: 100%
}

.cateheader-2 {
    max-height: 100%;
    height: 125px;
}

    .cateheader-2 img:hover {
        opacity: 80%;
    }
/* 幻燈片 */
.carousel {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-height: 420px;
}

    .carousel .carousel-item {
        text-align: center;
    }

        .carousel .carousel-item a img {
            min-height: 100px;
            width: 100%;
            display: block;
            object-fit: cover;
        }

            .carousel .carousel-item a img:hover {
                opacity: 80%;
            }

.dm {
    overflow: hidden;
    height: 100%;
    max-height: 125px
}

    .dm div {
        max-height: 100%;
    }

    .dm img {
        object-fit: cover;
        max-height: 100%;
        height: 100%
    }
/*分隔線*/
.split {
    height: 50px;
    width: 100%;
}

.split2 {
    max-height: 30px;
    height: 30px;
}
/*猜你喜歡商品區*/
.guessliketitle {
    padding-left: 20px;
}

.itembody {
    width: 1300px;
    padding: 0;
}

.itemcol {
    height: 343px;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}

.sellsitem {
    width: 200px;
    height: 320px;
    margin: 4px 5px 4px 5px;
    display: inline;
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #FF8040;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all .5s
}

    .sellsitem:hover {
        transform: scale(1.05);
        box-shadow: 0 0 6px rgba(255, 102, 0, 1);
        top: 0px;
    }


.cardImg {
    display: block;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 5px;
    border-bottom: 1px solid black;
}

.cardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    font-size: 1em;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
}

.cardPrice {
    color: red;
    font-size: 1em;
    font-weight: bold;
}

.cardInfo {
    font-size: 1em;
    flex-wrap: nowrap;
}

.starImg {
    width: 10%;
    aspect-ratio: 1/1;
    margin-right: 10px;
}

    .starImg > img {
        width: 200%;
    }

.buybtn {
    font-size: 12px;
    padding: 3px;
    text-align: center;
    width: 100px;
    color: black;
    font-weight: bold;
}

    .buybtn:hover {
        color: red;
        --bs-btn-hover-color: red;
        opacity: 80%;
    }

.showmoreitem {
    color: red;
    border: 1px solid red;
    font-weight: bold;
}

    .showmoreitem:hover {
        color: white;
        --bs-btn-hover-color: black;
        opacity: 80%;
    }
