
.productPhoto{
    width:40%;
}
.productPhoto .bigPhoto{
    width:100%;
    aspect-ratio:1/1;
}
.productPhoto .bigPhoto img {
    width:100%;
    aspect-ratio:1/1;
    object-fit:contain;
    border: 1px solid #E0E0E0;
}
.productPhoto .smallPhoto {
    width: 90%;
    margin:5px auto 0;
}
.productPhoto .smallPhoto div {
    width: 20%;
    aspect-ratio:1/1;
    padding: 0 5px;
}
.productPhoto .smallPhoto img {
    width: 100%;
    aspect-ratio:1/1;
    object-fit:contain;
    border: 1px solid #E0E0E0;
}

.itemInfo {
    width: 60%;
    padding-left: 10px;
}

.itemInfo .starBox {
    width: 20px;
}
.itemInfo .starBox img {
    width: 100%;
    display: block;
}

.itemInfo a:link {
    text-decoration: none;
}
.itemInfo a:hover {
    text-decoration: underline
}

.itemDetails {
    background-color: #FFFAF4;
    padding: 0 5px 5px 5px;
    border-radius: 10px;
}

.itemKey{
    width:10%;
}

.itemStyleContent{
    width:90%;
}

.sellerProducts .pageSelect button {
    border: 1px solid #E0E0E0;
    border-radius: 5px;
    font-size:20px;
    font-weight:bold;
    margin:0 5px;
}

.sellerProducts #previousPage {
    background-color: #FFDCB9;
    color: #D0D0D0;
}
.sellerProducts #nextPage {
    background-color: #FFA042;
}

.sellerProducts .sellerCard{
    width:200px;
    height:320px;
    top:10px;
    transition:all .5s 
}
.sellerProducts .sellerCard:hover{
    width:210px;
    height:340px;
    top:0px;
}

.sellerProducts .cardLayout{
    width:1055px;
    height:340px;
    margin: 0 auto;
    overflow:hidden;
}


.sellerProducts .cardImg{
    display:block;
    width:100%;
    aspect-ratio:1/1;
    border-radius:5px;
}

.sellerProducts .cardTitle{
    display:-webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    overflow:hidden;
    font-size:1em;
    color:black;
}
.sellerProducts .cardPrice{
    color:red;
    font-size:0.5em;
    font-weight:bold;
}

.sellerProducts .cardInfo{
    font-size:0.5em;
}
.sellerProducts .starImg{
    width:10%;
    aspect-ratio:1/1;
}

