*{
    margin:0;
    padding:0;
}
.product{
    display:flex;
    justify-content:space-between;
}
.productPhoto{
    width:40%;
}


.productPhoto .bigPhoto img {
    width: 100%;
    border: 1px solid #E0E0E0;
}
.productPhoto .smallPhoto {
    width: 90%;
    height: 200px;
    margin:5px auto 0;
}
.productPhoto .smallPhoto > div {
    width: 100px;
    height: 100px;
    padding: 0 5px;
}
.productPhoto .smallPhoto > div img {
    width: 100%;
    border: 1px solid #E0E0E0;
}

.itemInfo {
    width: 60%;
    padding-left: 10px;
}

.itemInfo .starBox {
    width: 20px;
}
.itemInfo .starBox img {
    width: 100%;
    display: block;
}

.itemInfo a:link {
    text-decoration: none;
}
.itemInfo a:hover {
    text-decoration: underline
}

.itemDetails {
    background-color: #FFFAF4;
    padding: 0 5px 5px 5px;
    border-radius: 10px;
}

.itemKey{
    width:10%;
}

.itemStyleContent{
    width:90%;
}
