.split {
    height: 50px;
    width: 100%;
}
.layoutheader1bg {
    background-color: #FF7B0F;
}
.layoutheader2 {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #FFA724;
}
.footerbg {
    background: /*#FFE0B3*/ #FF7B0F;
    color: #B9BABC;
}
.footerbg2 {
    background:  black;
}