@model IEnumerable<prjiSpanFinal.Models.CProduct>

@{
    ViewData["Title"] = "Index";
}
@section Styles{
    <link href="~/css/CategoryStyles.css" rel="stylesheet" />
}
<div class="CategoryBody">
    <div class="CategoryHeader">
        @{
            int stock = 500;
            int type = 5;
            <div class="CategoryHeaderTitle">
                <span class="CategoryHeaderTitleText">食物</span>
                <span class="CategoryHeaderStockText">(@stock)</span>
            </div>
            <div class="CategoryHeaderBody">

                @for (int i = 1; i <= type; i++)
                {
                    <a class="CategoryHeaderItem linknoline" href="">@ViewBag.prodlist.BigTypeName </a>
                }
            </div>
        }
    </div>
    <div class="split"></div>
    <div class="row">
        <div class="filter-body d-flex  flex-wrap align-content-start">
            <a class="linknoline filter-alltype" href="">
                <i class="fa fa-bars"></i>
                <span class="fatitle">全部分類</span>
            </a>
            <div class="filter-types" id="filterTspace">
                <ul id="filterT-ul">
                    <li>
                        <a href="" class="linknoline">
                            <span class="fticon">
                                <i class="fa-solid fa-circle-play"></i>
                            </span>
                            <span class="fttitle fttitlemain">食物</span>
                        </a>
                    </li>
                    @{
                        for (int i = 1; i <= type; i++)
                        {
                            <li>
                                <a href="" class="linknoline">
                                    <span class="fttitle">水果</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
            <div class="filter-filter w-100">
                <div class="ff-title d-flex justify-content-center w-100">
                    <span><i class="fa fa-filter"></i></span>
                    <span>條件篩選</span>
                </div>
                <div class="ffsplits">
                    <div class="ff-typestitle w-100 p-1">
                        分類
                    </div>
                    <div class="ff-typestitle-sel">
                        @{
                            for (int i = 1; i <= type; i++)
                            {
                                <div class="w-100 p-1 ff-types-type">
                                    <input type="checkbox" id="ffcb-@i" />
                                    <label for="ffcb-@i">
                                        <span class="ff-types-typeid">
                                            水果
                                        </span>
                                        <span class="ff-types-typecount">
                                            (30)
                                        </span>
                                    </label>
                                </div>
                            }
                        }
                    </div>
                </div>
                <div class="ffsplits">
                    <div class="ff-typestitle w-100 p-1">
                        價格區間
                    </div>
                    <div class="d-flex w-100 flex-row ff-types-prices">
                        <div class="ff-types-prices-child2">
                            <input placeholder="＄最小值" />
                        </div>
                        <div class="ff-types-prices-child1 text-center opacity-50">
                            ─
                        </div>
                        <div class="ff-types-prices-child2">
                            <input placeholder="＄最大值" />
                        </div>
                    </div>
                    <button class="w-100 text-center ff-types-prices-btn">搜尋</button>
                </div>
            </div>
        </div>
        <div class="itembody">
            @{int itemstock = 30;
                <div class="itemcol">
                    @for (int i = 1; i <= itemstock; i++)
                    {
                        <div class="sellsitem">
                            <a href="/Item/Index/2113">
                                <img href="/Item/Index/2113" src="~/img/蘋果圖.jpg" class="cardImg" alt="..." />
                            </a>
                            <div class="px-1 d-flex flex-column justify-content-between">
                                <div class="cardTitle">好大一根香蕉</div>
                                <div class="cardPrice">$999</div>
                                <div class="cardInfo d-flex justify-content-between align-items-end">
                                    <div class="d-flex justify-content-start flex-column mt-1">
                                        <div class="d-flex justify-content-start">
                                            <div class="starImg">
                                                <img src="/img/YellowStar.png" alt="" class="me-1 d-block" />
                                            </div>
                                            <div class="text-black">4.5</div>
                                        </div>
                                        <div class="text-black-50">銷售<span>100</span></div>
                                    </div>
                                    <div>
                                        <button type="button" class="btn btn-outline-warning buybtn">加入購物車</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/Category/Index.js"></script>
}