@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<style>
    .step-container {
        width: 80%;
        height: 80px;
        margin: 1rem auto 2rem;
        display: flex;
        align-items: center;
    }

    .step-item {
        flex: 1 1;
        overflow-x: hidden;
        display: flex;
        align-items: center;
    }

    .step-item:not(:first-child) {
        padding-left: 1rem;
    }

    .step-item:last-child {
        flex: none;
    }

    .icon,
    .content {
        display: inline-block;
    }

    .icon {
        flex: none;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #ccc;
        background-color: #fff;
        text-align: center;
        line-height: 32px;
        color: #ccc;
    }

    .step-item:not(:last-child) {
        .content {
            position: relative;
            height: 32px;
            line-height: 32px;
        }

        .content::after {
            content: "";
            position: absolute;
            top: 16px;
            left: calc(100% + 1rem);
            width: 99999px;
            height: 1px;
            background-color: #ccc;
        }

    }

    .content-text {
        display: none;
        margin-left: 0.5rem;
        color: #ccc;
    }

    // status
    .step-item.active {
        .icon {
            border: none;
            background-color: crimson;
            color: #fff;
        }

        .content::after {
            background-color: crimson;
        }

        .content-text {
            color: crimson;
        }

    }

    .step-item.complete {
        .icon {
            background-color: #333;
            color: #fff;
            border: none;
        }

        .content::after {
            background-color: #333;
        }

        .content-text {
            color: #333;
        }

    }
</style>

<div class="step-container">
    <div class="step-item active">
        <div class="icon">1</div>
        <div class="content">
            <span class="content-text">寄送地址</span>
        </div>
    </div>
    <div class="step-item pending">
        <div class="icon">2</div>
        <div class="content">
            <span class="content-text">運送方式</span>
        </div>
    </div>
    <div class="step-item pending">
        <div class="icon">3</div>
        <div class="content">
            <span class="content-text">付款資訊</span>
        </div>
    </div>
</div>