@section Styles
{
    <style>
    </style>
}
    @for(int i=0;i<100;i++)
    {
        <input class="democheck" type="checkbox" />
    }
<input type="checkbox" />
<a role="button" class="btn btn-primary" id="demo1">console array</a>
<a role="button" class="btn btn-primary" id="demo2">console string</a>
@section Scripts
{
<script>
    $("#demo1").click(function () {
        let arrayC = [];
        for (let i = 0; i < $(".democheck").length;i++)
        {
            arrayC.push($(".democheck").prop("checked"));
        }
        console.log(arrayC)
    })
    $("#demo2").click(function(){
            console.log(
                JSON.stringify($.map($(".democheck"), function (data) {
                    return data.checked
                }))
            )
    })

      
</script>
    
}