@section Styles
{
    <style>
        .main {
            background-color: black;
        }
    </style>
}
<a role="button" id="samplebtnmsg"></a>
<label for="applebanana">上傳圖片</label>
<input type="file" id="applebanana"/>
@section Scripts
{
<script>
    jQuery.postJSON = function (url, data, callback) {
        jQuery.post(url, data, callback, "json");
    };
    $("#applebanana").on("change", function () {
        const reader = new FileReader();
        reader.addEventListener("load", () => {
            const pic = reader.result;
            console.log(pic)
            $.postJSON("/Messenger/NewIcon", { pic: pic.split(',')[1] }, function () { });
        });
        reader.readAsDataURL(this.files[0]);
    })
    //$("#samplebtnmsg").click(function () {
    //    $.post("/Messenger/NewIcon", { pic: pic });
    //})
</script>
    
}