@using System.Collections.Generic;
@using prjiSpanFinal.ViewModels.Home
@model List<CShowFSItem>

    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            @{foreach (var item in Model)
                {
                    <div class="swiper-slide">
                        @{string productLink = Url.Content("~/Item/Index") + "?id=" + item.product.ProductId;}
                        <div class="FSitem">
                            <a class="linknoline FSimgBox" href="#!">
                                <input type="hidden" value="@item.product.ProductId" />
                                @if (item.pic != null)
                                {
                                    var base64Image = Convert.ToBase64String(item.pic);
                                    var source = String.Format("data:image/png;base64,{0}", base64Image);
                                    <img src="@source" class="FSitemImg" alt="" />
                                }
                                else
                                {
                                    <img src="~/img/imageNotFound.png" class="FSitemImg" alt="此商品沒有圖片" />
                                    @*<img src="#!" class="FSitemImg" alt="此商品沒有圖片" />*@
                                }
                            </a>
                            <div class="px-1 d-flex flex-column justify-content-between">
                                <div class="FSitemPrice">$@decimal.Round(item.price[0])</div>
                                <div class="FS-container">
                                    <div class="FS-progress" style="width:@item.Percentage;"></div>
                                    <div><img class="FS-onFire" src="~/img/Homepage/SellsOnFire.png" /></div>                                    
                                    <div class="FS-soldbar">售出 @item.sale</div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>