@using System.Collections.Generic;
@using prjiSpanFinal.ViewModels.Home
@model List<CShowItem>
@{
    <link href="~/css/Home/FSItem.css" rel="stylesheet" />
}
@{
    foreach (var item in Model)
    {
        string productLink = Url.Content("~/Item/Index") + "?id=" + item.Product.ProductId;
        <div class="FSitem">
            <a class="linknoline" href="@productLink">
                @if (item.Pic != null)
                {
                    var base64Image = Convert.ToBase64String(item.Pic);
                    var source = String.Format("data:image/png;base64,{0}", base64Image);
                    <img src="@source" class="FSitemImg" alt="" />
                }
                else
                {
                    <img src="#" class="FSitemImg" alt="此商品沒有圖片" />
                }
            </a>
            <div class="px-1 d-flex flex-column justify-content-between">
                <div class="FSitemTitleBox">
                    <div class="FSitemTitle">@item.Product.ProductName</div>
                </div>
                <div class="FSitemPrice">$@decimal.Round(item.Price[0])</div>
                @*<div class="FSitemInfo d-flex justify-content-between flex-row">
                </div>*@
            </div>
        </div>
    }
}
