
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>
    .itemThumb{
        width:200px;
        aspect-ratio:1/1;
    }
    .itemThumb img{
        width:100%;
        aspect-ratio:1/1;
        object-fit:contain;
    }

</style>

<div class="border">
    <div class="d-flex justify-content-between align-items-center px-2 py-1">
        <div class="d-flex justify-content-center align-items-center">
            <div class="itemThumb">
                <img src="~/img/product01.png" />
            </div>
            <div>
                <div class="fs-5 py-5">108樂購 魔飛Morph RGB光 影音耳機 電競藍芽 耳罩耳機 運動耳機 跑步耳機 保固一個月 【3C6801】</div>
                <div>$900</div>
            </div>
        </div>
        <div class="fs-5 text-black-50">x1</div>
    </div>
    
    <div>

    </div>
</div>