
@{
    ViewData["Title"] = "AddComment";
}

@section Styles{ 
    <style>
        .itemImgDiv{
            width:100px;
            height:100px;
        }
        .itemImgDiv img, .starImgDiv img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: contain;
            display: block;
        }

        .starImgDiv{
            width:16px;
            aspect-ratio:1/1;    
            margin:0 5px;
        }
        .starImgDiv:hover{
            cursor:pointer;
        }
        
    </style>
}


<h4>評價此商品</h4>
<div class="w-75 m-auto">
    <div class="d-flex justify-content-start align-items-center">
        <div class="itemImgDiv me-3">
            <img src="~/img/product01.png" />
        </div>
        <div class="d-flex flex-column justify-content-around">
            <div>108樂購 魔飛Morph RGB光 影音耳機 電競藍芽 耳罩耳機 運動耳機 跑步耳機 保固一個月 【3C6801】</div>
            <div class="text-black-50">規格:白色，附32g千首歌</div>
        </div>
    </div>
    <div class="d-flex justify-content-start align-items-center">
        <div>商品品質</div>
        <div class="d-flex ms-5 me-3">
            @{
                for (int i = 1; i <= 5; i++)
                {
                    <div class="starImgDiv"><img src="@Url.Content("~/img/WhiteStar.png")"/></div>
                }
            }
        </div>
        <div class="commentResult text-black-50"></div>
    </div>
    <div class="bg-warning p-2 bg-opacity-10 mt-2">
        <div class="border p-1 bg-white">
            <div class="border-bottom">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">品質</span>
                    <input type="text" class="form-control" placeholder="請提供相關的評價" aria-describedby="basic-addon1">
                </div>
            </div>
            <div>
                <textarea placeholder="分享更多有關於此商品的評價以幫助其他買家" rows="5" class="border-0"></textarea>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(".starImgDiv").click(function () {
            $(this).children().attr("src", "@Url.Content("~/img/YellowStar.png")").closest("div").prevAll().children().attr("src", "@Url.Content("~/img/YellowStar.png")").end().end().nextAll().children().attr("src", "@Url.Content("~/img/WhiteStar.png")");
            let commentResult = '';
            let starCount = $(this).prevAll().length + 1;
            if (starCount == 1) {
                $(".commentResult").html("很差");
            } else if (starCount == 2) {
                $(".commentResult").html("差");
            } else if (starCount == 3) {
                $(".commentResult").html("普通");
            } else if (starCount == 4) {
                $(".commentResult").html("不錯");
            } else {
                $(".commentResult").html("超棒");
            }
        });
    </script>
}