@model prjiSpanFinal.ViewModels.Delivery.CDeliveryCheckoutViewModel
@using prjiSpanFinal.ViewModels.Delivery
@{
    ViewData["Title"] = "Checkout";
    List<int> sellerIDList = new List<int>();
    List<string> sellerAccList = new List<string>();
    foreach(var i in Model.sellerShipperPayments)
    {
        if (sellerIDList.Contains(i.seller.MemberId))
        {
            continue;
        }
        else
        {
            sellerIDList.Add(i.seller.MemberId);
            sellerAccList.Add(i.seller.MemberAcc);
        }
    }
}

@section Styles{
    <link href="~/css/Delivery/ProgressBar.css" rel="stylesheet" />
    <link href="~/css/Delivery/DeliveryCheckout.css" rel="stylesheet"/>
}

@await Component.InvokeAsync("DeliveryProgressBar", new { checkoutPage = 1 })
<div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group" id="choseStore">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-warning" for="btnradio1">@sellerAccList[0]</label>
    @{
        for (int i = 1; i < sellerAccList.Count; i++)
        {
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-warning" for="btnradio2">@sellerAccList[i]</label>
        }
    }
</div>
<div class="row">
    <div class="col-9">
        <div class="checkoutFormVC">
            @await Component.InvokeAsync("DeliveryFillCheckoutForm", new { cDeliveryCheckout = Model, sellerID= sellerIDList[0]}) 
        </div>
        <div class="text-center">
            <button class="btn btn-warning d-none" id="previousStore">回上一筆</button>
            <button class="btn btn-primary" id="nextStore">確認並前往下一筆</button>
        </div>
    </div>



    <div class="col-3">
        <div class="showCalTotalPriceVC">
            @await Component.InvokeAsync("CalTotalPrice", new { id = 2 })
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $("#nextStore").click(function () {
            $(".checkoutFormVC").load("@Url.Action("CheckoutForm", "Delivery", new { count = 1 })")
            let nowId = $("#choseStore").children("input:checked").attr("id");
            let nextId = nowId.substring(0, 8) + (Number(nowId.substring(8)) + 1);
            $("#choseStore").children(`input[id='${nextId}']`).prop("checked", true);
            $("#previousStore").removeClass("d-none");
        });
        $("#previousStore").click(function () {
            $(".checkoutFormVC").load("@Url.Action("CheckoutForm", "Delivery", new { count = 2 })");
            let nowId = $("#choseStore").children("input:checked").attr("id");
            let nextId = nowId.substring(0, 8) + (Number(nowId.substring(8)) - 1);
            $("#choseStore").children(`input[id='${nextId}']`).prop("checked", true);
            $("#previousStore").addClass("d-none");
        })
        
    </script>
    <script src="~/js/Delivery/DeliveryCheckout.js"></script>
    <script src="~/js/Delivery/ProgressBar.js"></script>
}