
@{
    ViewData["Title"] = "Checkout";
}

@section Styles{ 
    <style>
        .showCalTotalPriceVC{
            position:sticky;
            top:100px;
        }
    </style>
}

<h4>結帳</h4>
<div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group" id="choseStore">
    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
    <label class="btn btn-outline-warning" for="btnradio1">林小偉的賣場</label>
    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
    <label class="btn btn-outline-warning" for="btnradio2">林大偉的賣場</label>
</div>
<div class="row">
    <div class="col-9">
        
        <div class="checkoutPartialView">
            
        </div>
        <div class="text-center">
            <button class="btn btn-warning d-none" id="previousStore">回上一筆</button>
            <button class="btn btn-primary" id="nextStore">確認並前往下一筆</button>
        </div>
    </div>



    <div class="col-3">
        <div class="showCalTotalPriceVC">
            @await Component.InvokeAsync("CalTotalPrice", new { id = 2 })
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $($(".checkoutPartialView").load("@Url.Content("~/Delivery/CheckoutPartial")"+`?id=2`));
        $("#nextStore").click(function () {
            $(".checkoutPartialView").load("@Url.Content("~/Delivery/CheckoutPartial")" + `?id=1`);
            let nowId = $("#choseStore").children("input:checked").attr("id");
            let nextId = nowId.substring(0, 8) + (Number(nowId.substring(8)) + 1);
            $("#choseStore").children(`input[id='${nextId}']`).prop("checked", true);
            $("#previousStore").removeClass("d-none");
        });
        $("#previousStore").click(function () {
            $(".checkoutPartialView").load("@Url.Content("~/Delivery/CheckoutPartial")" + `?id=2`);
            let nowId = $("#choseStore").children("input:checked").attr("id");
            let nextId = nowId.substring(0, 8) + (Number(nowId.substring(8)) - 1);
            $("#choseStore").children(`input[id='${nextId}']`).prop("checked", true);
            $("#previousStore").addClass("d-none");
        });
    </script>
    <script src="~/js/DeliveryCheckout.js"></script>
}