<html><head></head>
<body style="background-image:#FFEEDD;margin:5px">
    <div style="background-color:transparent;border-radius:5px;text-align:center">
        <div style="border:solid;border-width:2px;font-size:2em;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px;">您的訂單已完成結帳!</div>
        <div style="font-size:1.5em;line-height:50px">親愛的會員<span style="mrgin-left:2px;margin-right:2px;font-weight:bold">藍紹瑋</span>您好,</div>
        <div style="font-size:1.5em">以下為你的訂單列表:</div>
        <table>
            <tr>
                <td>您與賣家沈毓翔的交易內容</td>
            </tr>
            <tr>
                <td>
                    
                </td>
            </tr>
        </table>
        <div style="font-size:1.2em">欲查詢詳細訂單訂單內容請點擊下方按鈕</div>
        <a href="https://localhost:44330/Delivery/ShowCart"><button class="">查看訂單</button></a>
    </div>
</body></html>