
@{
    ViewData["Title"] = "ShowCart";
}

@section Styles{
    <style>
        .itemImgDiv {
            width: 200px;
            aspect-ratio: 1/1;
        }

            .itemImgDiv img {
                width: 100%;
                aspect-ratio: 1/1;
                object-fit: contain;
            }

        .countMinus, .countPlus {
            width: 20px;
            aspect-ratio: 1/1;
            border: 1px solid #7B7B7B;
        }

        .countMinus {
            border-radius: 5px 0 0 5px;
        }

        .countPlus {
            border-radius: 0 5px 5px 0;
        }

        .itemCount {
            border: 1px solid #7B7B7B;
            text-align: center;
            width: 100px;
        }

        .ship img {
            width: 20px;
            height: 20px;
        }

        
    </style>
}

<h4>購物車</h4>

<div class="w-100 row">
    <div class="col-9">
        <div class="mb-2 border rounded-2 px-2 py-3">
            <div class="form-check border-bottom pb-2 d-flex align-items-center">
                <input class="selectAll form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                <label class="form-check-label mx-2 fw-bold fs-3" for="flexCheckDefault">林小偉的賣場</label>
            </div>
            <div class="form-check d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <input class="selectItem form-check-input" type="checkbox" value="" id="product1" checked>
                    </div>
                    <div class="itemImgDiv">
                        <img src="~/img/product01.png" />
                    </div>
                    <div class="w-75">
                        <label class="form-check-label" for="product1">108樂購 魔飛Morph RGB光 影音耳機 電競藍芽 耳罩耳機 運動耳機 跑步耳機 保固一個月 【3C6801】</label>
                        <div class="text-black-50">白色，附32g千首歌</div>
                        <div class="text-danger">$838</div>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="countMinus">-</button>
                    <input type="text" name="Count" class="itemCount" value="1" min="1" />
                    <button class="countPlus">+</button>
                </div>
            </div>
            <div class="form-check d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <input class="selectItem form-check-input" type="checkbox" value="" id="product1" checked>
                    </div>
                    <div class="itemImgDiv">
                        <img src="~/img/product01.png" />
                    </div>
                    <div class="w-75">
                        <label class="form-check-label" for="product1">108樂購 魔飛Morph RGB光 影音耳機 電競藍芽 耳罩耳機 運動耳機 跑步耳機 保固一個月 【3C6801】</label>
                        <div class="text-black-50">白色，附32g千首歌</div>
                        <div class="text-danger">$838</div>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="countMinus">-</button>
                    <input type="text" name="Count" class="itemCount" value="1" min="1" />
                    <button class="countPlus">+</button>
                </div>
            </div>
            <div class="ship border-top d-flex align-items-center pt-3">
                <div>
                    <img src="~/img/truck.png" />
                </div>
                <div class="mx-2">
                    7-11取貨付款 $0 ; 7-11取貨 $0 ; 全家取貨付款 $0 ; 全家取貨 $0 ; 萊爾富取貨付款 $0 ; 萊爾富取貨 $0 ; 郵寄寄送 $0 ; 面交取貨付款 (面交時才付款) $0
                </div>
            </div>

        </div>
        <div class="mb-2 border rounded-2 px-2 py-3">
            <div class="form-check border-bottom pb-2 d-flex align-items-center">
                <input class="selectAll form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
                <label class="form-check-label mx-2 fw-bold fs-3" for="flexCheckDefault">林大偉的賣場</label>
            </div>
            <div class="form-check d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <input class="selectItem form-check-input" type="checkbox" value="" id="product1" checked>
                    </div>
                    <div class="itemImgDiv">
                        <img src="~/img/product01.png" />
                    </div>
                    <div class="w-75">
                        <label class="form-check-label" for="product1">108樂購 魔飛Morph RGB光 影音耳機 電競藍芽 耳罩耳機 運動耳機 跑步耳機 保固一個月 【3C6801】</label>
                        <div class="text-black-50">白色，附32g千首歌</div>
                        <div class="text-danger">$838</div>
                    </div>
                </div>
                <div class="d-flex">
                    <button class="countMinus">-</button>
                    <input type="text" name="Count" class="itemCount" value="1" min="1" />
                    <button class="countPlus">+</button>
                </div>
            </div>

            <div class="ship border-top d-flex align-items-center pt-3">
                <div>
                    <img src="~/img/truck.png" />
                </div>
                <div class="mx-2">
                    7-11取貨付款 $0 ; 7-11取貨 $0 ; 全家取貨付款 $0 ; 全家取貨 $0 ; 萊爾富取貨付款 $0 ; 萊爾富取貨 $0 ; 郵寄寄送 $0 ; 面交取貨付款 (面交時才付款) $0
                </div>
            </div>
        </div>
    </div>
    <div class="col-3 border rounded-2">
        <div class="d-flex justify-content-between mb-3 fw-bold">
            <div>全站折扣</div>
            <button class="selectCoupon border-0 bg-transparent" data-bs-toggle="modal" data-bs-target="#exampleModal">選擇折價券<span class="ms-2">></span></button>
        </div>

        <div class="d-flex justify-content-between mb-3">
            <div>小計</div>
            <div class="smallPrice">$<span>499</span></div>
        </div>
        <div class="divDiscount d-flex justify-content-between mb-3 d-none">
            <div class="selectedCouponID">折扣碼:<span class="text-danger"></span></div>
            <div class="discountPrice text-danger">-$<span></span></div>
        </div>
        <div class="d-flex justify-content-between mb-3 border-top">
            <div>總計</div>
            <div class="totalPrice">$<span>499</span></div>
        </div>
        <button class="btn btn-warning w-100">去結帳</button>
    </div>
</div>
<!-- Scrollable modal -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5" id="exampleModalLabel">選擇折價券或輸入折扣碼</h1>
                <button type="button" class="cancel btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-header">
                <input type="text" />
                <input type="submit" value="領取" class="btn btn-outline-warning"/>
            </div>
            <div class="modal-body">
                <div class="d-flex justify-content-between align-items-end">
                    <div class="fs-5 fw-bold">蝦到爆折扣</div>
                    <div class="text-black-50 fs-6">可選擇一張</div>
                </div>
                <div>
                    <input type="radio" class="btn-check" name="options" id="option1" autocomplete="off">
                    <label class="coupon btn btn-outline-warning" for="option1">
                        <div class="fw-bold">折<span>100</span>元</div>
                        <div class="fs-6 text-black-50">滿599可用</div>
                        <div>2022-10-31 00:00結束</div>
                        <div class="text-dark">數量有限，兌完為止，以實際結帳顯示為準</div>
                        <div class="couponID">折扣碼:<span>NMSL</span></div>
                    </label>
                </div>
                <div>
                    <input type="radio" class="btn-check" name="options" id="option2" autocomplete="off">
                    <label class="coupon btn btn-outline-warning" for="option2">
                        <div class="fw-bold">折<span>200</span>元</div>
                        <div class="fs-6 text-black-50">滿2999可用</div>
                        <div>2022-10-31 00:00結束</div>
                        <div class="text-dark">數量有限，兌完為止，以實際結帳顯示為準</div>
                        <div class="couponID">折扣碼:<span>7414</span></div>
                    </label>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <div>
                    <div class="discount">已選折扣<span class="text-danger mx-3">0</span></div>
                </div>
                <div>
                    <button type="button" class="cancel btn btn-secondary" data-bs-dismiss="modal">取消</button>
                    <button type="button" class="chose btn btn-warning" data-bs-dismiss="modal">確定選擇折價券</button>
                </div>            
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/DeliveryShowCart.js"></script>
    <script>
        
        $(function () {
            if ($(".itemCount").val() == 1) {
                $(".countMinus").attr("disabled", true).css("color", "#D0D0D0");
            }
        });
        $(".countMinus").click(function () {
            let value = Number($(this).next(".itemCount").val()) - 1;
            $(this).next(".itemCount").val(value);
            if ($(this).next(".itemCount").val() == 1) {
                $(this).attr("disabled", true).css("color", "#D0D0D0");
            }
        });
        $(".countPlus").click(function () {
            let value = Number($(this).prev(".itemCount").val()) + 1;
            $(this).prev(".itemCount").val(value);
            if ($(this).prev(".itemCount").val() != 1) {
                $(this).siblings(".countMinus").attr("disabled", false).css("color", "#000000");
            }
        });
        $(".coupon").click(function () {
            let discount = $(this).children().eq(0).children().html();
            $(".discount").children().html(`-$${discount}`);
        });
        $(".cancel").click(() => {
            $(".discount").children().html(`0`);
            $("input[type='radio']").attr("checked", false);
        });
        $(".chose").click(() => {
            if ($("input[type='radio']:checked").length == 0) {
                alert("請選擇一個折價券");
            }
            else {
                let couponID = $("input[type='radio']:checked").siblings().children().eq(4).children().html();
                let discount = $("input[type='radio']:checked").siblings().children().eq(0).children().html();
                $(".divDiscount").removeClass("d-none");
                $(".selectedCouponID").children().html(`${couponID}`);
                $(".discountPrice").children().html(`${discount}`);
                let totalPrice = Number($(".smallPrice span").html()) - Number(discount);
                $(".totalPrice span").html(totalPrice);
            }
            
        });

    </script>
}