@model prjiSpanFinal.Models.Coupon

@{
    ViewData["Title"] = "CouponEdit";
}

<h1>修改優惠券</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CouponEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CouponId" class="form-control" type="hidden"/>
            </div>
            <div class="form-group">
                <label asp-for="CouponName" class="control-label">優惠券名稱</label>
                <input asp-for="CouponName" class="form-control inputs" />
                <span asp-validation-for="CouponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label">開始日期</label>
                <input asp-for="StartDate" class="form-control inputs" type="date"/>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiredDate" class="control-label">失效日期</label>
                <input asp-for="ExpiredDate" class="form-control inputs"  type="date"/>
                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">折扣</label>
                <input id="Discount" asp-for="Discount" class="form-control inputs" />
                <span asp-validation-for="Discount" class="text-danger">Ex:若為8折請填入0.8</span>
            </div>
            <div class="form-group">
                <label asp-for="CouponCode" class="control-label">優惠券代碼</label>
                <input asp-for="CouponCode" class="form-control inputs" />
                <span asp-validation-for="CouponCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="MemberId" class="form-control" value="1" type="hidden" />
            </div>
            <div class="form-group">
                <label asp-for="ReceiveStartDate" class="control-label">開始領取日期</label>
                <input asp-for="ReceiveStartDate" class="form-control inputs" type="date"/>
                <span asp-validation-for="ReceiveStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReceiveEndDate" class="control-label">截止領取日期</label>
                <input asp-for="ReceiveEndDate" class="form-control inputs" type="date" />
                <span asp-validation-for="ReceiveEndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="IsFreeDelivery" class="form-check-input" asp-for="IsFreeDelivery" /> 是否為免運券
                </label>
            </div>
            <div class="form-group">
                <label asp-for="MinimumOrder" class="control-label">最低消費金額</label>
                <input asp-for="MinimumOrder" class="form-control inputs" />
                <span asp-validation-for="MinimumOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="confirms" type="submit" value="確定" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CouponList">取消並回到列表</a>
</div>

@section Scripts {
    <script>
        var IsFreeDelivery = document.getElementById("IsFreeDelivery");
        var confirms = document.getElementById("confirms");
        var Discount = $("#Discount");
        var Discounts= document.getElementById("Discount");
        var Inputs=document.querySelectorAll(".inputs");
        IsFreeDelivery.addEventListener("change", function () {
            if (IsFreeDelivery.checked == true) {
                Discount.prop('readonly', true);
                Discounts.value = 1;
            }
            else {
                Discounts.value = "";
                Discount.prop('readonly', false);
            }
        })
        Discounts.addEventListener("blur",function(event){
            console.log(Number(Discounts.value))
            if(isNaN(Number(Discounts.value))||Number(Discounts.value)>1){
                alert("折扣欄位請輸入小於或等於1的小數!");
                return;
            }
        })
        confirms.addEventListener("click",function(event){
            for(var l of Inputs){
            if(!(l.value)){
            event.preventDefault();
            alert("每個欄位皆是必填");
            break;
            }
            }
        }
        )
     </script>
}
