@model prjiSpanFinal.Models.OfficialEventList

@{
    ViewData["Title"] = "EventCreate";
}

<h1>建立活動</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EventCreate" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="OfficialEventListId"  type="hidden" />
            </div>
            <div class="form-group">
                活動名稱
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                開始日期
                <input asp-for="StartDate" class="form-control" type="date" />
            </div>
            <div class="form-group">
                結束日期
                <input asp-for="EndDate" class="form-control" type="date" />
            </div>
            <div class="form-group">
                開放參加日期
                <input asp-for="JoinStartDate" class="form-control" type="date" />
                <span asp-validation-for="JoinStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                截止參加日期
                <input asp-for="JoinEndDate" class="form-control" type="date" />
                <span asp-validation-for="JoinEndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                活動類型
                <select asp-for="OfficialEventTypeId" class="form-control mb-1">
                    @foreach(var a in ViewBag.EventType){
                        <option value="@a.OfficialEventTypeId">@a.OfficialEventTypeName</option>
                    }
                </select>
            </div>
            <div class="form-group">
                活動照片
                <input id="EventPic" asp-for="EventPic" type="file" />
                 <p> 圖片預覽</p>
                 <img id="Preview" style="max-height:200px;" />
            </div>
            <div class="form-group">
                <input id="submit" type="submit" value="確認" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="EventList" class="btn btn-danger mt-1">取消</a>
</div>

@section Scripts {
    <script>
        //圖片預覽
        $('#EventPic').on('change', function (e) {
            const file = this.files[0];
            const objectURL = URL.createObjectURL(file);    // 使用 createObjectURL 產生圖片url
            $('#Preview').attr('src', objectURL);
            console.log()
        });

        let submit=document.getElementById("submit");
        let Inputs=document.querySelectorAll(".form-control");
        submit.addEventListener("click",function(event){
            for(var l of Inputs){
            if(!(l.value)){
            event.preventDefault();
            alert("每個欄位皆是必填");
            break;
                        }
                                               }
         }
     )



    </script>
    }
