@model prjiSpanFinal.Models.Coupon

@{
    ViewData["Title"] = "EventCouponCreate";
}

<h1>建立活動優惠券</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <button id="demo" class="btn btn-success">demo</button>
        <form asp-action="EventCouponCreate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="CouponId" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                優惠券名稱<input asp-for="CouponName" class="form-control" id="CouponName" />
                <span asp-validation-for="CouponName" class="text-danger"></span>
            </div>
            <div class="form-group">
                開始日期<input asp-for="StartDate" class="form-control" type="datetime-local" id="StartDate" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                失效日期<input asp-for="ExpiredDate" class="form-control" type="datetime-local" id="ExpiredDate" />
                <span asp-validation-for="ExpiredDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                折扣<input asp-for="Discount" class="form-control" id="Discount" />
                <span asp-validation-for="Discount" class="text-danger fs-6">ex:若為8折優惠券則填入0.8</span>
            </div>
            <div class="form-group">
                優惠券代碼<input asp-for="CouponCode" class="form-control" id="CouponCode" />
                <span asp-validation-for="CouponCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="MemberId" value="1" type="hidden" />
            </div>
            <div class="form-group">
                可以領取日期<input asp-for="ReceiveStartDate" class="form-control" type="datetime-local" id="ReceiveStartDate" />
                <span asp-validation-for="ReceiveStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                結束領取日期 <input asp-for="ReceiveEndDate" class="form-control" type="datetime-local" id="ReceiveEndDate" />
                <span asp-validation-for="ReceiveEndDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                @{ if (ViewBag.re)
                    {
                        <input class="form-check-input" asp-for="IsFreeDelivery" id="IsFreeDelivery" />
                        <label>是否為免運券</label>
                    }
                    else
                    {
                        <input class="form-check-input" asp-for="IsFreeDelivery" id="IsFreeDelivery" type="hidden" value=false/>
                    }
                }
            </div>
            <div class="form-group">
                最低消費金額 <input asp-for="MinimumOrder" class="form-control" id="MinimumOrder" />
                <span asp-validation-for="MinimumOrder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="OfficialEventListId" value="@ViewBag.Id" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input id="confirms" type="submit" value="確認" class="btn btn-primary mt-1" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("取消", "EventCouponList", "newManagement", new { id = ViewBag.Id }, new { @class = "btn btn-danger mt-1" })
</div>

@section Scripts{
    <script>
        var IsFreeDelivery = document.getElementById("IsFreeDelivery");
        var confirms = document.getElementById("confirms");
        var Discount = $("#Discount");
        let Discounts = document.getElementById("Discount");
        var Inputs = document.querySelectorAll(".form-control");
        IsFreeDelivery.addEventListener("change", function () {
            if (IsFreeDelivery.checked == true) {
                Discount.prop('readonly', true);
                Discounts.value = 1;
            }
            else {
                Discounts.value = "";
                Discount.prop('readonly', false);
            }
        });
        Discounts.addEventListener("blur", function (event) {
            console.log(Number(Discounts.value));
            if (isNaN(Number(Discounts.value)) || Number(Discounts.value) > 1) {
                alert("折扣欄位請輸入小於或等於1的小數!");
                return;
            }
        });



        let demo = document.getElementById("demo");
        let CouponName = document.getElementById("CouponName");
        let StartDate = document.getElementById("StartDate");
        let ExpiredDate = document.getElementById("ExpiredDate");
        let CouponCode = document.getElementById("CouponCode");
        let ReceiveStartDate = document.getElementById("ReceiveStartDate");
        let ReceiveEndDate = document.getElementById("ReceiveEndDate");
        let MinimumOrder = document.getElementById("MinimumOrder");
        let Datas = [CouponName, StartDate, ExpiredDate, CouponCode, ReceiveStartDate, MinimumOrder, Discounts];
        demo.addEventListener("click", function () {
            CouponName.value = "站主開心發優惠";
            StartDate.value = "2022-11-08T11:33";
            ExpiredDate.value = "2022-12-01T11:33";
            ReceiveStartDate.value = "2022-11-08T11:33";
            ReceiveEndDate.value = "2022-12-01T11:33";
            Datas[3].value = "USDPKR";
            Datas[5].value = "20";
            Discounts.value = "0.5";
        });
    </script>




}