@model IEnumerable<prjiSpanFinal.Models.Product>

@{
    ViewData["Title"] = "newProductList2";
}

@section Styles{
    <style>
        th {
            text-align: center;
        }
    </style>
}

    <table class="table" width="100%" style="table-layout:fixed">
        <thead>
            <tr>
                <th align="center">
                    產品描述
                </th>
                <th align="center">
                    該商品最後編輯時間
                </th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td align="center" valign="middle">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td align="center" valign="middle" >
                    @Html.DisplayFor(modelItem => item.EditTime)
                </td>
            </tr>
        }
    </tbody>
</table>
@Html.ActionLink("回到商品列表", "newProductList","newManagement",null,new{@class="btn btn-primary",align="center",valign="middle" })

