@model prjiSpanFinal.Models.Payment

@{
    ViewData["Title"] = "PaymentEdit";
}

<h4>付款方式</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="PaymentEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="PaymentId"  type="hidden" value="@Model.PaymentId"/>
            </div>
            <div class="form-group">
                <label asp-for="PaymentName" class="control-label">付款方式名稱</label>
                <input asp-for="PaymentName" class="form-control" />
                <span asp-validation-for="PaymentName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fee" class="control-label">手續費</label>
                <input asp-for="Fee" class="form-control" />
                <span asp-validation-for="Fee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="submit" type="submit" value="儲存" class="btn btn-primary mt-1" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="PaymentList" class="btn btn-danger mt-1">取消</a>
</div>

@section Scripts {
    <script>
      let submit=document.getElementById("submit");
      let inputs = document.querySelectorAll(".form-control");
        submit.addEventListener("click",function(){
            for(let i of inputs){
                if(!(i.value)){
                    event.preventDefault();
                    alert("請完整填入內容!");
                    break;
                }
            }
        })
     </script>
}
