@{
    ViewData["Title"] = "PowerBi";
}
<style>
    .col-6 {
    }
</style>

<div class="col-3"></div>
<div class="col-6">
    <h1>這裡是後台系統</h1>
    <iframe title="1107" width="1224" height="1060" src="https://app.powerbi.com/view?r=eyJrIjoiNmEyODYxNWYtOTYwMS00YWI4LTk3NGUtNDcwNmQ0YzFlODFhIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
</div>
<div class="col-3"></div>