@model prjiSpanFinal.Models.SubOfficialEventList

@{
    ViewData["Title"] = "subEventEdit";
}

<h1>subEventEdit</h1>

<h4>SubOfficialEventList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="subEventEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="SubOfficialEventListId" type="hidden" class="form-control" value="@Model.SubOfficialEventListId" />
            </div>
            <div class="form-group">
                <input id="III" type="hidden" asp-for="OfficialEventListId" class="form-control" value="@Model.OfficialEventListId"/>
            </div>
            <div class="form-group">
                <label asp-for="SubEventName" class="control-label">子活動名稱</label>
                <input asp-for="SubEventName" class="form-control inputs" />
                <span asp-validation-for="SubEventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Discount" class="control-label">折扣</label>
                <input id="Discount" asp-for="Discount" class="form-control inputs" />
                <span asp-validation-for="Discount" class="text-danger">Ex:若為8折請輸入0.8</span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input id="IsFreeDelivery" class="form-check-input" asp-for="IsFreeDelivery" /> 是否為免運券
                </label>
            </div>
            <div class="form-group">
                <input id="confirms" type="submit" value="確認" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    @Html.ActionLink("取消","subEventList","newManagement",new{id=Model.OfficialEventListId},new{@class="btn btn-danger mt-1"})
</div>

@section Scripts {
    <script>
    var IsFreeDelivery = document.getElementById("IsFreeDelivery");
        var confirms = document.getElementById("confirms");
        var Discount = $("#Discount");
        var Discounts= document.getElementById("Discount");
        var Inputs=document.querySelectorAll(".inputs");
        IsFreeDelivery.addEventListener("change", function () {
            if (IsFreeDelivery.checked == true) {
                Discount.prop('readonly', true);
                Discounts.value = 1;
            }
            else {
                Discounts.value = "";
                Discount.prop('readonly', false);
            }
        })
        Discounts.addEventListener("blur",function(event){
            console.log(Number(Discounts.value))
            if(isNaN(Number(Discounts.value))||Number(Discounts.value)>1){
                alert("折扣欄位請輸入小於或等於1的小數!");
                return;
            }
        })
     </script>
}
