@addTagHelper *, prjiSpanFinal
@model prjiSpanFinal.ViewModels.Member.MyBalance
@{
    ViewData["Title"] = "Balance";
}
@section Styles{

    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <link href="~/css/MemberUI/Balance.css" rel="stylesheet" />
}

<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">儲值金</h2>
<div id="orderdetaildiv">
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-11">
            <div class="balance-container">
                <img src="~/img/ShaShaCoin.png" />
                <div>
                    現存蝦蝦幣
                </div>
                <div id="balanceHave">
                    @Model.Balance
                </div><div>
                    <span>
                        儲值蝦蝦幣：
                    </span>
                    <input type="text" onkeypress="isNumberKey(event)" id="charge" />
                </div>
                <br />
                <div class="btn btn-success" id="chargebtn">儲值</div>
            </div>
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link active" id="0" data-toggle="tab" href="#!" role="tab" aria-controls="nav-total" aria-selected="true">總覽</a>
                    <a class="nav-item nav-link" id="1" data-toggle="tab" href="#!" role="tab" aria-controls="nav-increase" aria-selected="false">增加＋</a>
                    <a class="nav-item nav-link" id="2" data-toggle="tab" href="#!" role="tab" aria-controls="nav-decrease" aria-selected="false">減少－</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
                    const charge = $("#charge")
                    const item = $(".nav-item");
                    let currentFilter = 0;
        const pane = $(".tab-pane");


        RefreshRecord();

                    item.click(function (event) {
                        item.removeClass("active");
                        $(this).addClass("active");
                        currentFilter = parseInt($(this).attr("id"));
                        RefreshRecord();
                    })


                    $("#chargebtn").click(function () {
                        if (parseInt(charge.val()) > 0) {
                            $.post(`BalanceCharge`, { pay: charge.val() }, function (data) {
                                if (data != null) {
                                    $("#balanceHave").text(data);
                                }
                                charge.val("");
                            })
                            item.removeClass("active");
                            $("#0").addClass("active");
                            currentFilter = 0;
                            RefreshRecord();
                        }
                    })
        function RefreshRecord() {
            $.post(`BalanceInfo`, { status: currentFilter }, function (data) {
                $("#nav-tabContent").html("");
                res = "";
                console.log(data);
                if (data.length>0) {
                    for (let i = 0; i < data.length; i++) {
                        res += `
                    <div class="d-flex justify-content-between" id="nav-tabItemBox">
                        <div class="row" id="nav-tabItemBody">
                            <div id="nav-tabItemTitle">`;
                        res += data[i].recordReason;
                        res += `</div>
                            <div id="nav-tabItemDate">`;
                        res += data[i].recordDate
                        res += `</div>
                        </div>
                        <div class="d-flex justify-content-start align-items-center" id="nav-tabItemAmount">
                            <img src="/img/ShaShaCoin.png" />
                            <div class="d-flex">`;
                        if (data[i].recordMoney > 0) {
                            res+="+"
                        }
                        res += data[i].recordMoney
                            res+=`</div>
                        </div>
                    </div>
                `;
                    }
                }
                else {
                    res = `<div class="d-flex justify-content-between">尚無交易紀錄</div>`;
                }
                $("#nav-tabContent").html(res);
            })
        }
    </script>

}