@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Coupon";
}

@section Styles
{
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <link href="~/css/Home/ItemCard.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/Item/ItemIndex.css" />
    <style>
        /*        .list a:link{text-decoration:none;}
        .list a:visited{color:aquamarine;}
        .list a:hover{text-decoration:underline;color:green;}
        .list a:active{color:red;font-size:30px;}*/
        figcaption {
            color: #FF0000;
            font-size: 40px;
            margin: 0 auto;
        }

        .list > li > a:link {
            text-decoration: none;
            color: darkslategrey;
        }

        .list > li > a:visited {
            color: aquamarine;
        }

        .list > li > a:hover {
            text-decoration: underline;
            color: green;
        }

        .list > li > a:active {
            color: red;
            font-size: 30px;
        }
    </style>
}
<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">我的優惠券</h2>
<div class="row">
    <div class="col-1"></div>
    <div class="col-11 ">
        <div class="input-group mb-1">
            <h4 style="padding-right:10px;margin:4px 7px 2px 4px;">新增優惠券</h4>
            <input type="text" class="form-control input-text" placeholder="輸入折扣代碼" aria-label="Recipient's username" aria-describedby="basic-addon2" id="CouponCodeInput">
            <button class="btn btn-outline-warning btn-lg" type="button" id="CouponCodeBtn"><i>輸入</i></button>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item " id="all">
                <a class="nav-link active ordernavtabs active Filter" aria-current="page" href="#">全部</a>
                <input type="hidden" value="0Fall"/>
            </li>
            <li class="nav-item " id="coupon1">
                <a class="nav-link ordernavtabs Filter" href="#">商場折價券</a>
                <input type="hidden" value="1Fofficial" />
            </li>
            <li class="nav-item " id="coupon2">
                <a class="nav-link ordernavtabs Filter" href="#">賣場折價券</a>
                <input type="hidden" value="2Fcourt" />
            </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="nav-item" id="new">
                <a class="nav-link ordernavtabs Sort active" aria-current="page" id="total" href="#">總覽</a>
                <input type="hidden" value="1Sort" />
            </li>
            <li class="nav-item" id="new">
                <a class="nav-link ordernavtabs Sort" aria-current="page" href="#">可使用</a>
                <input type="hidden" value="2Sort" />
            </li>
            <li class="nav-item" id="datetime">
                <a class="nav-link ordernavtabs Sort" href="#">即將到期</a>
                <input type="hidden" value="3Sort" />
            </li>
            <li class="nav-item" id="datetime">
                <a class="nav-link ordernavtabs Sort" href="#">已使用</a>
                <input type="hidden" value="4Sort" />
            </li>
            <li class="nav-item" id="datetime">
                <a class="nav-link ordernavtabs Sort" href="#">失效優惠券</a>
                <input type="hidden" value="5Sort" />
            </li>
        </ul>

        <figure style="background-color:#FCFCFC">
            <figcaption></figcaption>
            <div class="aaa d-flex flex-wrap" id="CouponArea">
                
            </div>
        </figure>
    </div>
</div>


@section Scripts
{
    <script>

        let Filter = 0;
        let Sort = 1;
        let sort1 = document.getElementById("total");
        let couponarea = $(`#CouponArea`);
        CallJson();

        $(`#CouponCodeBtn`).click(function (event) {
            let val = "";
            val = $(`#CouponCodeInput`).val();
            event.preventDefault();
            console.log(val.trim());
            if (val !="") {
                $.getJSON(`/Member/getCouponsByCode`, { code: val }, function (data) {
                    if (data != null) {
                        if (data == 0) {
                            alert("查無此券！");
                        }
                        else if (data == 1) {
                            alert("你已經領過此券！");
                        }
                        else if (data == 2) {
                            alert("領券期已過！");
                        }
                        else if (data == 3) {
                            alert("還沒開放領券哦！");                            
                        }
                        else {
                            alert("已新增優惠券！");
                            window.location.reload();
                        }
                    }
                })
            }
        })

        $(".Filter").click(function () {
            let target = $(event.target);
            let val = (target.siblings(`input`).val()).charAt(0);
            Sort = 1;
            Filter = val;
            $(".active").removeClass("active");
            target.addClass("active");
            sort1.classList.add("active");
            CallJson();
        })

        $(".Sort").click(function () {
            let target = $(event.target);
            let val = (target.siblings(`input`).val()).charAt(0);
            Sort = val;
            $(".Sort").removeClass(`active`);
            target.addClass(`active`)
            CallJson();
        })
        function CallJson() {
            $.getJSON(`/Member/getCoupons`, { filter: Filter, sort: Sort }, function (data) {
                couponarea.html("");
                if (data.length > 0) {
                    couponarea.html(RefreshCoupon(data));
                }
            })
        }
        
        function RefreshCoupon(data) {
            let str = ""
            console.log(data[0]);
            console.log(data[0].coupon);
            if (data.length > 0) {                
                for (let i = 0; i < data.length; i++) {
                    let a = "@Url.Content("~/img/coupon.jpg")";
                    str += `  <div class="sellsitem">
                        <div>
                            <img src='${a}' class="w-100" />
                        </div>
                        <div class="px-1 d-flex flex-column justify-content-between">
                            <div class="cardTitle">${data[i].coupon.couponName}</div>
                            <div class="cardPrice">可使用：${data[i].startDate}</div>
                            <div class="cardPrice">失效日：${data[i].expDate}</div>
                            <div class="cardInfo d-flex justify-content-between align-items-end">
                                <div class="d-flex justify-content-start flex-column mt-1">`;
                    if (data[i].isOverExpDate) {
                        str += `<div class="text-black-50">已失效</div>`
                    }
                    else if (data[i].isNearExpDate) {
                        str += `<div class="text-black-50">即將失效</div>`
                    }
                    else{
                        str += `<div class="text-black-50">把握效期！盡快使用！</div>`
                    }

                            str+=    `</div>
                            </div>
                        </div>
                    </div>`
                }
            }
            else {
                str = `<div><a href=""> 沒有優惠券哦！快去優惠券區領取吧！</a></div>`;
            }
            return str;
        }
    </script>
}

