@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Coupon";
}

@section Styles
{
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <style>
        /*        .list a:link{text-decoration:none;}
        .list a:visited{color:aquamarine;}
        .list a:hover{text-decoration:underline;color:green;}
        .list a:active{color:red;font-size:30px;}*/
        figcaption {
            color: #FF0000;
            font-size: 40px;
            margin: 0 auto;
        }

        .list > li > a:link {
            text-decoration: none;
            color: darkslategrey;
        }

        .list > li > a:visited {
            color: aquamarine;
        }

        .list > li > a:hover {
            text-decoration: underline;
            color: green;
        }

        .list > li > a:active {
            color: red;
            font-size: 30px;
        }
    </style>
}
<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">我的優惠券</h2>
<div class="row">
    <div class="col-1"></div>
    <div class="col-11 ">
        <div class="input-group mb-1">
            <h4 style="padding-right:10px;margin:4px 7px 2px 4px;">新增優惠券</h4><input type="text" class="form-control input-text" placeholder="輸入折扣代碼" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-outline-warning btn-lg" type="button"><i>存儲</i></button>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">全部</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">蝦到爆折價券</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">賣場折價券</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">合作商家</a>
            </li>
        </ul>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">最新</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">熱門</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">即將到期</a>
            </li>
        </ul>

        <figure style="background-color:#FCFCFC">
            <figcaption></figcaption>
            <div>
                <table style="margin:auto;">
                    @for (int i = 15; i >= 1; i--)
                    {
                        <tr>
                            <td>
                                <div class="sellsitem" style="border: 2px solid #D0D0D0;">
                                    <a href="#">
                                        <img href="#" src="~/img/coupon.jpg" width="350" height="200" class="cardImg" alt="..." />
                                    </a>
                                    <div class="px-1 d-flex flex-column justify-content-between">
                                        <div class="cardTitle">店到店免運</div>
                                        <div class="cardPrice">2022/10/10生效</div>
                                        <div class="cardInfo d-flex justify-content-between align-items-end">
                                            <div class="d-flex justify-content-start flex-column mt-1">
                                                 <div class="text-black-50">數量有限用完為止</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <div class="sellsitem" style="border: 2px solid #D0D0D0;">
                                    <a href="#">
                                        <img href="#" src="~/img/coupon.jpg" width="350" height="200" class="cardImg" alt="..." />
                                    </a>
                                    <div class="px-1 d-flex flex-column justify-content-between">
                                        <div class="cardTitle">店到店免運</div>
                                        <div class="cardPrice">2022/10/10生效</div>
                                        <div class="cardInfo d-flex justify-content-between align-items-end">
                                            <div class="d-flex justify-content-start flex-column mt-1">
                                                <div class="text-black-50">數量有限用完為止</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </figure>
    </div>
</div>
        

@section Scripts
{
}

