@model prjiSpanFinal.ViewModels.Member.MemberAccViewModel

@{
    ViewData["Title"] = "Create";
}

@section Styles{
    <link href="form-validation.css" rel="stylesheet">
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }

        .hh {
            border-bottom: 1px solid #6C6C6C;
            /*            margin: 20px;*/
            padding-bottom: 7px;
            opacity: 0.5;
            background-color: white;
        }

        .b-example-divider {
            height: 3rem;
            background-color: rgba(0, 0, 0, .1);
            border: solid rgba(0, 0, 0, .15);
            border-width: 1px 0;
            box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
        }

        .b-example-vr {
            flex-shrink: 0;
            width: 1.5rem;
            height: 100vh;
        }

        .bi {
            vertical-align: -.125em;
            fill: currentColor;
        }

        .nav-scroller {
            position: relative;
            z-index: 2;
            height: 2.75rem;
            overflow-y: hidden;
        }

            .nav-scroller .nav {
                display: flex;
                flex-wrap: nowrap;
                padding-bottom: 1rem;
                margin-top: -1px;
                overflow-x: auto;
                text-align: center;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
            }
    </style>
}
<div class="container">
    <main>
        <div class="row g-5">
            <h1 class="hh">會員註冊</h1>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">基本資料</h4>
                <form name="userInfo" class="needs-validation" method="post" enctype="multipart/form-data">
                    <div class="row g-3">
                        <div asp-validation-summary="ModelOnly" class="text-danger col-12"></div>
                        <div class="form-group col-12">
                            <label asp-for="Name" class="form-label"><span style="color:red;">*</span>姓名</label>
                            <input asp-for="Name" type="text" class="form-control" id="Name" placeholder="" value="" required />
                            <div class="invalid-feedback">
                                必填欄位
                            </div>
                        </div>

                        <div class="form-group col-12">
                            <label asp-for="MemberAcc" class="form-label"><span style="color:red;">*</span>帳號</label>
                            <div class="input-group has-validation">
                                <input asp-for="MemberAcc" type="text" class="form-control" required />
                                <div class="invalid-feedback">
                                    必填欄位
                                </div>
                            </div>


                        </div>
                        <div class="form-group col-12">
                            <label asp-for="MemberPw" class="form-label"><span style="color:red;">*</span>密碼</label>
                            <input asp-for="MemberPw" class="form-control" required />
                            <div class="invalid-feedback">
                                必填欄位
                            </div>
                        </div>
                        <div class="form-group col-12">
                            <label asp-for="Email" class="control-label"><span style="color:red;">*</span>信箱</label>
                            <input asp-for="Email" class="form-control" required />
                            <div class="invalid-feedback">
                                必填欄位
                            </div>
                        </div>
                        <div class="col-md-5">
                            <label for="country" class="form-label"><span style="color:red;">*</span>縣市</label>
                            <select class="form-select" id="country" name="countryName" required>
                                <option value="" >Choose...</option>
                                <option>台北市</option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇縣市
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label asp-for="RegionId" class="form-label"><span style="color:red;">*</span>區</label>
                            <select asp-for="RegionId" class="form-select" id="region" name="regionName" required>
                                <option value="">Choose...</option>
                            </select>
                            <div class="invalid-feedback">
                                請選擇所在地區
                            </div>
                        </div>
                        <div class="col-md-4">
                            <select class="form-select" id="state" style="display:none;">
                            </select>
                        </div>

                        @*<div class="form-group">
            <label asp-for="RegionId" class="control-label">居住地</label>
            <input asp-for="RegionId" class="form-control" />
            <span asp-validation-for="RegionId" class="text-danger"></span>
        </div>*@
                        <div class="form-group col-12">
                            <label asp-for="Address" class="control-label"><span style="color:red;">*</span>地址</label>
                            <input asp-for="Address" class="form-control" required />
                            <div class="invalid-feedback">
                                必填欄位
                            </div>
                        </div>
                        <div class="col-12">
                            <label class="form-label">國籍</label>
                            <div class="input-group has-validation">
                                <label>
                                    <input asp-for="IsTw" type="radio" name="TW" value="tw" />台灣
                                </label>
                                <label>
                                    <input asp-for="IsTw" type="radio" name="TW" value="foreign" />外國
                                </label>
                            </div>
                        </div>



                        <div class="form-group">
                            <label asp-for="Phone" class="control-label"><span style="color:red;">*</span>手機</label>
                            <input asp-for="Phone" class="form-control" required />
                            <div class="invalid-feedback">
                                必填欄位
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="BackUpEmail" class="control-label">備用信箱</label>
                            <input asp-for="BackUpEmail" class="form-control" />
                            <span asp-validation-for="BackUpEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group mt-0">
                            <input asp-for="MemStatusId" class="form-control" type="hidden" value="2" />
                        </div>

                        <div class="form-group">
                            <label asp-for="NickName" class="control-label">暱稱</label>
                            <input asp-for="NickName" class="form-control" />
                            <span asp-validation-for="NickName" class="text-danger"></span>
                        </div>

                        <div class="col-12">
                            <label class="form-label">性別</label>
                            <div class="input-group has-validation">
                                <label class="ms-3">
                                    <input asp-for="Gender" type="radio" name="gender" value="male" />男生
                                </label>
                                <label class="ms-3">
                                    <input asp-for="Gender" type="radio" name="gender" value="female" />女生
                                </label>
                                <label class="ms-3">
                                    <input asp-for="Gender" type="radio" name="gender" value="other" />其他
                                </label>
                            </div>

                        </div>
                        <div class="col-12">
                            <label asp-for="Birthday" class="form-label">生日</label>
                            <input asp-for="Birthday" type="date" class="form-control" id="Bir" placeholder="">

                        </div>
                    </div>
                    <div class="col-12">
                        <br />
                    </div>
                    <div class="col-12">
                        <label class="form-label">上傳照片</label>
                        <label>
                            <input asp-for="MemPic" class="form-control" type="file" name="File1" multiple />
                        </label>
                    </div>
                    <hr class="my-4">
                    <button class="btn btn-primary" type="submit" >註冊</button>
                    <button class="btn btn-secondary" id="clear">清除</button>
                </form>
            </div>
        </div>
    </main>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/form-validation.js"></script>

    <script>
        const clear = document.querySelector("#clear");
        const selCity = document.querySelector("#country")
        const selSite = document.querySelector("#state")
        const selregion = document.querySelector("#region")

        selCity.addEventListener("change", async () => {
            //載入鄉鎮區
            //載入路名
            await loadSite()
            await loadregion()
            
        })

        async function ajaxCall(url, sel, cb) {
            let response = await fetch(url)
            let datas = await response.json()
            cb(sel, datas)
        }
        (async function () {
            await loadCity()
            await loadSite()
            await loadregion()

        }())
        async function loadCity() {
        await ajaxCall("@Url.Content("~/member/City")", selCity, rendering)
        }
        async function loadSite() {
        const city = selCity.options[selCity.selectedIndex].value
        await ajaxCall("@Url.Content("~/member/getCityID")" + `?city=${city}`, selSite, rendering)
        }

        async function loadregion() {
            const region = selSite.options[selSite.selectedIndex].value
            await ajaxCall("@Url.Content("~/member/Site")" + `?site=${region}`, selregion, rendering)
        }



        function rendering(sel, datas) {
            sel.options.length = 0
            datas.forEach(city => {
                const opt = new Option(city, city)
                sel.options.add(opt)
            })
        }

        clear.addEventListener("click", eve => {
            eve.preventDefault();
            clearData();
        })
        function clearData() {
            $('input').val("")
            $('textarea').val("")
        }
    </script>
}
