@addTagHelper *, prjiSpanFinal

@section Styles{
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
}

<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">追蹤賣家</h2>
<div id="orderdetaildiv">
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-11">
            <table class="table table-hover w-100">
                <tr>
                    <td>
                        <img style="float:left; width:70px;" src="~/img/Member/pekopeko.jpg" class="rounded-circle"/>
                        <div>
                            喵喵喵 ACC12345678 最後更新:fsdfsdfdsdsdsfsdsdsdfdsfsdfdsf
                        </div>
                        <div>
                            產品名稱就是這麼長產品名稱就是這麼長產品名稱就是這麼長產品名稱就是這麼長
                        </div>
                    </td>
                    <td width="150px">
                        <a role="button" href="#" class="btn btn-warning orderbuttonret my-1">解除追蹤</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>

    </script>
}
