
@{
    ViewData["Title"] = "LoginSuccess";
}

<div class="row align-items-center">
    <div class="col"></div>
    <div class="col">
        <figure class="text-center">
            <div class="mb-4 ms-4">
                <a href="@Url.Content("~/Home/Index")">
                    <img src="~/img/Layout/LOGO_Long2.png" style="background-color: orange;" />
                </a>
            </div>
            <blockquote class="blockquote">
                @*<h1 style="color:#FF8040">恭喜您註冊成功</h1>*@
            </blockquote>
            <figcaption class="blockquote-footer">
                <p class="mb-5 pb-lg-2"> <a href="@Url.Content("~/HOME/Index")" class="link-info">回首頁</a><br /><a class="text-muted" href="https://localhost:44330/Member/Login">登入</a></p>
            </figcaption>
        </figure>
    </div>
    <div class="col">
        @*<img src="~/img/Member/checkOK.png" />*@
    </div>
</div>
@section Scripts{ 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    @*setTimeout("location.href='@Url.Content("~/member/login")'", 3000);*@
    Swal.fire(
        '恭喜!',
        '您已註冊成功，請重新登入!',
        'success'
    ).then(function (result) { window.location.href = "@Url.ActionLink("login","Member")";})
</script>
}
