
@{
    ViewData["Title"] = "Newspaper";
}

<h1 style="margin-top: 0.5em; font-weight: bold">發送電子報</h1>
<br />
<form name="newsinfo" method="post" enctype="multipart/form-data">
    <div style="width:70%;">
        <div style="width:70%;display:inline-block;">
            <input class="form-control" style="display:inline;" type="file" id="newsfile" name="newsimgphoto">
        </div>
        <div style="width:10%;display:inline-block;">
            <button class="btn btn-secondary" type="button" id="sendmail" disabled>送出</button>
        </div>
        <br />
        <img style="height:40%;width:30%;margin-top:0.5em;" id="newsimg" />
    </div>
</form>
@section Scripts{
    <script>
    //預覽圖片
        let file = null;
        let arraybuffer = null;
        let hasPic = false;
        
    $("#newsfile").on("change", function (eve) {
        file = this.files[0];
        let reader = new FileReader();
        reader.onload = function (e) {
            arraybuffer = this.result;
            $("#newsimg").attr("src", e.target.result);
        }
        reader.readAsDataURL(file);
        if ($("#newsfile").val()!="")
        $("#sendmail").removeAttr("disabled");
    })
    //送信
        $("#sendmail").click(() => {
            let formdata = new FormData(document.newsinfo);
            fetch('@Url.Content("~/member/SendNewspaper")', {
                method: "POST",
                body: formdata
            }).then(response => response.text())
                .then(data => { if (data == "OK") { alert("信件已寄出") } });
        });
    </script>

}
