@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Order";
}
@section Styles
{
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <link href="~/css/DataTable/datatable.css" rel="stylesheet" />
}
<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">購買清單</h2>
<vc:order-list side="1"></vc:order-list>
@section Scripts
{
    <script src="~/js/DataTable/datatable.js"></script>
}