@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "Order";
}
@section Styles
    {
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <link href="~/css/DataTable/datatable.css" rel="stylesheet" />
    <style>
        .modal-dialog {
            top: 7rem !important;
        }
    </style>
}
<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">購買清單</h2>
<div id="orderdetaildiv">
    <div class="row ">
        <div class="col-1"></div>
        <div class="col-11">
            <div class="ordersearchbar">
                <input type="text" class="form-control rounded" placeholder="搜尋訂單" aria-label="Search" aria-describedby="search-addon" style="display: inline; width: 400px;" id="orderkeyword" />
                <span>
                    <input id="startDate" class="form-control orderdatepicker" type="date" /> ~ <input id="endDate" class="form-control orderdatepicker" type="date" /> <input id="btnDate" class="btn btn-primary" max="" value="搜尋" type="button" />
                </span>
            </div>
            <div class="ordersearchbar">
                <a role="button" type="button" href="/Delivery/ShowOrderedOrder" class="btn btn-success">一鍵付款</a>
                <button type="button" id="receiveall" data-bs-toggle="modal" href="#staticBackdrop5" class="btn btn-success">一鍵領收</button>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active ordernavtabs" aria-current="page" href="#">總覽</a>
                    <input type="hidden" class="ordershipperstatus" value="0" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">訂單成立</a>
                    <input type="hidden" class="ordershipperstatus" value="2" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已付款</a>
                    <input type="hidden" class="ordershipperstatus" value="3" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已出貨</a>
                    <input type="hidden" class="ordershipperstatus" value="4" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已到貨</a>
                    <input type="hidden" class="ordershipperstatus" value="5" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">退貨處理中</a>
                    <input type="hidden" class="ordershipperstatus" value="8" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">待評價</a>
                    <input type="hidden" class="ordershipperstatus" value="6" />
                </li>
                <li class="nav-item">
                    <a class="nav-link ordernavtabs" href="#">已完成</a>
                    <input type="hidden" class="ordershipperstatus" value="7" />
                </li>
            </ul>
            <table id="ordertable" class="table table-hover dataTable">
                <thead>
                    <tr>
                        <td>訂單資料</td>
                        <td class="th-sm sorting sorting_desc" id="ordertime">結帳時間</td>
                        <td>商品詳情</td>
                        <td class="th-sm sorting" id="ordersales">訂單金額</td>
                        <td>訂單狀態</td>
                        <td>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    操作
                                </label>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody id="orderlistbody">
                </tbody>
            </table>
            <div class="row ">
                <div class="d-flex justify-content-center">
                    <select style="width:150px" class="form-select form-select-lg mb-3" id="pagecountselect" aria-label=".form-select-lg example">
                        <option value="1">每頁1個</option>
                        <option value="5" selected>每頁5個</option>
                        <option value="10">每頁10個</option>
                        <option value="20">每頁20個</option>
                    </select>
                </div>
                <div class="d-flex justify-content-center">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item" id="orderpageup">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item" id="orderpagedown">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="d-flex justify-content-center">
                    <span id="totalpagesdisplay"></span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel1">申訴申請</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>請選擇申訴種類: </div>
                <select class="form-select form-select-lg mb-3" id="arguetypeselect" aria-label=".form-select-lg example">
                    <option selected value="1">退貨</option>
                    <option value="2">退款</option>
                    <option value="5">棄標投訴</option>
                </select>
                <div>請選擇申訴理由: </div>
                <select class="form-select form-select-lg mb-3" id="argueselect" aria-label=".form-select-lg example">
                    <option selected value="1">我沒收到商品</option>
                    <option value="2">商品與期待不符</option>
                    <option value="3">商品有損壞</option>
                    <option value="4">賣家不出貨</option>
                    <option value="5">服務態度太差</option>
                    <option value="6">其他</option>
                </select>
                <div>請輸入補充資訊: </div>
                <div class="mb-3">
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div id="previewCommentPhoto" class="d-flex"></div>
                <label class="addPhoto btn btn-outline-warning btn-sm" for="commentPhoto">
                    <i class="fa-solid fa-camera-retro me-2">新增照片</i>
                </label>
                <input type="file" name="" value="" id="commentPhoto" style="opacity:0" accept="image/*" multiple />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="orderarguesubmit" data-bs-target="#staticBackdrop2" data-bs-toggle="modal">送出</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop2" tabindex="-1" aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel2">您的申訴申請已送出</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>您可以與賣家聯繫詢問申訴相關問題，或是從網頁上方幫助中心與客服聯絡以獲得更多資訊。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel3">確定要領收嗎</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>送出之後不能更改狀態，請再次確定商品數量與狀態。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="orderrecsubmit" data-bs-target="#staticBackdrop4" data-bs-toggle="modal">送出</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop4" tabindex="-1" aria-labelledby="staticBackdropLabel4" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel4">您已領收商品</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>收到商品後別忘記幫我們做評價哦。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel5" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel5">確定要全部領收嗎</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>送出之後不能更改狀態，請再次確定商品數量與狀態。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="orderrecallsubmit" data-bs-target="#staticBackdrop6" data-bs-toggle="modal">送出</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop6" tabindex="-1" aria-labelledby="staticBackdropLabel6" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="staticBackdropLabel6">您已領收全部<span id="reccount"></span>件商品</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>收到商品後別忘記幫我們做評價哦。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="staticBackdrop7" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel7" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel7">申請</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 id="returnreason">原因:</h3>
                <div id="returnreasonname"></div>
                <h4>補充資訊:</h4>
                <div id="returnreasontext"></div>
                <h4>補充圖片:</h4>
                <div id="returnreasonpics"></div>
            </div>
            <div class="modal-footer" id="returnfooter">
                <button type="button" class="btn btn-primary" id="orderreturnsubmit" data-bs-target="#staticBackdrop8" data-bs-toggle="modal">同意</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="staticBackdrop8" tabindex="-1" aria-labelledby="staticBackdropLabel8" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-6" id="staticBackdropLabel8">您已同意本次申訴</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>請確認申訴內容已經處理完成，如果沒有妥善處理可能被重複申訴，若情況嚴重則可能被禁權。</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
            </div>
        </div>
    </div>
</div>


@section Scripts
    {
    <script src="~/js/DataTable/datatable.js"></script>
    <script>
        /*startDate.max = new Date().toISOString().split("T")[0];*/
        endDate.max = new Date().toISOString().split("T")[0];
        let sortmethod = 0;
        let tabid = 0;
        let nowpages = 1;
        let eachpage = 5;
        let searchflag = false;
        function reloaditem(sm = sortmethod, id = tabid, pages = nowpages, eachpages = eachpage) {
            let keyword;
            let startdate;
            let enddate
            if (searchflag) {
                keyword = $("#orderkeyword").val();
                startdate = $("#startDate").val();
                enddate = $("#endDate").val();
            }
            else {
                $("#orderkeyword").val("");
                keyword = "";
                startdate = "1990-01-01";
                enddate = "2050-01-01";
            }
            $.getJSON(`/Member/SortOrder`, { sort: sm, tab: id, pages: pages, eachpage: eachpages, keyword: keyword, startdate: startdate, enddate: enddate }, function (data) {
                $("#orderlistbody").html("");
                for (let i = 0; i < data.length; i++) {
                    $("#orderlistbody").append(OrderListItem(data[i]));
                }
                if (data.length > 0) {
                    PageNumFill(data[0].orderCount);
                }
                else {
                    PageNumFill(0);
                }
            });
        }
        reloaditem(0, 0);

        function PageNumFill(c) {
            let pagecount = Math.ceil(Math.max(1,c) / eachpage);
            $("#totalpagesdisplay").html(`共${pagecount}頁，${c}筆資料`);
            let startpage = Math.max(1, Math.min(pagecount - 4, parseInt(nowpages) - 2));
            let endpage = Math.min(pagecount, Math.max(5, parseInt(nowpages) + 2));
            $("#orderpagedown").siblings(".orderpagenumclicklist").remove();
            for (let i = startpage; i <= endpage; i++) {
                if (i == nowpages) {
                    $("#orderpagedown").before(`<li class="page-item active orderpagenumclicklist"><a class="page-link orderpagenumclick" href="#">${i}</a></li>`);
                }
                else {
                    $("#orderpagedown").before(`<li class="page-item orderpagenumclicklist"><a class="page-link orderpagenumclick" href="#">${i}</a></li>`);
                }
            }
        }

        function OrderListItem(data) {
            item = `<tr>

                                            <td><input type="hidden" class="orderorderid" value="${data.orderId}" />
                                            <input type="hidden" class="ordershipperstatus" value="${data.shipperStatusId}" />
                                                            <input type="hidden" class="orderorderdate" value="${Date.parse(data.orderDatetime)}" />${data.orderId}<br /><a class="namenounderline" href="/SalesCourt/評價?id=${data.sellerId}">${data.sellerAcc}</a><br /><a href="#" class="orderopenmsg"><i class="fa fa-comment" style="color:orange"></i></a></td>
                                            <td>${datetimetostring((new Date(data.orderDatetime)))}</td>
                                            <td>`;
            let total = data.paymentFee;
            for (let i = 0; i < data.quantity.length; i++) {
                item = item + `<img src="data:image;base64,${data.pic[i]}" width="60" height="60" />${data.productName[i]} ${data.style[i]} * ${data.quantity[i]} $${data.unitprice[i]}<br />`;
                total = total + data.unitprice[i] * data.quantity[i];
            }
            if (data.isFreeDelivery == false) {
                total = total + data.shipperFee;
            }
            item = item + `</td><td class="ordertotalprice">$${total}</td>`;
            if (data.shipperStatusId == 6 && !data.buyerCommentId.includes(0)) {
                item = item + `<td>等待<br />賣家評價</td>`;
            }
            else
            {
                item = item + `<td>${data.orderStatusName}</td>`;
            }
            item = item +`<td style="text-align:center"><a href="/Member/OrderDetail?id=${data.orderId}" role="button" class="btn btn-primary orderbuttonde my-1">詳情</a><br />`;
            if (data.shipperStatusId == 6 && data.buyerCommentId.includes(0)) {
                item = item + ` <a href="/Delivery/AddComment?id=${data.orderId}" role="button" class="btn btn-secondary orderbuttonco my-1">評價</a><br /><a class="btn btn-warning orderbuttonre my-1" data-bs-toggle="modal" href="#staticBackdrop1" role="button">申訴</a>`;
            }
            else if (data.shipperStatusId == 5 || data.shipperStatusId == 4) {
                item = item + `<a href="#staticBackdrop3" data-bs-toggle="modal" role="button" class="btn btn-success orderbuttonfi my-1">領收</a><br /><a class="btn btn-warning orderbuttonre my-1" data-bs-toggle="modal" href="#staticBackdrop1" role="button">申訴</a>`;
            }
            else if (data.shipperStatusId == 3) {
                item = item + `<a class="btn btn-warning orderbuttonre my-1" data-bs-toggle="modal" href="#staticBackdrop1" role="button">申訴</a>`;
            }
            else if (data.shipperStatusId == 2)
                item = item + `<a href="/Delivery/ShowOrderedOrder?id=${data.orderId}" role="button" class="btn btn-success orderbuttonde my-1">付款</a><br /><a class="btn btn-warning orderbuttonre my-1" data-bs-toggle="modal" href="#staticBackdrop1" role="button">申訴</a>`;
            if (data.shipperStatusId == 8) {
                item = item + ` <a role="button" data-bs-toggle="modal" href="#staticBackdrop7" class="btn btn-info orderbuttonret my-1">查看</a>`;
            }
            item = item + `<div>
                                                    <input class="form-check-input checkboxorder" type="checkbox" value="" aria-label="...">
                                                </div>
                                                <input type="hidden" class="ordersellerid" value="${data.sellerId}" />
                                            </td>
                                        </tr>`;
            return item;
        }
        $("#ordertime").click(function () {
            nowpages = 1;
            if ($("#ordertime").hasClass("sorting_desc")) {
                sortmethod = 0;
                reloaditem(sortmethod, tabid);
            }
            else {
                sortmethod = 1;
                reloaditem(sortmethod, tabid);
            }
        })
        $("#ordersales").click(function () {
            nowpages = 1;
            if ($("#ordersales").hasClass("sorting_desc")) {
                sortmethod = 2;
                reloaditem(sortmethod, tabid);
            }
            else {
                sortmethod = 3;
                reloaditem(sortmethod, tabid);
            }
        })
        $(".ordernavtabs").click(function (event) {
            tabid = $(event.currentTarget).siblings("input").val();
            $(event.currentTarget).addClass("active");
            $(event.currentTarget).parent().siblings().children("a").removeClass("active");
            nowpages = 1;
            reloaditem(sortmethod, tabid);
        })
        $("#btnDate").click(function () {
            if (searchflag) {
                searchflag = false;
                $("#btnDate").removeClass("btn-secondary").addClass("btn-primary");
                $("#btnDate").val("搜尋");
                $("#orderkeyword").removeAttr("readonly");
            }
            else {
                searchflag = true;
                $("#btnDate").removeClass("btn-primary").addClass("btn-secondary");
                $("#btnDate").val("解除搜尋");
                $("#orderkeyword").attr("readonly", "readonly");
            }
            nowpages = 1;
            reloaditem();
        });
        $("#flexCheckDefault").change(function () {
            if ($(this).prop("checked")) {
                $(".checkboxorder").prop("checked", true);
            }
            else {
                $(".checkboxorder").prop("checked", false);
            }
        });
        let argueorderid;
        let argueitem;
        let arguesellerid;
        $(document).on("click", ".orderbuttonre", function () {
            arguesellerid = $(this).siblings(".ordersellerid").eq(0).val();
            argueorderid = $(this).parent().siblings().children().val();
            $("#argueselect").children().eq(0).prop("selected", "selected");
            $("#exampleFormControlTextarea1").val("");
            argueitem = $(this);
            $("#previewCommentPhoto").html("");
        })

        let recorderid;
        let recitem;
        $(document).on("click", ".orderbuttonfi", function () {
            recorderid = $(this).parent().siblings().children().val();
            recitem = $(this);
        })

        jQuery.postJSON = function (url, data, callback) {
            jQuery.post(url, data, callback, "json");
        };

        $("#orderarguesubmit").click(function () {
            let pics = $.map($("#previewCommentPhoto").find("img"), function (item, index) {
                return (item.src).split(',')[1];
            });
            happy_sendnoti(4, arguesellerid, "你的訂單被買家投訴了", "/Seller/Order?sort=0&tab=8", "如果有需要幫助可以聯絡客服中心。");
            $.postJSON(`/Member/WriteArgue`, { id: argueorderid, type: $("#arguetypeselect option:selected").val(), reason: $("#argueselect option:selected").val(), keyword: $("#exampleFormControlTextarea1").val(), pics: pics }, function (data) {
                reloaditem(sortmethod, tabid);
            });
        })

        $("#orderrecsubmit").click(function () {
            $.getJSON(`/Member/WriteReceive`, { id: recorderid }, function (data) {
                reloaditem(sortmethod, tabid);
            });
            $.getJSON(`/Member/TakeTradeFee`, { id: recorderid }, function (data) {
                if (data == "error")
                    console.log("儲存失敗");
                else if (data.length > 1) {
                    happy_sendnoti(2, data[0], `交易完成`, "/Seller/Order", `您的訂單編號 ${recorderid} 交易已完成，總金額為 ${data[1]} 元，將酌收 ${data[2]} 元作為交易手續費。`);
                }

            });
        })
        $("#orderrecallsubmit").click(function () {
            let count1 = 0;
            let orderids = $.map($(".checkboxorder:checked").parent().parent().prev().prev().prev().prev().prev().find(".orderorderid"), function (item, index) {
                return item.value;
            });
            let statses = $.map($(".checkboxorder:checked").parent().parent().prev().prev().prev().prev().prev().find(".ordershipperstatus"), function (item, index) {
                return item.value;
            });
            for (let i = 0; i < statses.length; i++) {
                if (statses[i] == 5 || statses[i] == 4) {
                    count1++;
                    $.getJSON(`/Member/WriteReceive`, { id: orderids[i] }, function (data) {
                        reloaditem(sortmethod, tabid);
                    });
                }

            }
            $("#flexCheckDefault").removeAttr("checked");
            $("#reccount").html(count1);
        })

        $("#commentPhoto").change(function () {
            const photos = document.getElementById("commentPhoto").files;
            if (photos) {
                $.each(photos, function (idx, photo) {
                    let reader = new FileReader();
                    reader.readAsDataURL(photo);
                    reader.onloadend = function () {
                        let src = reader.result;
                        $("#previewCommentPhoto").append(`<div class="deleteCommentPhoto"><i class="fa-solid fa-circle-xmark"></i><img style="max-width:100px" src="${src}" /></div>`);
                    }
                });
            }
        });
        $("#previewCommentPhoto").on("mouseenter", ".deleteCommentPhoto", function () {
            $(this).children("i").css("opacity", "0.3");
        });
        $("#previewCommentPhoto").on("mouseleave", ".deleteCommentPhoto", function () {
            $(this).children("i").css("opacity", "0");
        });
        $("#previewCommentPhoto").on("mouseenter", ".deleteCommentPhoto>i", function () {
            $(this).css("cursor", "pointer");
        });
        $("#previewCommentPhoto").on("mouseleave", ".deleteCommentPhoto>i", function () {
            $(this).css("cursor", "none");
        });
        $("#previewCommentPhoto").on("click", ".deleteCommentPhoto>i", function () {
            $(this).closest(".deleteCommentPhoto").remove();
        });

        function datetimetostring(dtime) {
            let tempt = dtime.getFullYear().toString() + "-" + (dtime.getMonth() + 1).toString().padStart(2, '0') + "-" + dtime.getDate().toString().padStart(2, '0') + "<br />" + dtime.getHours().toString().padStart(2, '0') + ":" + dtime.getMinutes().toString().padStart(2, '0') + ":" + dtime.getSeconds().toString().padStart(2, '0');
            return tempt;
        }

        $(document).on("click", ".orderopenmsg", function () {
            happy_popup($(this).siblings("a").html());
        });

        let returnorderid;
        let returnitem;
        let returntype;
        $(document).on("click", ".orderbuttonret", function () {
            returnorderid = $(this).parent().siblings().children().val();
            commentitem = $(this);

            $.getJSON(`/Seller/GetReturn`, { id: returnorderid }, function (data) {
                returntype = data.typeID;
                console.log(returntype)
                $("#staticBackdropLabel7").html(`${data.typeName}申請`);
                $("#returnreason").html(`${data.typeName}原因`);
                $("#returnreasonname").html(`${data.reasonName}`);
                $("#returnreasontext").html(`${data.reasonText}`);
                $("#returnreasonpics").html("");
                if (data.pics != undefined) {
                    for (let i = 0; i < data.pics.length; i++) {
                        $("#returnreasonpics").append(`<div class="deleteCommentPhoto"><img style="max-width:150px" src="data:image;base64,${data.pics[i]}" /></div>`);
                    }
                }
            });
            $("#returnfooter").html(`<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>`);
        })

        $(document).on("click", ".orderpagenumclick", function () {
            nowpages = $(this).html();
            reloaditem(sortmethod, tabid, nowpages);
        })

        $("#orderpagedown").click(function () {
            let pagescount = $(".orderpagenumclicklist").length;
            nowpages = Math.min(parseInt(nowpages) + 1, pagescount);
            reloaditem(sortmethod, tabid, nowpages);
        })

        $("#orderpageup").click(function () {
            nowpages = Math.max(parseInt(nowpages) - 1, 1);
            reloaditem(sortmethod, tabid, nowpages);
        })

        $("#pagecountselect").change(function () {
            eachpage = $("#pagecountselect option:selected").val();
            nowpages = 1;
            reloaditem(sortmethod, tabid, nowpages, eachpage);
        });
    </script>
}