@addTagHelper *, prjiSpanFinal
@{
    ViewData["Title"] = "OrderDetail";
}
@section Styles
{
    <link href="~/css/Order/detail.css" rel="stylesheet" />
    <link href="~/css/MemberUI/sidebar.css" rel="stylesheet" />
    <style>

    </style>
}
<vc:member-ui></vc:member-ui>
<h2 class="d-flex justify-content-center">訂單明細</h2>
<vc:order-detail vm="Model"></vc:order-detail>

@section Scripts
{
    <script>
        $(".odshipping").click(function() {
            $.getJSON(`/Orderapi/SettoShipping`, { id: $(event.currentTarget).siblings("input").val() }, function (data) {
            });
        });
        $(".odarrived").click(function () {
            $.getJSON(`/Orderapi/SettoArrived`, { id: $(event.currentTarget).siblings("input").val() }, function (data) {
            });
        });

        $(".odrefresh").click(function() {
            let thisicon = $(event.currentTarget);
            $.getJSON(`/Orderapi/RefreshOD`, { id: thisicon.find("input").val() }, function (data) {
                if (data.shippingStatusId == 2 || data.shippingStatusId == 3) {
                    thisicon.parent().find(".progress-bar").css("width","66%");
                    thisicon.parent().find(".fa-circle").removeClass("active");
                    thisicon.parent().find(".fa-circle").eq(0).addClass("active");
                    thisicon.parent().find(".fa-circle").eq(1).addClass("active");
                }
                else if (data.shippingStatusId == 4 || data.shippingStatusId == 5) {
                    thisicon.parent().find(".progress-bar").css("width", "100%");
                    thisicon.parent().find(".fa-circle").removeClass("active");
                    thisicon.parent().find(".fa-circle").eq(0).addClass("active");
                    thisicon.parent().find(".fa-circle").eq(1).addClass("active");
                    thisicon.parent().find(".fa-circle").eq(2).addClass("active");
                }
                if (data.shippingDate != undefined) {
                    $(".odshippingdemoact").removeClass("active").addClass("active");
                    $(".odshippingdemopro").html(`已出貨<br />${datetimetostring((new Date(data.shippingDate)))}`);
                }
                
            });

        });

        function datetimetostring(dtime) {
            let tempt = dtime.getFullYear().toString() + "/" + (dtime.getMonth() + 1).toString().padStart(2, '0') + "/" + dtime.getDate().toString().padStart(2, '0') + afternoon(dtime.getHours()) + afternoon2(dtime.getHours()) + ":" + dtime.getMinutes().toString().padStart(2, '0') + ":" + dtime.getSeconds().toString().padStart(2, '0');
            return tempt;
        }
        function afternoon(thour) {
            if(thour > 12){
                return " 下午 ";
            }
            else{
                return " 上午 ";
            }
        }
        function afternoon2(thour) {
            if (thour > 12) {
                return (thour - 12).toString().padStart(2, '0');
            }
            else if (thour == 0)
            {
                return "12";
            }
            else {
                return (thour).toString().padStart(2, '0');
            }
        }
    </script>
}
