@media (min-width: 1400px) {
    .container {
        max-width: 1350px;
    }
}
@media (min-width: 768px) {
    .container-md, .container-sm {
        max-width: 720px;
    }
}

/* 左側 */
.listview {
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    flex-shrink: 0;
    align-content: flex-start;
    border: 0 solid #000;
    margin: 0;
    min-width: 0;
    margin-bottom:30px;
}

.listtype {
    height: 588px;
    overflow-y: auto;
    border: 1px solid #F75000;
    border-radius: 5px;
}

    .listtype::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #ffc0cb;
    }

    .listtype::-webkit-scrollbar {
        width: 6px;
        background-color: black;
    }

    .listtype::-webkit-scrollbar-thumb {
        background-color: #bb6573;
    }
    .listtype > .listview-lg {
        font-size: 20px;
        border:0;
        border-radius:0;
    }

        .listtype > .listview-lg > .list-group-item {
            font-weight: bold;
            background-color: white;
            color: #FF5809;
        }

            .listtype > .listview-lg > .list-group-item:hover {
                background-color: #FFE4CA;
                color: #F75000;
            }

            .listtype > .listview-lg > .list-group-item > a > span {
                color: #FF5809;
                font-weight: bold;
            }

            .listtype > .listview-lg > .list-group-item:hover > a > span {
                background-color: #FFE4CA;
                color: #F75000;
            }

.firstLevel {
    width: 100%;
    height: 30px;
    text-align: right;
    border: 0;
    border-radius: 0;
}

    .firstLevel > span {
        font-size: 15px;
    }


.secondLevel {
    left: -100%;
    padding-left: 10px;
}

.listtypeTitleLink {
}

.listtypeSmalltype {
    padding: 4px 2px 4px 20px;
    width: 100%;
    border: 0;
    height: 25px;
    font-size: 16px;
    color: #B766AD;
    font-weight: bold;
}

    .listtypeSmalltype:hover {
        background-color: #FFEEDD;
        color:red;
        opacity: 80%;
    }
/*AD*/
.Homepage-AD {
}

    .Homepage-AD > a {
        border-radius: 10px;
        overflow: hidden;
    }

        .Homepage-AD > a:hover {
            opacity: 80%;
        }
/*/AD*/
.cateheader {
    max-height: 100%;
}

.cateheader-1 {
    max-height: 420px;
    height: 100%
}

.cateheader-2 {
    max-height: 100%;
}

    .cateheader-2 img:hover {
        opacity: 80%;
    }
/* 幻燈片 */
.carousel {
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-height: 420px;
}

    .carousel .carousel-item {
        text-align: center;
    }

        .carousel .carousel-item a img {
            min-height: 100px;
            width: 100%;
            display: block;
            object-fit: cover;
        }

            .carousel .carousel-item a img:hover {
                opacity: 80%;
            }

.dm {
    overflow: hidden;
    height: 100%;
    max-height: 125px
}

    .dm div {
        max-height: 100%;
    }

    .dm img {
        object-fit: cover;
        max-height: 100%;
        height: 100%
    }
/*分隔線*/
.split {
    height: 50px;
    width: 100%;
}

.split2 {
    max-height: 30px;
    height: 30px;
}
/*猜你喜歡商品區*/
.guessliketitle {
    padding-left: 20px;
}

.itembody {
    padding: 0;
}

.itemcol {
    height: 343px;
    width: 100%;
    overflow: hidden;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start
}


.showmoreitem {
    color: red;
    border: 1px solid red;
    font-weight: bold;
}

    .showmoreitem:hover {
        color: white;
        --bs-btn-hover-color: black;
        opacity: 80%;
    }
