
.sellsitem {
    width: 200px;
    height: 320px;
    margin: 4px 5px 4px 5px;
    display: inline;
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #FF8040;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all .5s;
    background: white;
    position: relative!important;
}
    .sellsitem:hover {
        transform: scale(1.05);
        box-shadow: 0 0 6px rgba(255, 102, 0, 1);
        top: 0px;
        z-index:3;
    }
    
.cardImgBox {
    
}
.cardImg {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    object-fit: cover;
}
.cardInfoArea {
    margin-top:1px;
    border-radius:3px;
}
.cardTitleBox {
    height: 65px;
}
.cardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    letter-spacing: 1px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
}

.cardPrice {
    color:red;
    font-size: 1em;
    font-weight: bold;
}

.cardInfo {
    font-size: 1em;
    flex-wrap: nowrap;
}
.starBox{
    width:100px;
}

.starImg {
    width: 25%;
    aspect-ratio: 1/1;
    margin-right: 5px;
}

    .starImg > img {
        width:100%;
    }
.sells {
    font-size: 15px;
    padding: 3px;
    text-align: center;
    width: 140px;
    color: black;
    font-weight: bold;
}

