<div class="mt-3" style="position:fixed; bottom:0px; right:10px; width:900px;">
    <button class="chatroom float-end" type="button" data-bs-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        <i class="fa fa-comment">
            <span>蝦蝦通</span>
        </i>
    </button>
    <div class="collapse" id="collapseExample" style="clear:right">
        <div class="card" id="chat3" style="border-radius: 15px;">
            <div class="card-body">

                <div class="row">
                    <div class="col-md-6 col-lg-5 col-xl-4 mb-4 mb-md-0">

                        <div class="p-3">

                            <div class="input-group rounded mb-3">
                                <input type="search" class="form-control rounded" placeholder="開啟對話" aria-label="Search"
                                       aria-describedby="search-addon" />
                                <span class="input-group-text border-0" id="search-addon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </div>

                            <div style="position: relative; height: 400px;overflow-y: auto;">
                                <ul class="list-unstyled mb-0">
                                    <li class="p-2 border-bottom">
                                        <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <img src="~/img/Member/mikomiko.jpg" alt="avatar" class="d-flex align-self-center me-3" style="width: 45px; height: 45px; border-radius: 50%;">
                                                    <span class="badge bg-success badge-dot"></span>
                                                </div>
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">Miko0001</p>
                                                    <p class="small text-muted">Miko!</p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">現在</p>
                                                <span class="badge bg-danger rounded-pill float-end">3</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="p-2 border-bottom">
                                        <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <img src="~/img/Member/mikomiko.jpg" alt="avatar" class="d-flex align-self-center me-3" style="width: 45px; height: 45px; border-radius: 50%;">
                                                    <span class="badge bg-warning badge-dot"></span>
                                                </div>
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">Miko0002</p>
                                                    <p class="small text-muted">Miko!</p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">5分鐘前</p>
                                                <span class="badge bg-danger rounded-pill float-end">2</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="p-2 border-bottom">
                                        <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <img src="~/img/Member/mikomiko.jpg" alt="avatar" class="d-flex align-self-center me-3" style="width: 45px; height: 45px; border-radius: 50%;">
                                                    <span class="badge bg-success badge-dot"></span>
                                                </div>
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">Miko0003</p>
                                                    <p class="small text-muted">Miko!</p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">昨天</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="p-2 border-bottom">
                                        <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <img src="~/img/Member/mikomiko.jpg" alt="avatar" class="d-flex align-self-center me-3" style="width: 45px; height: 45px; border-radius: 50%;">
                                                    <span class="badge bg-danger badge-dot"></span>
                                                </div>
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">Miko0004</p>
                                                    <p class="small text-muted">Miko!</p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">昨天</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="p-2 border-bottom">
                                        <a href="#!" class="d-flex justify-content-between">
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <img src="~/img/Member/mikomiko.jpg" alt="avatar" class="d-flex align-self-center me-3" style="width: 45px; height: 45px; border-radius: 50%;">
                                                    <span class="badge bg-warning badge-dot"></span>
                                                </div>
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">Miko0005</p>
                                                    <p class="small text-muted">Miko!</p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">昨天</p>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="p-2">
                                        <a href="#!" class="d-flex justify-content-between" id="msgchattarget6">
                                            <div class="d-flex flex-row">
                                                <div>
                                                    <img src="~/img/robot.jpg" alt="avatar" class="d-flex align-self-center me-3" style="width: 45px; height: 45px; border-radius: 50%;">
                                                    <span class="badge bg-success badge-dot"></span>
                                                </div>
                                                <div class="pt-1">
                                                    <p class="fw-bold mb-0">客服機器人</p>
                                                    <p class="small text-muted">您好請問我可以做些什麼?</p>
                                                </div>
                                            </div>
                                            <div class="pt-1">
                                                <p class="small text-muted mb-1">3個月前</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-7 col-xl-8">
                        <div class="pt-3 pe-3" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px; overflow-y: auto; " id="messagebody">

                            <div class="d-flex flex-row justify-content-end">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko!</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">16:00 PM | 10月 10</p>
                                </div>
                                <img src="~/img/Member/pekopeko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;">
                            </div>

                            <div class="d-flex flex-row justify-content-start">
                                <img src="~/img/Member/mikomiko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko!</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">16:01 PM | 10月 10</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko</p>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko!</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">18:00 PM | 11月 17</p>
                                </div>
                                <img src="~/img/Member/pekopeko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;">
                            </div>

                            <div class="d-flex flex-row justify-content-start">
                                <img src="~/img/Member/mikomiko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;">
                                <div>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko</p>
                                    <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko!</p>
                                    <p class="small ms-3 mb-3 rounded-3 text-muted float-end">18:01 PM | 11月 17</p>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">Peko!</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">三小時前</p>
                                </div>
                                <img src="~/img/Member/pekopeko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;">
                            </div>

                            <div class="d-flex flex-row justify-content-start">
                                <img src="~/img/Member/mikomiko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;">
                                <div>
                                    <div>
                                        <p class="small p-2 ms-3 mb-1 rounded-3" style="background-color: #f5f6f7;">Miko!</p>
                                        <p class="small ms-3 mb-3 rounded-3 text-muted float-end">三小時前</p>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex flex-row justify-content-end">
                                <div>
                                    <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary">睡公園</p>
                                    <p class="small me-3 mb-3 rounded-3 text-muted">一小時前</p>
                                </div>
                                <img src="~/img/Member/pekopeko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;" />
                            </div>

                        </div>

                        <div class="text-muted d-flex justify-content-start align-items-center pe-3 pt-3 mt-2">
                            <img src="~/img/Member/pekopeko.jpg" alt="avatar 1" style="width: 45px; height: 45px; border-radius: 50%;" />
                            <input type="text" class="form-control form-control-lg ms-2" id="msgtextinput" placeholder="說點話吧" />
                            <a class="ms-3" href="#!" id="msgsendimage"><input type="file" id="msgupload" style="opacity: 0; z-index: -1; position: absolute;" /><label for="msgupload"><i class="fa-solid fa-lg fa-image"></i></label></a>
                            <a class="ms-3 text-muted" data-bs-toggle="collapse" href="#collapseemoji" aria-expanded="false" aria-controls="collapseemoji">
                                <i class="fas fa-lg fa-smile"></i>
                            </a>
                            <a class="ms-3" href="#!" id="msgenter"><i class="fas fa-lg fa-paper-plane"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="collapse rounded-2" id="collapseemoji" style="position:fixed; bottom:80px; right:80px; background-color:white;">
    <div>
        <img src="~/img/sleepinpark.jpg" class="m-1 msgemoji1 msgemoji" width="100" height="100" />
        <img src="~/img/sleepinpark.jpg" class="m-1 msgemoji1 msgemoji" width="100" height="100" />
        <img src="~/img/sleepinpark.jpg" class="m-1 msgemoji1 msgemoji" width="100" height="100" />
    </div>
    <div>
        <img src="~/img/lapsleepinpark.jpg" class="m-1 msgemoji2 msgemoji" width="100" height="100" />
        <img src="~/img/lapsleepinpark.jpg" class="m-1 msgemoji2 msgemoji" width="100" height="100" />
        <img src="~/img/lapsleepinpark.jpg" class="m-1 msgemoji2 msgemoji" width="100" height="100" />
    </div>
    <div>
        <img src="~/img/pien.jpg" class="m-1 msgemoji3 msgemoji" width="100" height="100" />
        <img src="~/img/pien.jpg" class="m-1 msgemoji3 msgemoji" width="100" height="100" />
        <img src="~/img/pien.jpg" class="m-1 msgemoji3 msgemoji" width="100" height="100" />
    </div>
</div>

<script>

</script>