@section Styles{
<style>
    .faqheaders {
        color:darkorange;
    }
</style>
    
}
<!--Section: FAQ-->
<h3 class="text-center mb-4 pb-2 text-primary fw-bold">
    幫助中心
</h3>
<p class="text-center mb-5">
    一個FAQ樣板我想應該沒有人會在意我在這邊打什麼東西
</p>

<div class="row">
    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="far fa-paper-plane text-primary pe-2"></i> [新手上路] 為什麼同一商品頁面上的庫存數量不同？
        </h6>
        <p>
            如果同一商品參與正在進行的促銷，您可能會看到不同的庫存數量，具體取決於促銷價格下該商品的購買限額。
            商品數量 - 在正在進行的促銷活動中可供購買的最高數量(購物者可以添加到購物車的最高數量)。
            活動價庫存 - 當前促銷價格的可購買數量。例如限時特賣商品的活動價庫存
            其他庫存 - 來自較低級別促銷的剩餘總數量。 如果您想購買超過購買限額，您可能會看到不同的價格。
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-pen-alt text-primary pe-2"></i> [購物安全] 覺得自己買到假貨了怎麼辦?
        </h6>
        <p>
            <strong><u>請買家協助提供資料：</u></strong> 
            買家認為商品可能是假貨的原因，或對商品疑慮之處商品比對圖、有疑慮或認為可能是假貨的細節圖
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-user text-primary pe-2"></i> [關注] 如何關注店家？
        </h6>
        <p>
            您可以透過以下頁面來關注商店您可以透過以下頁面來關注商店您可以透過以下頁面來關注商店您可以透過以下頁面來關注商店您可以透過以下頁面來關注商店
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-rocket text-primary pe-2"></i> [付款狀態] 已付款但訂單未更新，該如何處理？
        </h6>
        <p>
            若您已付款完成(如下圖)，但訂單狀態仍顯示『未付款』，請參考以下說明：完成轉帳付款後，依據銀行入帳時間不同，將於24小時內更新為已付款狀態。
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-home text-primary pe-2"></i> [包裹配送] 超商取件門市選錯或宅配地址填錯，可以改嗎？
        </h6>
        <p>
            <strong><u>您的訂單需在以下3個條件下，您才能在下單後更改地址：</u>.</strong> 提醒您：當收件地址旁可以點選【更改或編輯】時，就可以修改超商取件門市或是宅配地址，若賣家已進入出貨程序，就無法修改收件資訊。
            例1：原本選擇的是7-11門市，收件資訊就只能修改為另一間7-11門市
        </p>
    </div>

    <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary">
            <i class="fas fa-book-open text-primary pe-2"></i> [商品評價] 我可以編輯我的評價嗎？
        </h6>
        <p>
            買家可以針對給予賣場評價進行修改，請於訂單完成當日算起30日內送出評價。之後您可以在留下第一次評價的30天內編輯該評價一次。
        </p>
    </div>
</div>

<h2>
    熱門問題:
</h2>

<div class="list-group w-100">
    <a href="#shortExampleAnswer1collapse" data-bs-toggle="collapse" aria-expanded="false" aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">[訂單追蹤] 如何查詢包裹配送進度？</h5>
        </div>
        <p class="mb-1">
            用手查
        </p>
        <small class="text-muted"><u>了解更多</u></small>
        <div class="collapse mt-3" id="shortExampleAnswer1collapse">
            要查看您訂單的包裹查詢號碼

            ● App ：我的 ➜ 待收貨 ➜ 點選訂單運送狀態 ➜ 點選複製

            買賣家可複製查詢號碼，至對應之物流網頁中進行包裹查詢確認，此畫面亦會更新顯示包裹配送進度。
        </div>
    </a>
    
    <a href="#shortExampleAnswer2collapse" data-bs-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">[新手上路] 註冊帳號時，我的手機號碼已被註冊</h5>
        </div>
        <p class="mb-1">
            辦新手機
        </p>
        <small class="text-muted"><u>了解更多</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer2collapse">
            如果您不確定手機是綁定於舊帳號，或是門號曾經持有者註冊過帳號，只要輸入正確發送至手機的驗證碼並完成驗證，系統會自動將舊帳號解綁，將您的手機號碼綁定至本次設定的帳號。
        </div>
    </a>
    <a href="#shortExampleAnswer3collapse" data-bs-toggle="collapse" aria-expanded="false"
       aria-controls="shortExampleAnswer1collapse" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">[訂單發票] 如何查詢發票資訊</h5>
        </div>
        <p class="mb-1">
            不要買就沒發票
        </p>
        <small class="text-muted"><u>了解更多</u></small>
        <!-- Collapsed content -->
        <div class="collapse mt-3" id="shortExampleAnswer3collapse">
            若賣場為賣家自行開立發票，或賣場未達開立發票標準(含跨境賣場)：如有發票需求或相關問題，請直接與賣家聯繫確認。
        </div>
    </a>
</div>
<div class="pt-4 row" style="text-align:center;">
    <div class="col-2"></div>
    <div class="col-8">
        <p>
            <span class="fw-bold">
                還有問題嗎?可以用蝦蝦通真人線上客服，或機器人客服。
            </span>
        </p>
        <div class="d-flex justify-content-evenly">
            <a id="openonlineservice" href="#"><img src="~/img/help/onlineservice.jpg" /></a>
            <a id="openAIservice" href="#"><img src="~/img/help/AIservice.jpg" /></a>
        </div>
    </div>
    <div class="col-2"></div>
</div>
@section Scripts{
    <script>
        $("#openonlineservice").click(function(){
            happy_popup("admin");
        })
        $("#openAIservice").click(function () {
            happy_popup("chatbot");
        })
    </script>
} 