.sidemenu {
    float: left;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: #d2f4ea;
}

.左側欄 {
    text-align-last: center;
    font-size: 20px;
}

.賣家中心 {
    font-size: 25px;
    font-weight: 900;
}
