@model List<prjiSpanFinal.ViewModels.Item.CItemIndexSellerProductViewModel>
@{
    int productCount = Model.Count;
    int totalPage = Convert.ToInt32(Math.Ceiling(productCount / 5m));
}

<style>
    .VCLayout {
        width: 1060px;
        height: 352px;
        margin: 10px auto;
        padding: 16px 0;
        overflow: hidden;
        position: relative;
    }
    .productCardLayout {
        position: absolute;
    }
</style>
<div class="VCLayout_">
    <div class="VCLayout">
        @{
            foreach (var product in Model)
            {
                @await Component.InvokeAsync("ProductCard", new { product = product });
            }
        }
    </div>
    <div class="d-flex justify-content-center align-items-center">
        <button class="previousPage border-0 bg-transparent"><</button>
        <div class="sellerProductPage fs-4 mx-3"><span class="page me2">1</span>/<span class="totalPage ms-2">@totalPage</span></div>
        <button class="nextPage border-0 bg-transparent">></button>
    </div>
</div>

@*<script src="~/js/ShowSelectedProducts.js"></script>*@
