<div class="row" style="width:10%;float:left">
    <h1 class=" align-content-md">這裡是後台</h1>
    <ul class="list-group">
        @Html.ActionLink("會員管理", "MemberList","Management",null,new{@class="list-group-item"})
        @Html.ActionLink("訂單管理", "OrderList","Management",null,new{@class="list-group-item"})
        @Html.ActionLink("檢視報表", "PowerBi","Management",null,new{@class="list-group-item"})
    </ul>
</div>