.sellsitem {
    width: 280px;
    margin: 4px 5px 4px 5px;
    display: inline;
    padding: 0;
    margin-bottom: 10px;
    border: 1px solid #FF8040;
    border-radius: 5px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.2);
    transition: all .5s;
    background: white;
    position: relative !important;
}

    .sellsitem:hover {
        /*transform: scale(1.05);*/
        box-shadow: 0 0 6px rgba(255, 102, 0, 1);
        top: 0px;
        z-index: 3;
    }
.sellsitem-imgbox {
    margin: 10px;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.ItemIcon {
    position: absolute;
    width: 20%;
    text-align: start;
    color: white;
    padding-left: 8px;
    top: 5px;
    left: 0;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.5);
}
.DiscountIcon{
    background-color:red;
    
}
.FreeDeliveryIcon{
    background-color:blue;
}

.cardImg {
    display: block;
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
    object-fit: cover;
}

.cardInfoArea {
    margin: 5px 10px;
    border-radius: 3px;
    height: 110px;
}

.cardTitleBox {
    height: 65px;
}

.cardTitle {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    letter-spacing: 1px;
    overflow: hidden;
    font-size: 20px;
    font-weight: bold;
    color: black;
    text-overflow: ellipsis;
}

.cardPriceDiscount {
    font-size: 0.75em;
    color: #5B5B5B;
    text-decoration: line-through;
    width: 100%;
}

.cardPrice {
    width:100%;
    color: red;
    font-size: 1em;
    font-weight: bold;
}

.cardInfo {
    font-size: 1em;
    flex-wrap: nowrap;
}

