@model prjiSpanFinal.Models.COrderHu

@{
    ViewData["Title"] = "OrderEdit";
}

<h1>OrderEdit</h1>

<h4>COrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="OrderEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            訂單狀態<div class="form-group">
                <select name="OrderStatus">
                    <option value="未結帳">未結帳</option>
                    <option value="已結帳">已結帳</option>
                    <option value="已刪除">已刪除</option>
                    <option value="出貨中">出貨中</option>
                    <option value="未出貨">未出貨</option>
                    <option value="已送達">已送達</option>
                    <option value="退換貨中">退換貨中</option>
                </select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="儲存" class="btn btn-outline-warning" />
            </div>
            <div>
                <a asp-action="OrderList" class="mt-2 btn btn-outline-danger">Back to List</a>
            </div>
        </form>
    </div>
</div>



