
@{
    ViewData["Title"] = "PowerBi";
}

<h1>報表(by PowerBI)</h1>

<iframe title="ProjectPBI" width="1024" height="612" src="https://app.powerbi.com/view?r=eyJrIjoiZmQ0ZjQzMWEtMDQwMi00MjkwLWFlODYtZGMzMzA4OWU1MzZhIiwidCI6ImE0M2Y2Y2QzLTU0MTItNGIxZi1hMTM0LTJjMjc3MzY0Y2FmNiIsImMiOjEwfQ%3D%3D&pageName=ReportSection" frameborder="0" allowFullScreen="true"></iframe>
<br />
@Html.ActionLink("回到後臺首頁", "Home") |
