@model prjiSpanFinal.Models.CProductHu

@{
    ViewData["Title"] = "ProductEdit";
}

<h1>修改商品</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ProductEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-2">
                產品ID<input asp-for="ProductId" class="form-control" readonly />
                <span asp-validation-for="ProductId" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                商品名稱<input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                商品狀態<select asp-for="ProductStatus" class="form-select">
                    <option value="可以購買">可以購買</option>
                    <option value="已刪除">已刪除</option>
                    <option value="對買家隱藏">對買家隱藏</option>
                    <option value="已下架">已下架</option>
                    <option value="已售完">已售完</option>
                </select>
            </div>
            <div class="form-group mb-2">
                賣家<input asp-for="SellerName" class="form-control" readonly />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                單價<input asp-for="UnitPrice" class="form-control" />
                <span asp-validation-for="UnitPrice" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                庫存量<input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                商品類型<select asp-for="SmallType" class="form-select">
                    <option value="食品">食品</option>
                    <option value="生活用品">生活用品</option>
                    <option value="家電">家電</option>
                    <option value="3C產品">3C產品</option>
                </select>
            </div>
            <div class="form-group mb-2">
                <input type="submit" value="確認並儲存" class="btn btn-outline-primary" />
            </div>
            <div>
                <a asp-action="ProductList" class="btn btn-outline-danger mb-2"> 取消並回到產品列表</a>
            </div>
            <div>
                @Html.ActionLink("取消並返回檢視", "ProductDetail", new { id = Model.ProductId},new{@class="btn btn-outline-danger mb-2"})

            </div>
        </form>
    </div>
</div>



