<style>.rightbox{
       /* 使用背景圖當前景提示，並且不重覆放圖 */
     display: block;
     float:right;                              /* 向右 */
     overflow:auto;                        /* 當區塊內容超過區塊大小，自動出現捲軸 */
     height:100%;                         /* 佔頁面高度 100%，但內容不夠多時仍不會以滿版面呈現 */
     padding: 0px 0px 0px 26px;    /* 區塊內的留白，分別為上、右、下、左 */
     width: 245px;                         /* 區塊寬度，這會跟位移值有相對的關連 */
     z-index: 99999;                     /* z-index 值設大，以最上層方式顯示在頁面 */
     position:fixed;
     right:-200px;                         /* 頁面初始的偏移值，基本上會設成跟 width 相同，但稍微差一些會有不同效果，例如設成 -230px */
     top:0%;                                /* 區塊距離頂部的相對位置，0% 是貼齊頂部 */
     bottom:0%;                          /* 區塊距離底部的相對位置，0% 是貼齊底部 */
  }
.rightbox div{
     border: solid #2E2E2E 1px;
     position:relative;
     display:block;
  }
.hotlink_style1 {
     background: #FFFFFF;
     font-family: Arial;
     color: #555555;
     font-size: 20px;
     border: solid #000000 5px;
     padding: 3px 3px 3px 3px;
     text-decoration: none;
 }</style>

<div class="rightbox" style=""> <div class="hotlink_style1">
        <a href="@Url.Action("MemberList","Management")" class="btnstyle2">管理會員</a><br>
        <a href="@Url.Action("OrderList","Management")" class="btnstyle2">管理訂單</a><br>
        <a href="@Url.Action("ProductList","Management")" class="btnstyle2">管理產品</a><br>
        <a href="@Url.Action("PowerBi","Management")" class="btnstyle2">檢視報表</a><br>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
<script type="text/javascript">
     $(document).ready(function() {
         $(".rightbox").hover(function(){
                  $(this).stop().animate({right: "0"}, "medium");
             }, function(){
           $(this).stop().animate({right: "-200"}, "medium");
          }, 500);
     });
</script>
