@model prjiSpanFinal.ViewModels.SalesCourt.Card賣場ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "編輯賣場資訊";

}
@section Styles{
    <style>
        .ordersearchbar {
            padding: 3px;
            text-align: right;
        }

        .m-2 {
            margin-top: 0.25rem !important;
            margin-bottom: 0.25rem !important;
        }
    </style>
}




<input type="hidden" value="@Model.MemberId" id="editsalescourtid" />
<p>
    編輯我的賣場資訊
</p>

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/設定分類">設定分類</a>

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/修改關於我">修改關於我</a>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                ID
            </th>
            <th>
                商品名稱
            </th>
            <th>
                商品價格
            </th>
            <th>
                星星數
            </th>
            <th>
                販賣數量
            </th>
            <th>
                選為精選商品
            </th>
        </tr>
    </thead>
    <tbody id="salescourtcardbody">
    </tbody>
</table>




@*<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel3">確定要修改為精選商品嗎</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>請修改後賣場頁面再次確認。</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="orderrecsubmit" data-bs-target="#staticBackdrop4" data-bs-toggle="modal">送出</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div id="salescourtcardbody">


    </div>*@

<div style="font-size:20px;background-color:#0caff7" class="m-2"></div>

@section Scripts{
    <script>
        let mode = 0;
        let eachpages = 1;
        let nowpages = 1;
        let customname = "";

        jQuery.postJSON = function (url, data, callback) {
            jQuery.post(url, data, callback, "json");
        };


        function returnCardblue(data) {
            return `<tr>
                            <td>編號:</td>
                            <td>
                                ${data.productid}
                            </td>
                            <td>
                                ${data.name}
                            </td>
                            <td>
                                ${data.price1} - ${data.price2}
                            </td>
                            <td>
                                ${data.star}
                            </td>
                            <td>
                                ${data.sales}
                            </td>
                            <td>
                                <input type="hidden" value="${data.productid}" class="thisproduct" />
                                <a style = "background-color:#b7b0bd" role="button" class="bottn btn choiceproduct my-2">移除精選商品</a>
                            </td>

                        </tr>`;

        }

        function returnCardgrey(data) {
            return `<tr>
                            <td>編號:</td>
                            <td>
                                ${data.productid}
                            </td>
                            <td>
                                ${data.name}
                            </td>
                            <td>
                                ${data.price1} - ${data.price2}
                            </td>
                            <td>
                                ${data.star}
                            </td>
                            <td>
                                ${data.sales}
                            </td>
                            <td>
                                <input type="hidden" value="${data.productid}" class="thisproduct" />
                                <a style = "background-color:#0caff7" role="button" class="bottn btn  choiceproduct my-2">選為精選商品</a>
                            </td>

                        </tr>`;

        }

        load();

        function load() {
            let keyword = " ";

            $.getJSON("/SalesCourt/GetCard", { id: editsalescourtid.value }, function (data) {
                console.log(data);
                $("#salescourtcardbody").html("");
                for (let i = 0; i < data.length; i++) {
                    console.log(data[i].isfeatureproduct);
                    if (data[i].isfeatureproduct == true) {
                        $("#salescourtcardbody").append(
                            returnCardblue(data[i])
                        );
                    }
                    else {
                        $("#salescourtcardbody").append(
                            returnCardgrey(data[i])
                        );
                    }
                    /*$(".check").eq(i).a*/

                }
            })


        }


        $(".choiceproduct").click(function (data) {     //先從資料庫讀出資料   如果回傳的choice是true就不做postjson
            let prodid = $(this).parent().prev().prev().prev().prev().prev().text();
            let prodname = $(this).parent().prev().prev().prev().prev().text();
            let butt = $(this);
            let change;


            $.getJSON("/SalesCourt/GetChoice", { productid: prodid }, function (data) {
                if (data == false) {

                    change = true;
                    butt.attr('style', 'background-color:#b7b0bd');
                    butt.text("移除精選商品");
                    Swal.fire(
                        '選取成功',
                        '您已選擇精選商品' + prodname,
                        'success'
                    );
                }
                else {

                    change = false;
                    butt.attr('style', 'background-color:#0caff7');
                    butt.text("選為精選商品");
                    Swal.fire(
                        '移除精選',
                        '您已移除精選商品' + prodname,
                        'warning'
                    );

                }
            })


            $.postJSON("/SalesCourt/WriteChoice", { productid: prodid, change: change }, function () { });


        })


    </script>
}

