@model prjiSpanFinal.ViewModels.SalesCourt.Card賣場ViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "編輯賣場資訊";

}
@section Styles{
    <link href="~/css/Home/ItemCard.css" rel="stylesheet" />
    <link href="~/css/Item/ItemIndex.css" rel="stylesheet" />
    <link href="~/css/Category/CategoryStyles.css" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/css/Item/ItemIndex.css")" />
    <link href="@Url.Content("~/css/ProductCard.css")" rel="stylesheet" />
    <link href="@Url.Content("~/css/Item/ShowItemComment.css")" rel="stylesheet" />
    <style>
        .ordersearchbar {
            padding: 3px;
            text-align: right;
        }

        .m-2 {
            margin-top: 0.25rem !important;
            margin-bottom: 0.25rem !important;
        }
    </style>
}



@*<table>
        <thead>
            <tr>
                123213
                <div>再試一次</div>
            </tr>
        </thead>
    </table>*@
<div class="show">
    這裡測試
    <div style="font-size:2rem" class="test d-none">你已經滑過去</div>
</div>


<input type="hidden" value="@Model.MemberId" id="editsalescourtid" />
<p>
    編輯我的賣場資訊
</p>

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/設定分類">設定分類</a>

<a role="button" class="btn btn-outline-success rounded-2" href="~/SalesCourt/修改關於我">修改關於我</a>

<div class="table">
    <div>
        <div class="row">
            <div class="col">

            </div>
            <div class="col">
                ID
            </div>
            <div class="col">
                商品名稱
            </div>
            <div class="col">
                商品價格
            </div>
            <div class="col">
                星星數
            </div>
            <div class="col">
                販賣數量
            </div>
            <div class="col">
                選為精選商品
            </div>
        </div>
    </div>
    <div id="salescourtcardbody" class="row">
    </div>
</div>




@*<div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel3" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel3">確定要修改為精選商品嗎</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>請修改後賣場頁面再次確認。</div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="orderrecsubmit" data-bs-target="#staticBackdrop4" data-bs-toggle="modal">送出</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                </div>
            </div>
        </div>
    </div>*@

@*<div id="salescourtcardbody">


    </div>*@



<div style="font-size:20px;background-color:#0caff7" class="m-2"></div>

@section Scripts{
    <script>
        let mode = 0;
        let eachpages = 1;
        let nowpages = 1;
        let customname = "";
        let productID = 0;

        jQuery.postJSON = function (url, data, callback) {
            jQuery.post(url, data, callback, "json");
        };


        function returnCardblue(data) {
            return `<div class="productcard row">
                                    <div class="col">編號:</div>
                                    <div class="col">
                                        ${data.productid}
                                    </div>
                                    <div class="col">
                                        ${data.name}
                                    </div>
                                    <div class="col">
                                        ${data.price1} - ${data.price2}
                                    </div>
                                    <div class="col">
                                        ${data.star}
                                    </div>
                                    <div class="col">
                                        ${data.sales}
                                    </div>
                                    <div class="col">
                                        <input type="hidden" value="${data.productid}" class="thisproduct" />
                                        <a style = "background-color:#b7b0bd" role="button" class="bottn btn choiceproduct my-2">移除精選商品</a>
                                    </div>

                        </div>

                     <div id="product${data.productid}" class= "row d-none">
                        <div class="sellsitem">
                            <a class="linknoline" href="${data.link}">
                                <img src="data:image;base64,${data.pic}" class="cardImg" alt="..." />

                            </a>
                            <div class="px-1 d-flex flex-column justify-content-between">
                                <div class="cardTitleBox">
                                    <div class="cardTitle">${data.name}</div>
                                </div>
                                <div class="cardPrice">${data.price1} - ${data.price2}</div>
                                <div class="cardInfo d-flex justify-content-between flex-row">
                                    <div class="starBox mt-1">
                                        <div class="d-flex justify-content-start">
                                            <div class="starImg">
                                                <img src="/img/YellowStar.png" alt="" class="me-1 d-block" />
                                            </div>
                                            <div class="text-black">${data.star}</div>
                                        </div>
                                    </div>
                                    <div class="text-end text-black-50 sells">已賣出<span>${data.sales}</span></div>
                                </div>
                            </div>
                        </div >


                    </div>`;

        }

        function returnCardgrey(data) {
            return `<div class = "productcard row">
                                    <div class="col">編號:</div>
                                    <div class="col">
                                        ${data.productid}
                                    </div>
                                    <div class="col">
                                        ${data.name}
                                    </div>
                                    <div class="col">
                                        ${data.price1} - ${data.price2}
                                    </div>
                                    <div class="col">
                                        ${data.star}
                                    </div>
                                    <div class="col">
                                        ${data.sales}
                                    </div>
                                    <div class="col">
                                        <input type="hidden" value="${data.productid}" class="thisproduct" />
                                        <a style = "background-color:#0caff7" role="button" class="bottn btn  choiceproduct my-2">選為精選商品</a>
                                    </div>

                                </div>
                                <div id="product${data.productid}" class= "row d-none">
                                <div class="sellsitem">
                                    <a class="linknoline" href="${data.link}">
                                        <img src="data:image;base64,${data.pic}" class="cardImg" alt="..." />

                                    </a>
                                    <div class="px-1 d-flex flex-column justify-content-between">
                                        <div class="cardTitleBox">
                                            <div class="cardTitle">${data.name}</div>
                                        </div>
                                        <div class="cardPrice">${data.price1} - ${data.price2}</div>
                                        <div class="cardInfo d-flex justify-content-between flex-row">
                                            <div class="starBox mt-1">
                                                <div class="d-flex justify-content-start">
                                                    <div class="starImg">
                                                        <img src="/img/YellowStar.png" alt="" class="me-1 d-block" />
                                                    </div>
                                                    <div class="text-black">${data.star}</div>
                                                </div>
                                            </div>
                                            <div class="text-end text-black-50 sells">已賣出<span>${data.sales}</span></div>
                                        </div>
                                    </div>
                                </div >

                            </div>
                                `;

        }

        load();

        function load() {
            let keyword = " ";

            $.getJSON("/SalesCourt/GetCard", { id: editsalescourtid.value }, function (data) {
                //console.log(data);
                $("#salescourtcardbody").html("");
                for (let i = 0; i < data.length; i++) {
                    //console.log(data[i].isfeatureproduct);
                    console.log("first productid");

                    productID = data[i].productid;
                    console.log(productID);
                    if (data[i].isfeatureproduct == true) {
                        //console.log("this line");
                        //console.log(data[i]);

                        $("#salescourtcardbody").append(
                            returnCardblue(data[i])
                        );
                    }
                    else {
                        $("#salescourtcardbody").append(
                            returnCardgrey(data[i])
                        );
                    }
                    /*$(".check").eq(i).a*/
                    /*loadproductcard();*/
                }
            })


        }
        
        $(".productcard").click(function () {   /*當modal打開要清空輸入欄位*/
            $(this).next().removeClass("d-none");
        })
        $(".productcard").dblclick(function () {   /*當modal打開要清空輸入欄位*/
            $(this).next().addClass("d-none");
        })




        $(".show").mouseenter(function () {   /*當modal打開要清空輸入欄位*/
            $(".test").removeClass("d-none");
        })
        $(".show").mouseleave(function () {   /*當modal打開要清空輸入欄位*/
            $(".test").addClass("d-none");
        })


        $(".choiceproduct").click(function (data) {     //先從資料庫讀出資料   如果回傳的choice是true就不做postjson
            let prodid = $(this).parent().prev().prev().prev().prev().prev().text();
            let prodname = $(this).parent().prev().prev().prev().prev().text();
            let butt = $(this);
            let change;


            $.getJSON("/SalesCourt/GetChoice", { productid: prodid }, function (data) {
                if (data == false) {

                    change = true;
                    butt.attr('style', 'background-color:#b7b0bd');
                    butt.text("移除精選商品");
                    Swal.fire(
                        '選取成功',
                        '您已選擇精選商品' + prodname,
                        'success'
                    );
                }
                else {

                    change = false;
                    butt.attr('style', 'background-color:#0caff7');
                    butt.text("選為精選商品");
                    Swal.fire(
                        '移除精選',
                        '您已移除精選商品' + prodname,
                        'warning'
                    );

                }
            })


            $.postJSON("/SalesCourt/WriteChoice", { productid: prodid, change: change }, function () { });


        })


    </script>
}

