@model prjiSpanFinal.Models.CustomizedCategory
@addTagHelper *, prjiSpanFinal

@{
    ViewData["Title"] = "設定分類";
}

@section Styles{
    @*<link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />*@
    <style>
        .modal-dialog {
            top: 7rem !important;
        }

        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            color: var(--bs-modal-color);
            pointer-events: auto;
            background-color: var(--bs-modal-bg);
            background-clip: padding-box;
            border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
            border-radius: var(--bs-modal-border-radius);
            outline: 0;
        }


        .名稱寬 {
            width: 50px;
            float: left;
        }

        .規格列表 {
            width: 150px;
            font-size: 18px;
        }
    </style>

}



@*最上面的新增規格欄位  叫出modal的按鈕  按下還不是確定新增*@
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    新增類別輸入框
</button>


@*原本的欄位*@
<div class="d-flex justify-content-center ">
    @*<div><label class="名稱寬 mt-2 collapse">自訂賣場類別管理</label></div>*@

    <span class="text-danger"></span>
    <section class="section d-flex justify-content-center">
        <table class="table w-100 ">
            <thead>
                <tr class="d-flex justify-content-center">
                    <th class="col 規格列表">順序</th>
                    <th class="col 規格列表">商品數</th>
                    <th class="col 規格列表">類別</th>
                    <th class="col 規格列表">排序方式</th>
                    <th class="col 規格列表">修改</th>
                </tr>
            </thead>
            <tbody class="d-flex justify-content-center"></tbody>
        </table>
    </section>
</div>

@*這邊應該的是按下修改選項    會多出來的畫面*@
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">新增 modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label>類別名稱:</label>
                <input type="text" id="text3" class="form-control">
                <br />

            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button id="save" type="button" class="btn btn-primary">新增</button>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script>
        let count = 0;

        let save = document.getElementById("save");
        /*let save_alter = document.getElementById("save");*/



        //讀取text
        function clickValue() {
            document.getElementById("text3").value = '';
        }

        /*本來下面是要寫在modal怎麼讀取下拉選單的值*/
        /* $("select").children("option[value='1      ']")   */

        let id;

        save.addEventListener("click", function () {
            count++;
            let dataNew = [];
            let price = document.getElementById("text3").value;


            if (price != '') {
                dataNew.push(price);

                let tbody = document.querySelector('tbody')
                let Tr = document.createElement('tr');
                let td0 = document.createElement('td');
                Tr.appendChild(td0);
                let td1 = document.createElement('td');
                Tr.appendChild(td1);
                for (let i = 0; i < dataNew.length; i++) {
                    let td = document.createElement('td');
                    td.setAttribute("id", count);
                    td.innerHTML = dataNew[i];
                    Tr.appendChild(td);
                }
                /*產生刪除按鈕在modal的畫面*/
                let td = document.createElement('td');
                td.innerHTML = `<button type="button" class="d-flex justify-content-center btn btn btn-danger delete" style="font-size:0.8rem">刪除</button>`;
                /*let a = td.children[0];*/
                let a = td;
                a.addEventListener('click', () => {

                    /*let parent = a.parentNode.parentNode;*/
                    let parent = a.parentNode;
                    parent.remove();
                })
                Tr.appendChild(td);
                tbody.insertBefore(Tr, tbody.children[0])
                clickValue();
                var myModalEl = document.getElementById('exampleModal');
                var modal = bootstrap.Modal.getInstance(myModalEl)
                modal.hide();               /*他使用hide把增加在modal的tr刪掉*/


            }
            else {
                alert("項目,數量和價格不可為空值");
            }

        })


    </script>
}



