
@{
    ViewData["Title"] = "設定分類";
}

@section Styles{
    <style>
        .modal-dialog {
            top: 7rem !important;
        }

        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            color: var(--bs-modal-color);
            pointer-events: auto;
            background-color: var(--bs-modal-bg);
            background-clip: padding-box;
            border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
            border-radius: var(--bs-modal-border-radius);
            outline: 0;
         }
    </style>
   
}


<!--<div class="row m-6" style="background-color:antiquewhite">自訂賣場分類管理</div>
<div class="class-main">
    <div class="class-main-intro text-center">
        <ul class="" >
            <li style="list-style-type:circle">最多可自訂100個分類，若分類中無商品時，將不會顯示於賣場。</li>
            <li style="list-style-type:circle">可直接拖曳橘框進行排序，點選商品數量可進行商品歸類。</li>
            <li style="list-style-type:circle">可直接拖曳橘框進行排序，點選商品數量可進行商品歸類。</li>
        </ul>-->
@*<a role="button" href="">刪除</a>
    <a role="button" href="">新增</a>*@

@*<input type="submit" value="新增" class="btn btn-warning m-3" onclick="return confirm('新增成功')" />*@
<!--</div>
</div>


<button class="btn btnnew m-3 btn w-25 btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal">新增規格</button>


<div class="row">
    <div class="col-4">
        <button id="newbt">新增</button>
        <button id="delbt">刪除</button>
    </div>

</div>
<div class="row">
    <div class="col">順序</div>
    <div class="col">類別名稱</div>
    <div class="col">商品數</div>
    <div class="col">商品排序方式</div>-->
@*<span><a href="#" class="text-primary">全部套用</a></span>*@
<!--<div class="col">管理</div>
</div>-->


    <div class="row">
        <div class="col-9">
            <div class="btn-group mb-3" role="group" aria-label="Basic radio toggle button group" id="choseStore">
                <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                <label class="btn btn-outline-warning" for="btnradio1">林小偉的賣場</label>
                <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                <label class="btn btn-outline-warning" for="btnradio2">林大偉的賣場</label>
            </div>
            <div class="checkoutPartialView">

            </div>
            <div class="text-center">
                <button class="btn btn-warning d-none" id="previousStore">回上一筆</button>
                <button class="btn btn-primary" id="nextStore">確認並前往下一筆</button>
            </div>
        </div>
    </div>




    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">選擇地址或門市</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="googleMaps">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2018.2521397387186!2d121.54310351753554!3d25.033935572481887!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3442abd379a5ec97%3A0xedc006d25a9e35df!2z6LOH5bGV5ZyL6Zqb6IKh5Lu95pyJ6ZmQ5YWs5Y-4!5e0!3m2!1szh-TW!2stw!4v1665075875772!5m2!1szh-TW!2stw" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>

            <input value="" id="inputAddress" class="rounded-2 w-100" placeholder="輸入地址或由地圖上選擇門市">

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button type="button" class="saveAddress btn btn-primary" data-bs-dismiss="modal">儲存</button>
            </div>

        </div>
    </div>







    @section Scripts{
        <script>

            $(".ship").click(function () {
                $(this).removeClass("border-secondary border-danger").addClass("border-danger").siblings(".addAddress").removeClass("d-none").closest("div").siblings().children(".addAddress").removeClass("d-none").addClass("d-none").end().children(".ship").removeClass("border-secondary border-danger").addClass("border-secondary");
            });
            $(".changeShip").click(function () {
                $(".choseShip").slideToggle();
            });


            $(".saveAddress").click(function () {
                let address = $("#inputAddress").val();
                if (address == "") {
                    alert("請輸入地址或門市");
                    return false;
                }
                else {
                    $(".choseShip").find("div[class*='border-danger']").siblings(".address").html(address).removeClass("d-none");
                }
            });
            $("#confirmedShip").click(function () {
                let address = $(".choseShip").find("div[class*='border-danger']").siblings(".address").html();
                if (address == "") {
                    alert("請輸入地址或門市");
                }
                else {
                    let ship = $(".choseShip").find("div[class*='border-danger']").html();
                    $("#finalShip").html(ship);
                    $("#finalAddress").html(address);
                    $(".choseShip").slideToggle();
                }
            });


                            //資料暫存,後去把data變數傳入後端
                            //let data = [
                            //    //['紅色', 7, 100, ''],
                            //    //['藍色', 10, 300, '']
                            //]

                            //let tbody = document.querySelector('tbody')
                            //for (let i = 0; i < data.length; i++) {
                            //    let tr = document.createElement('tr');
                            //    tbody.appendChild(tr);
                            //    for (let j = 0; j < data[i].length; j++) {
                            //        let td = document.createElement('td');
                            //        td.innerHTML = data[i][j];
                            //        tr.appendChild(td);
                            //    }

                            //}

                            //let infoModal = document.getElementById("infoModal");
                            //let close = document.getElementById("close");
                            //let save = document.getElementById("save");

                            ////show 出 model 可新增拍賣物品
                            //let btn = document.querySelector(".btnnew")
                            //btn.addEventListener('click', () => {
                            //    //清空值
                            //    clickValue();
                            //    //show model
                            //    console.log(infoModal.showModal());
                            //    /*            infoModal.showModal();*/
                            //})

                            ////清空model值
                            //function clickValue() {
                            //    document.getElementById("text1").value = '';
                            //    document.getElementById("text2").value = '';
                            //    document.getElementById("text3").value = '';
                            //    document.getElementById("text4").value = '';
                            //}

                            //save.addEventListener("click", function () {
                            //    let dataNew = [];
                            //    let name = document.getElementById("text1").value;//prompt('請輸入姓名');
                            //    let subject = document.getElementById("text2").value;
                            //    let score = document.getElementById("text3").value;
                            //    //todo:取得照片
                            //    let img = document.getElementById("text4").value;

                            //    //判斷資料有值再塞入
                            //    if (name !== '' && subject !== '' && score !== '') {

                            //        dataNew.push(name);
                            //        dataNew.push(subject);
                            //        dataNew.push(score);
                            //        dataNew.push(img);
                            //        //塞資料到暫存
                            //        data.push(dataNew);

                            //        let tr = document.createElement('tr');
                            //        for (let i = 0; i < dataNew.length; i++) {

                            //            let td = document.createElement('td');
                            //            td.innerHTML = dataNew[i];
                            //            tr.appendChild(td);
                            //        }
                            //        let td = document.createElement('td');
                            //        td.innerHTML = `<a href='javascript:;'><button type="button" class="btn btn btn-danger  規格按鈕"> X</button></a>`;
                            //        let a = td.children[0];
                            //        a.addEventListener('click', () => {

                            //            let parent = a.parentNode.parentNode;
                            //            parent.remove();
                            //        })
                            //        tr.appendChild(td);
                            //        tbody.insertBefore(tr, tbody.children[0])

                            //        var myModalEl = document.getElementById('exampleModal');
                            //        var modal = bootstrap.Modal.getInstance(myModalEl)
                            //        modal.hide();
                            //    }
                            //    else {
                            //        alert("項目,數量和價格不可為空值");
                            //    }
                            //})

                            ////大頭照新增  預覽
                            //$(".commentphotoclass").change(function () {
                            //    const photo = document.getElementById($(this).attr("id")).files;
                            //    if (photo) {
                            //        let src = URL.createObjectURL(photo[0]);
                            //        console.log(src);
                            //        $(this).siblings('label').children().css({ "background-image": `url('${src}')` });
                            //    }
                            //});

                            ////物流新增

                            //let 物流按鈕 = document.querySelector(".btntype物流");
                            //let 新增物流 = document.querySelector(".add物流");
                            //let 刪除物流 = document.querySelector("delete物流");

                            //物流按鈕.addEventListener("click", () => {
                            //    新增物流.innerHTML =
                            //        `<div class="d-flex justify-content-around ">
                            //                                    <table class="table">
                            //                                        <thead>
                            //                                            <tr></tr>
                            //                                        </thead>
                            //                                        <tbody>
                            //                                            <tr>
                            //                                                <td class="d-flex justify-content-around 貨運框線">
                            //                                                    <div class="貨運字">7-ELEVEN</div>
                            //                                                    <div class="form-check form-switch 貨運按鈕">
                            //                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            //                                                    </div>
                            //                                                </td>
                            //                                                <td class="d-flex justify-content-around 貨運框線">
                            //                                                    <div class="貨運字">全家便利商店</div>
                            //                                                    <div class="form-check form-switch 貨運按鈕">
                            //                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            //                                                    </div>
                            //                                                </td>
                            //                                                <td class="d-flex justify-content-around 貨運框線">
                            //                                                    <div class="貨運字">萊爾富</div>
                            //                                                    <div class="form-check form-switch 貨運按鈕">
                            //                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            //                                                    </div>
                            //                                                </td>
                            //                                                <td class="d-flex justify-content-around 貨運框線">
                            //                                                    <div class="貨運字">OK便利商店</div>
                            //                                                    <div class="form-check form-switch 貨運按鈕">
                            //                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            //                                                    </div>
                            //                                                </td>
                            //                                                <td class="d-flex justify-content-around 貨運框線">
                            //                                                    <div class="貨運字">大榮貨運</div>
                            //                                                    <div class="form-check form-switch 貨運按鈕">
                            //                                                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
                            //                                                    </div>
                            //                                                </td>
                            //                                                <td class="d-flex justify-content-around 貨運無底框">
                            //                                                    <div class="貨運字">黑貓宅急便</div>
                            //                                                    <div class="form-check form-switch 貨運按鈕">
                            //                                                        <input class="form-check-input " type="checkbox" id="flexSwitchCheckChecked" checked>
                            //                                                    </div>
                            //                                                </td>
                            //                                                <td class="d-flex justify-content-around 貨運無底框">
                            //                                                    <div class="貨運字">蝦到爆店到店</div>
                            //                                                    <div class="form-check form-switch 貨運按鈕">
                            //                                                        <input class="form-check-input " type="checkbox" id="flexSwitchCheckChecked" checked>
                            //                                                    </div>
                            //                                                </td>
                            //                                            </tr>
                            //                                        </tbody>
                            //                                    </table>
                            //                                 </div>`;
                            //    物流按鈕.style.visibility = "hidden";   //隱藏屬性
                            //})


        </script>
    }



