
@{
    ViewData["Title"] = "設定分類";
}

@section Styles{
    <link href="~/css/SellerUI/sidebar.css" rel="stylesheet" />
    <style>
        .modal-dialog {
            top: 7rem !important;
        }

        .modal-content {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            color: var(--bs-modal-color);
            pointer-events: auto;
            background-color: var(--bs-modal-bg);
            background-clip: padding-box;
            border: var(--bs-modal-border-width) solid var(--bs-modal-border-color);
            border-radius: var(--bs-modal-border-radius);
            outline: 0;
        }


        .名稱寬 {
            width: 50px;
            float: left;
        }
    </style>

}










<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    新增輸入框
</button>



<div class="d-flex justify-content-start ">
    <label class="名稱寬 mt-2">規格</label>
   
    <span class="text-danger"></span>
    <section class="section d-flex justify-content-start">
        <table class="table w-100 ">
            <thead>
                <tr>
                    <th class="col 規格列表">樣式</th>
                    <th class="col 規格列表">數量</th>
                    <th class="col 規格列表">售價</th>
                   
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </section>
</div>






<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <label>順序:</label>
                <input type="text" id="text1" class="form-control">
                <br />
               
                <input type="text" id="text2" class="form-control">
                <br />


                <div class="d-flex justify-content-start ">
                    <label>類別名稱:</label>
                    <select class="form-select w-25 m-3 " aria-label="Default select example ">
                        <option value="1">最新刊登</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button id="save" type="button" class="btn btn-primary">新增</button>
            </div>
        </div>
    </div>
</div>








@section Scripts{
    <script>
       
        let data = [       ]
       

        let tbody = document.querySelector('tbody')
        for (let i = 0; i < data.length; i++) {
            let tr = document.createElement('tr');
            tbody.appendChild(tr);
            for (let j = 0; j < data[i].length; j++) {
                let td = document.createElement('td');
                td.innerHTML = data[i][j];
                tr.appendChild(td);
            }
           
        }

        let save = document.getElementById("save");

     
        //清空model值
        function clickValue() {
            document.getElementById("text1").value = '';
            document.getElementById("text2").value = '';
            document.getElementById("text3").value = '';
      
        }
        $("select").children("option[value='1      ']")
        save.addEventListener("click", function () {
            let dataNew = [];
            let type = document.getElementById("text1").value;
            let quantity = document.getElementById("text2").value;
            let price = document.getElementById("text3").value;

            if (type != '' && quantity != '' && price != '') {
                dataNew.push(type);
                dataNew.push(quantity);
                dataNew.push(price);

                data.push(dataNew);

                let tbody = document.querySelector('tbody')
                let Tr = document.createElement('tr');
                for (let i = 0; i < dataNew.length; i++) {
                    let td = document.createElement('td');
                    td.innerHTML = dataNew[i];
                    Tr.appendChild(td);
                }

                let td = document.createElement('td');
                td.innerHTML = `<a href='javascript:;'><button type="button" class="btn btn btn-danger" style="font-size:3rem">刪除</button></a>`;
                let a = td.children[0];
                a.addEventListener('click', () => {

                    let parent = a.parentNode.parentNode;
                    parent.remove();
                })
                Tr.appendChild(td);
                tbody.insertBefore(Tr, tbody.children[0])
                clickValue();
                var myModalEl = document.getElementById('exampleModal');
                var modal = bootstrap.Modal.getInstance(myModalEl)
                modal.hide();

            }

            else {
                alert("項目,數量和價格不可為空值");
            }

        })


    </script>
}



