@{
    ViewData["Title"] = "設定分類";
}


@*註解-------------------------------------------------------------------------------------------------------*@

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
    <i class="fas fa-plus-square"></i>
    新增類別輸入框
</button>

<table id="customizecategory" class="table table-bordered">
    <thead>
        <tr>
            <th>順序id</th>
            <th>賣家id</th>
            <th>類別名稱</th>
            <th>排序方式</th>
            <th>刪除</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@*<button type="submit" class="btn btn-secondary">確定新增</button>*@


@*這邊應該的是按下修改選項    會多出來的畫面*@
<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">新增 modal</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addForm">
                    <input type="hidden" name="CustomizedCategoryID" id="CustomizedCategoryID">
                    <div class="form-group">
                        <label for="MemberID">MemberID</label>
                        <input type="text" class="form-control" id="MemberID" name="MemberID"
                               placeholder="賣家帳號">
                    </div>
                    <div class="form-group">
                        <label for="CustomizedCategoryName">CustomizedCategoryName</label>
                        <input type="text" class="form-control" id="CustomizedCategoryName" name="CustomizedCategoryName"
                               placeholder="類別名稱">
                    </div>
                    <div class="form-group">
                        <label for="SortNumber">SortNumber</label>
                        <input type="text" class="form-control" id="SortNumber" name="SortNumber" placeholder="排序方式">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button id="close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                <button id="buttonSend" type="button" class="btn btn-primary">送出</button>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>
        const url = "https://localhost:44373/api/CustomizedCategories"
            load()

            //讀取資料
            function load() {
                const tbCustomizecategory = $('#customizecategory>tbody')
                $.getJSON(url, function (datas) {
                    const docFrag = $(document.createDocumentFragment())
                    $.each(datas, function (index, Customizecategory) {
                        const cell1 = $('<td></td>').text(Customizecategory.customizedcategoryId);
                        const cell2 = $('<td></td>').text(Customizecategory.memberId);
                        const cell3 = $('<td></td>').text(Customizecategory.customizedcategoryName);
                        const cell4 = $('<td></td>').text(Customizecategory.sortNumber);
                        const cell5 = $('<td></td>').html('<button class="btn btn-secondary mr-3" data-toggle="modal" data-target="#addModal"><i class="fas fa-pen-nib"></i></button><button class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>')

                        const row = $('<tr></tr>').append([cell1, cell2, cell3, cell4, cell5])
                        docFrag.append(row)
                    })
                    tbCustomizecategory.html(docFrag)
                })
            }

            $('#buttonSend').click(function () {
                //隱藏欄位中有shipperID 的資料我們就是要做修改
                const id = $('#CustomizedCategoryID').val()
                if (id) {
                    //資料修改
                    const jsonData = JSON.stringify({ CustomizedCategoryID: id, MemberID: $('#MemberID').val() ,CustomizedCategoryName: $('#CustomizedCategoryName').val(), SortNumber: $('#SortNumber').val() })
                    // console.log(jsonData)
                    $.ajax({
                        url: url + "/" + id,
                        type: 'PUT',
                        contentType: 'application/json',
                        data: jsonData
                    }).done(function (data) {
                        alert("修改成功，編號為 " + id)
                        load()
                        clearData()
                    })

                } else {
                    //資料新增
                    const jsonData = JSON.stringify({ MemberID: $('#MemberID').val(),CustomizedCategoryName: $('#CustomizedCategoryName').val(), SortNumber: $('#SortNumber').val() })
                    // console.log(jsonData)
                    $.ajax({
                        url: url,
                        type: 'POST',
                        contentType: 'application/json',
                        data: jsonData
                    }).done(function (data) {
                        alert("新增成功，編號為 " + data.customizedcategoryId)
                        load()
                        clearData()
                    })

                }



                $('#addModal').modal('hide')
            })

            ////編輯
            ////先將要修改的資料寫到Modal中
            $('#customizecategory>tbody').on('click', 'button:nth-child(1)', function () {
                // alert('編輯')
                const customizedcategoryId = $(this).parents('tr').find('td:nth-child(1)').text()
                const memberId = $(this).parents('tr').find('td:nth-child(2)').text()
                const customizedcategoryName = $(this).parents('tr').find('td:nth-child(3)').text()
                const sortNumber = $(this).parents('tr').find('td:nth-child(4)').text()

                $('#CustomizedCategoryID').val(customizedcategoryId)
                $('#MemberID').val(memberId)
                $('#CustomizedCategoryName').val(customizedcategoryName)
                $('#SortNumber').val(sortNumber)


            })

            //刪除
            $('#customizecategory>tbody').on('click', 'button:nth-child(2)', function () {

                const id = $(this).parents('tr').find('td:first-child').text()

                $.ajax({
                    url: url + "/" + id,
                    type: 'DELETE'
                }).done(function (data) {
                    alert("刪除成功，編號為 " + id)
                    load()
                })
            })


            function clearData() {
                $('input').val("")
            }

        </script>

}
