
@{
    ViewData["Title"] = "評價";
}

@section Styles{
    .dashed-divider {
        height: 1px;
        border-top: 1px dashed #dcdcdc;
    }
}


<style>
    .dashed-divider {
        height: 1px;
        border-top: 1px dashed #dcdcdc;
    }
</style>



    <div class="container">
        <div class="ps-2">
            <span class="mx-2 display-6"><a href="~/SalesCourt/賣場" class="text-primary">回賣場</a></span>
            <span class="mx-2 display-6"><a href="~/SalesCourt/關於我" class="text-primary">關於我</a></span>
        </div>
        @*<div class="ps-2"><a href="~/SalesCourt/關於我" class="text-primary">關於我</a></div>*@
        <div class="row">

            <div class="col-6 rounded-2" @*style="background-color:#e1d02c"*@>

                <div class="row">

                    <div class="col-4">
                        <img src="~/img/member.png" width="150" class="m-3" />
                        <div class="text-dark rounded-5  text-center m-4" style="background-color:#fb00ff">最愛賣家</div>
                    </div>
                    <div class="col-8">
                        <div>
                            <span><img src="~/img/YellowStar.png" width="80" /></span>
                            <span><img src="~/img/YellowStar.png" width="80" /></span>
                            <span><img src="~/img/YellowStar.png" width="80" /></span>
                        </div>
                        <div class="dashed-divider"></div>
                        <div class="ps-2 w-auto">
                            <span class="text-dark" style="font-size:2em">優良交易評價:</span>
                            <span class="text-danger" style="font-size:3em">37595</span>
                            <span class="text-dark" style="font-size:2em">則</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/truck.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">平均出貨天數:</a>
                            <span class="text-dark" style="font-size:1.5em">0.7天</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/follow.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">交關過會員數:</a>
                            <span class="text-dark" style="font-size:1.5em">15044次</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/fans.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">被加入最愛賣家次數:</a>
                            <span class="text-dark" style="font-size:1.5em">737次</span>
                        </div>
                        <div class="ps-2">
                            <img src="~/img/trashcan.png" width="30">
                            <a href="#" class="text-primary" style="font-size:1.5em">棄單次數:</a>
                            <span class="text-dark" style="font-size:1.5em">0次</span>
                        </div>

                    </div>


                </div>


            </div>

            <div class="col-6">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">1週之內</th>
                            <th scope="col">1個月之內</th>
                            <th scope="col">半年之內</th>
                            <th scope="col">全部紀錄</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr class="table-light">
                            <th scope="row"><img src="~/img/greencircle.png" width="20" /> 優良評價</th>
                            <td>241</td>
                            <td>1489</td>
                            <td>5587</td>
                            <td>37519</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row"><img src="~/img/bluetriangle.png" width="20" />普通評價</th>
                            <td>1</td>
                            <td>4</td>
                            <td>15</td>
                            <td>211</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row"><img src="~/img/redcross.png" width="20" />差勁評價</th>
                            <td>0</td>
                            <td>0</td>
                            <td>11</td>
                            <td>135</td>
                        </tr>
                        <tr class="table-secondary">
                            <th scope="row" height="30"></th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr class="table-light">
                            <th scope="row">評價次數</th>
                            <td>242</td>
                            <td>1093</td>
                            <td>5613</td>
                            <td>37865</td>
                        </tr>
                    </tbody>
                </table>
            </div>



        </div>


        <div class="row">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">收到他人的評價</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">來自買家的評價</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">來自賣家的評價</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">給他人的評價</a>
                </li>

            </ul>

        </div>

        <div class="row my-4 bg-opacity-50" style="background-color:#e1dcd7">

            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">綜合評價紀錄(5619)</a></div>
            </div>
            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">優良評價紀錄(5593)</a></div>
            </div>
            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">普通評價紀錄(15)</a></div>
            </div>
            <div class="col">
                <div class="ps-2"><a href="#" class="text-primary">差勁評價紀錄(11)</a></div>
            </div>

        </div>

        @{
            @for (int i = 0; i < 20; i++)
            {
                <div class="row rounded-5 bg-opacity-75" style="background-color:#f2f5ed">
                    @*<i class="fa-regular fa-circle"></i>*@
                    <div>
                        <img src="~/img/greencircle.png" width="20" />
                        <span class="text-dark" style="font-size:1.5em">買家:31987</span>
                    </div>

                    <div class="dashed-divider"></div>
                    <div class="ps-2" style="font-size:1.5em"><a href="#" class="text-primary">【24H出貨】(袋裝) 4米5噸 拖車繩 拉車繩 牽引繩 拖車繩 拖車索 拖車勾 拖車線 汽機車用品</a></div>

                    <div class="my-2 text-dark" style="font-size:1.5em">意見：	東西真的不錯耶...我好喜歡，謝謝啊~~ (2022-10-10 08:52:04)</div>
                </div>
            }

        }


        <nav aria-label="Page navigation example" class="justify-content-center d-flex m-5">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">«</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">»</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>
