
@{
    ViewData["Title"] = "關於我";
}

<h1>關於我</h1>

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />

    <style>
    </style>

</head>
<body>
    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark bg-warning">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">賣場資訊</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark bg-warning">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">付款方式</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>


        </div>
    </div>

    <div class="container">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark bg-warning">
            <div class="col-md-6 px-0">
                <h1 class="display-4 fst-italic">注意事項</h1>
                <p class="lead my-3">Multiple lines of text that form the lede, informing new readers quickly and efficiently about what’s most interesting in this post’s contents.</p>
                <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p>
            </div>


        </div>
    </div>
</body>
</html>