
@{
    ViewData["Title"] = "Discount";
}
<link href="~/css/LayoutUse.css" rel="stylesheet" />
<body>
    <div>
        <div class="container" >
            <figure class="figure" style="background-color:pink">
                <img class="figure-img img-fluid" src="" alt="折扣DM" />
            </figure>
        </div>
        <div class="split" style="background-color:yellow">
        </div>
        <div>
            <figure class="align-self-center">
                <img src="~/img/Event/Coupon.png" alt="折扣" />
            </figure>
        </div>
    </div>
</body>