@model prjiSpanFinal.ViewModels.Event.CouponViewModel
@{
    ViewData["Title"] = "Discount";
}
@section Styles{
    <link href="~/css/Event/Discount.css" rel="stylesheet" />
}
<body>
    <div>
        <div class="w-100 event-header">
            <img src="~/img/Event/EVENTDM.png" />
        </div>
        <div class="split">
        </div>
        <div>
        </div>
        <div>
            <div class="coupongroup">

                @foreach (var item in Model.cListShowCoupon)
                {
                    @await Component.InvokeAsync("EventCoupon", new { cs = item });
                }

            </div>
        </div>
    </div>
</body>
@section Scripts{
    <script src="~/js/Event/Coupon.js"></script>
    <script>

        let btn = document.querySelectorAll(".coupon-tag");
        btn.forEach(t => t.addEventListener("click", function (event) {
            //console.log(event.target);
            //console.log(event.target.querySelector('input').value);
            let couponid = event.target.querySelector('input').value;
            GetCoupon(event, couponid);
        }))
        function GetCoupon(event, couponid) {
            $.post('@Url.Content("~/Event/GetCoupon")', { "couponid": couponid }, function (data) {
        if (data == "1") {
            window.alert("已經領取過此券！");
            window.location = "/";
        }
        else if (data == "2") {
            window.alert("成功領券！");
            window.location = "/";
        }
        else {
            window.alert("尚未登入");
            window.location = "/Member/Login";
        }
    })
}
    </script>
}