@model prjiSpanFinal.ViewModels.Event.EventViewModel
@{
    ViewData["Title"] = "Event";
}

@section Styles{
    <link href="~/css/Event/Discount.css" rel="stylesheet" />
    <link href="~/css/Event/EventItemCard.css" rel="stylesheet" />
    <link href="~/css/ADitem.css" rel="stylesheet" />
    <link href="~/css/Event/EventProd.css" rel="stylesheet" />
}
<body>
    <div>
        <div class="w-100 event-header">
            @if (Model.Event.EventPic != null)
            {
                var base64Image = Convert.ToBase64String(Model.Event.EventPic);
                var source = String.Format("data:image/png;base64,{0}", base64Image);
                <img src="@source" alt="..." />
            }
        </div>
        <div id="eventDate"> 活動時間：@Model.Event.StartDate.ToString("yyyy/MM/dd") ～ @Model.Event.EndDate.ToString("yyyy/MM/dd")</div>
        @{
            if (DateTime.Now.CompareTo(Model.Event.EndDate) < 0)
            {

                <div class="split"></div>
                <div>
                    @if (Model.EventCoupons.Any())
                    {
                        <div class="coupongroup">
                            @foreach (var item in Model.EventCoupons)
                            {
                                @await Component.InvokeAsync("EventCoupon", new { showCoupon = item });
                            }
                        </div>
                    }
                </div>
                <div>
                    @if (Model.EventSubs.Any())
                    {
                        foreach (var Subs in Model.EventSubs)
                        {

                            @if (Subs.SubEventProducts.Any())
                            {
                                <div class="SubEventArea">
                                    <div class="SubEventTitle">@Subs.SubEvent.SubEventName</div>
                                    <div class="itemArea" id="itemArea">
                                        <div class="itemcol d-flex justify-content-center" id="itemcol">
                                            @await Component.InvokeAsync("EventItem", new { list = Subs.SubEventProducts })
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
            else
            {
                <div id="EventEndNoti">活動已結束</div>
            }
        }
    </div>
</body>
@section Scripts
{
    <script src="~/js/Event/Coupon.js"></script>
    @*優惠券*@
    <script>
        /*優惠券*/
        const evtCouponCount =@Model.EventCoupons.Count;

        if (evtCouponCount > 0) {
        let btn = document.querySelectorAll(".coupon-tag");
        btn.forEach(t => t.addEventListener("click", function (event) {
            let couponid = event.target.querySelector('input').value;
            GetCoupon(event, couponid);
        }))
            function GetCoupon(event, couponid) {
                $.post('@Url.Content("~/Event/GetCoupon")', { "couponid": couponid }, function (data) {
                    if (data == "1") {
                        Swal.fire({
                            icon: 'error',
                            title: '已領取過的優惠券',
                            text: '也許出了什麼錯誤，這個優惠券已經領過了...',
                        })
                    }
                    else if (data == "2") {
                        
                        Swal.fire({
                            icon: 'success',
                            title: '領取優惠券',
                            text: '快樂購物去囉',
                        }).then(function () {
                            location.reload();
                        })
                    }
                    else {
                        Swal.fire({
                            icon: 'warning',
                            title: '尚未登入',
                            text: '請登入帳號...',
                        }).then(function () {
                            window.location = "/Member/Login";
                        })
                    }
                })
            }
        }
    </script>
    <script>
        const eventid =@Model.Event.OfficialEventListId;


        $(document).ready(function () {
            if (eventid % 3 == 0) {
                $(".Setionset").css("background-color", "#4F9D9D");
                $("header").css("background-color", "#4F9D9D");
                console.log(eventid);
            }
            else if (eventid % 3 == 1) {
                $(".Setionset").css("background-color", "#0072E3");
                $("header").css("background-color", "#0072E3");
                console.log(eventid);
            }
            else if (eventid % 3 == 2) {
                $(".Setionset").css("background-color", "#7373B9");
                $("header").css("background-color", "#7373B9");
                console.log(eventid);
            }
        })
    </script>
}

