@model prjiSpanFinal.ViewModels.Event.FreshSalesViewModel
@{
    ViewData["Title"] = "FreshSales";
}
@section Styles{
    <link href="~/css/Event/Discount.css" rel="stylesheet" />
    <link href="~/css/Event/EventItemCard.css" rel="stylesheet" />
    <link href="~/css/ADitem.css" rel="stylesheet" />
    <link href="~/css/Event/FSsalesProd.css" rel="stylesheet" />
}
<body>
    <div>
        <div class="w-100 event-header">
            @if (Model.Event.EventPic != null)
            {
                var base64Image = Convert.ToBase64String(Model.Event.EventPic);
                var source = String.Format("data:image/png;base64,{0}", base64Image);
                <img src="@source" alt="..." />
            }
        </div>
        

        <div class="w-100">
            <div class="menu-bar d-flex text-center">
                <div class="menu active" id="first">
                    00:00
                <input type="hidden" value="1" />
                </div>
                <div class="menu" id="second">
                    12:00
                    <input type="hidden" value="2" />
                </div>
            </div>
            <div id="eventDate"> 活動時間：@Model.Event.StartDate.ToString("yyyy/MM/dd") ～ @Model.Event.EndDate.ToString("yyyy/MM/dd")</div>
            @{
                if (DateTime.Now.CompareTo(Model.Event.EndDate) < 0)
                {
                    <div class="card-body d-flex justify-content-center" id="ItemArea">

                    </div>
                }
                else
                {
                    <div class="endEvent">
                        <div>活動已結束</div>
                    </div>
                }
            }
        </div>
    </div>
</body>
@section Scripts{
    <script>

    const eveid = @Model.Event.OfficialEventListId;
    let num = 1;
        let today = new Date();
        let time;
        const toFixedWithoutZeros = (num, precision) =>
            num.toFixed(precision).replace(/\.0+$/, '');
        let nowTime =
            [
                [0, 11, "上午"],
                [12, 23, "下午"],
            ];
        $(document).ready(getEventFSItems);


        $(".menu").click(function () {
            $(".active").removeClass("active");
            $(this).addClass("active");

            hr = new Date().getHours();

            for (var i = 0; i < nowTime.length; i++)
            {
                if (hr >= nowTime[i][0] && hr <= nowTime[i][1]) {
                    time = nowTime[i][2]
                }
            }
            num = $(this).find("input").val();
            getEventFSItems();
        })

    function getEventFSItems() {
        $.post('/Event/getEventFSItem', { num: num, eid: eveid }, function (data) {
            //console.log(data);
            fillEventFSItems(data);
        })
    }

        function fillEventFSItems(data) {
            $("#ItemArea").html("");
        let res = "";
            if (data.length > 0) {
                console.log(data)
            for (let ele of data) {
                let discount = toFixedWithoutZeros(ele.discount * 10, 2);
                let percent = ele.percentage + "%";
                let productLink = `@Url.Content("~/Item/Index")`+"?id=" + ele.product.productId;
                res += `<div class="sellsitem ">
            <a class="linknoline sellsitem-imgbox" href="${productLink}">`;
                res += `<input type="hidden" value="${ele.product.ProductId}" />`;
                if (num == 2 && time == "上午") {
                    res += ` <div class="ItemIcon DiscountIcon">???</div>`;
                }
                else if (num == 1 && time == "下午") {

                    res += ` <div class="ItemIcon DiscountIcon">${discount} 折</div>`;
                }
                else {
                res += ` <div class="ItemIcon DiscountIcon">
                ${discount} 折
                    </div>`;
                }
                if (ele.pic != null)
                {
                    res += ` <img src="data:image;base64,${ele.pic}" class="cardImg" alt="..." />`;
                }
                else
                {
                    res += `<img src="/img/imageNotFound.png" class="cardImg" alt="此商品沒有圖片" />`;
                }

                res += `</a>
            <div class="px-1 d-flex flex-column justify-content-between cardInfoArea">
                <div class="cardTitleBox">
                    <div class="cardTitle ">${ele.product.productName}</div>
                </div>
                <div class="cardInfo">`;

                if (num == 2 && time=="上午")
                {
                    res += `<div class="cardPrice">活動尚未開始...</div>`;
                }
                else if (num == 1 && time=="下午") {

                    res += `<div class="cardPrice">活動已經結束...</div>`;
                }
                else
                {
                    if (ele.price.length == 1)
                    {

                        res += `<div class="cardPriceDiscount">$${Math.round(ele.price[0])}</div>`;
                    }
                    else
                    {
                        res += `<div class="cardPriceDiscount">$${Math.round(ele.price[0])} - $${Math.round(ele.price[1])}</div>`;
                    }
                    if (ele.price.length == 1)
                    {
                        let discountPrice = Math.round(ele.price[0] * ele.discount);
                        res += `<div class="cardPrice">$${discountPrice}</div>
                        <div class="FS-container"><div class="FS-progress" style="width:${percent}"></div>`;
                        if (ele.percentage > 50) {
                            res += `< div class="FS-onFireBOX"><img class="FS-onFire" src="~/img/Homepage/SellsOnFire.png" /></div>`;
                        }
                        res += ` <div class="FS-soldbar">售出 ${ele.sales}</div></div>`;
                    }   
                    else
                    {
                        let discountPrice = Math.round(ele.price[0] * ele.discount);
                        let discountPrice2 = Math.round(ele.price[1] * ele.discount);
                        res += `<div class="cardPrice">$${discountPrice} - $${discountPrice2}</div>
                        <div class="FS-container"><div class="FS-progress" style="width:${percent}"></div>`;
                        if (ele.percentage > 50) {
                            res += `< div class="FS-onFireBOX"><img class="FS-onFire" src="~/img/Homepage/SellsOnFire.png" /></div>`;
                        }
                        res += ` <div class="FS-soldbar">售出 ${ele.sales}</div></div>`;
                    }
                }
                res += `</div></div></div>`;
            }
        }
        else {
            res += `<div>活動尚待新增商品</div>`;
            }
            $("#ItemArea").html(res);
    }
    </script>

}
