
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<style>
    .sellerName {
        background-color: #84C1FF;
        font-size: 1.5em;
        font-weight: bold;
    }

    .sellerName + div {
        width: 100%;
        background-color: #ECF5FF;
    }

    .description {
        line-height: 40px;
        text-align: justify;
        width: 80%;
        margin: 0 auto;
    }

    .productImg {
        width: 100%;
        aspect-ratio: 1/1;
        width: 80%;
        margin: 0 auto;
    }

    .productImg img {
        width: 100%;
        aspect-ratio: 1/1;
        object-fit: contain;
        margin-top: 5px;
    }
</style>
<div class="rounded-2">
    <div class="sellerName">林小偉<span>的商店</span></div>
    <div>
        <div class="description">
            🎇台灣PD快充行動電源🎇



            行動電源超多種，還在使用傳統的型充嗎?太lol啦！

            全新體驗新的急速充電行動電源，使用一次就愛上😍



            充電速度整整提升80%以上，充電更快速😱

            平板筆電手機一起來，出門更不用擔心學業公事

            小小一顆帶來超級強大的功能，又薄又小很好攜帶👌

            超大容量台灣製造的品牌給你品質的保證和更耐用的電量呦💯



            小編超強烈推薦這款全新3A極速快充

            給你最好最有效率的充電系統，絕對超有感

            認證合格的全新3A極速快充有USB、Type C孔

            重點！！還有電量顯示！！不用再看警示燈來猜電量

            小編最喜歡的部分就是這款可以充平板啦！不會再顯示不支援

            LED顯示電量，在暗處也能看個明白，不再擔心沒心理準備就沒電了

            外殼非常的有質感~鋁合金摸起來的手感超級好，就連顏色都非常的美呦



            【全新3A嚴選極速行動充】

            💯全新3A

            💯極速充電

            💯電量顯示

            💯台灣製造

            💯鋁合金美殼

            💯內建照明燈

            💯數位顯示電量

            💯台灣合格認證
        </div>
        @{ 
            int count = 1;
            for (int i = 1; i<=3;i++)
            {
                count++;
                string imgSrc = $"~/img/product0{count}.png";
                <div class="productImg"><img src="@imgSrc" /></div>
            }
        }
    </div>
    
</div>


