@model List<int>
@{
    ViewData["Title"] = "BiddingItemHome";
}

<h1>蝦到爆競標</h1>

<div>
    @await Component.InvokeAsync("ShowSelectedBiddingItems", new { biddingIDs = Model })
</div>




@section Scripts{
    <script src="@Url.Content("~/js/Item/ShowItemCountdown.js")"></script>
    <script src="@Url.Content("~/js/ShowSelectedBiddingItems.js")"></script>

}
