<div class="p-2 layoutheader1bg text-white keeppos" id="header1">
    <div class="container-lg">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <div class="text-end navlog">
                <a class="res me-2 linknoline" href="@Url.Content("~/Home/Index")">
                    登出
                </a>
            </div>
        </div>
        <!--/帳號登入/創建-->
    </div>
</div>

