<div class="row ">
    <div class="col-1"></div>
    <div class="col-11 ">
        <div class="ordersearchbar" >
            <input type="text" class="form-control rounded" placeholder="搜尋訂單" aria-label="Search" aria-describedby="search-addon" style="display: inline; width: 400px;" />
            <span>
                <input id="startDate" class="form-control orderdatepicker" type="date" /> ~ <input id="endDate" class="form-control orderdatepicker" type="date" /> <input id="btnDate" class="btn btn-primary" value="搜尋" type="button" />
            </span>
        </div>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">總覽</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">未結帳</a>
            </li>
            @{
                if (Model == 0)
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">待出貨</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="#">已結帳</a>
                    </li>
                }
            }
            <li class="nav-item">
                <a class="nav-link" href="#">已出貨</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">已到貨</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">退貨處理中</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">待評價</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">已完成</a>
            </li>
        </ul>
        <table id="ordertable" class="table table-hover dataTable">
            <thead>
                <tr>
                    <td class="th-sm sorting" id="orderid">訂單資料</td>
                    <td class="th-sm sorting sorting_desc" id="ordertime">結帳時間</td>
                    <td>商品詳情</td>
                    <td class="th-sm sorting" id="ordersales">訂單金額</td>
                    <td>訂單狀態</td>
                    <td>操作</td>
                </tr>
            </thead>
            <tbody>
                @for (int i = 10; i >= 1; i--)
                {
                    <tr>
                        @{
                            if (Model == 0)
                            {
                                <td>@i<br /><a class="namenounderline" href="#">customer87</a></td>
                            }
                            else
                            {
                                <td>@i<br /><a class="namenounderline" href="#">shop9487</a></td>
                            }
                        }
                        <td>2022/10/10<br />10:10:10</td>
                        <td>
                            <img src="~/img/蘋果圖.jpg" width="80" height="80" /> 蘋果 紅色 *1 $30<br />
                            <img src="~/img/banana.jpg" width="80" height="80" /> 香蕉 金黃色 *1 $60<br />
                            <img src="~/img/蘋果圖.jpg" width="80" height="80" /> 蘋果 尊爵不凡美麗鮮紅色 *1 $120
                        </td>
                        <td>$210</td>
                        <td><a href="~/Delivery/AddComment">待評價</a></td>
                        <td><button type="button" class="btn btn-primary orderbutton">訂單詳情</button><br /><button type="button" class="btn btn-secondary orderbutton">待給評價</button></td>
                    </tr>
                }
            </tbody>
        </table>
        <div class="row ">
            <div class="col-4"></div>
            <div class="col-8">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">6</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>